@model IEnumerable<MvcPhoenix.Models.GHSDetail>

<div class="input-group" title="Show/Hide Language Phrases">
    <label class="input-group-addon">Language Filter</label>
    <input type="text" id="langInput" class="form-control" onkeyup="filterPhrases()" placeholder="Filter Language" value="EN" maxlength="2">
</div>

<div class="panel panel-primary" style="margin-bottom:-10px;">
    <div class="panel-body">
        <div class="table-responsive">
            <table id="phraselist" class="table table-striped">
                <thead>
                    <tr>
                        <th class="parent-hide"></th>
                        <th class="parent-hide">Exclude</th>
                        <th>P & H Code</th>
                        <th>Language</th>
                        <th>Statement</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="parent-hide">
                                @Ajax.ActionLink(" ", "DeletePHDetail", new { id = item.PHDetailID }, new AjaxOptions
                                   {
                                       HttpMethod = "POST",
                                       UpdateTargetId = "dvDetailPHCodes",
                                       OnSuccess = "RefreshDetailPH"
                                   }, new { @class = "fa fa-fw fa-lg fa-minus-circle", @style = "color: red; text-decoration: none;", @title = "Delete PH Code" })
                            </td>
                            <td class="parent-hide">
                                <input type="checkbox" name="ExcludeFromLabel" value="@item.ExcludeFromLabel" checked="@item.ExcludeFromLabel" class="checkbox-inline" disabled />
                                @if (item.ExcludeFromLabel == null || item.ExcludeFromLabel.Value == false)
                                {
                                    @Ajax.ActionLink(" ", "ExcludePH", new { id = item.PHDetailID, isChecked = true }, new AjaxOptions
                                       {
                                           HttpMethod = "POST",
                                           UpdateTargetId = "dvDetailPHCodes",
                                           OnSuccess = "RefreshDetailPH"
                                       }, new { @class = "fa fa-fw fa-lg fa-minus-circle", @style = "text-decoration: none;", @title = "Exclude From Label" })
                                }
                                else
                                {
                                    @Ajax.ActionLink(" ", "ExcludePH", new { id = item.PHDetailID, isChecked = false }, new AjaxOptions
                                       {
                                           HttpMethod = "POST",
                                           UpdateTargetId = "dvDetailPHCodes",
                                           OnSuccess = "RefreshDetailPH"
                                       }, new { @class = "fa fa-fw fa-lg fa-plus-circle", @style = "text-decoration: none;", @title = "Add To Label" })
                                }
                            </td>
                            <td>@item.PHNumber</td>
                            <td>@item.Language</td>
                            <td>
                                @item.PHStatement
                                @Ajax.ActionLink(" ", "EditPHSource", "GHS", new { phnumber = item.PHNumber, lang = item.Language }, new AjaxOptions
                                   {
                                       HttpMethod = "GET",
                                       UpdateTargetId = "dialogPlaceholder",
                                       OnSuccess = "$('#editphsourcemodal').modal('show')"
                                   }, new { @class = "fa fa-fw fa-lg fa-pencil", @title = "Edit PH Source" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    // Initial filter on load to display only English selected phrases
    (function () {
        document.getElementById("langInput").value = "EN";
        filterPhrases();
    })();

    // Filter selected phrases by language initials
    function filterPhrases() {
        var input, filter, table, tr, td, i;

        input = document.getElementById("langInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("phraselist");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>