@model IEnumerable<MvcPhoenix.Models.vmGHSDetail>

<div class="panel panel-primary" style="margin-bottom:-10px;">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="parent-hide"></th>
                        <th class="parent-hide">Exclude</th>
                        <th>P & H Code</th>
                        <th>Language</th>
                        <th>Statement</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="parent-hide">
                                @Ajax.ActionLink(" ", "DeletePHDetail", new { id = item.PHDetailID }, new AjaxOptions
                                   {
                                       Confirm = "Are you sure you wish to delete " + item.PHNumber + "?",
                                       HttpMethod = "POST",
                                       UpdateTargetId = "dvDetailPHCodes",
                                       OnSuccess = "RefreshDetailPH",
                                       OnComplete = "successDeleteDialog"
                                   }, new { @class = "fa fa-fw fa-lg fa-minus-circle", @style = "color: red; text-decoration: none;", @title = "Delete PH Code" })
                            </td>

                            <td class="parent-hide">
                                <input type="checkbox" name="ExcludeFromLabel" value="@item.ExcludeFromLabel" checked="@item.ExcludeFromLabel" class="checkbox-inline" disabled />
                                @if (item.ExcludeFromLabel == null || item.ExcludeFromLabel.Value == false)
                                {
                                    @Ajax.ActionLink(" ", "ExcludePH", new { id = item.PHDetailID, isChecked = true }, new AjaxOptions
                                       {
                                           HttpMethod = "POST",
                                           UpdateTargetId = "dvDetailPHCodes",
                                           OnSuccess = "RefreshDetailPH"
                                       }, new { @class = "fa fa-fw fa-lg fa-minus-circle", @style = "text-decoration: none;", @title = "Exclude From Label" })
                                }
                                else
                                {
                                    @Ajax.ActionLink(" ", "ExcludePH", new { id = item.PHDetailID, isChecked = false }, new AjaxOptions
                                       {
                                           HttpMethod = "POST",
                                           UpdateTargetId = "dvDetailPHCodes",
                                           OnSuccess = "RefreshDetailPH"
                                       }, new { @class = "fa fa-fw fa-lg fa-plus-circle", @style = "text-decoration: none;", @title = "Add To Label" })
                                }
                            </td>
                            <td>@item.PHNumber</td>
                            <td>@item.Language</td>
                            <td>@item.PHStatement</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function successDeleteDialog() {
        $.alert('P&H Code Deleted!', 'Success');
    }
</script>