@model MvcPhoenix.Models.GHSViewModel
@{
    ViewBag.Title = "GHS Information";
    Model.ProductDetailID = @ViewBag.ParentID;
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title: <small>@ViewBag.productcode - @ViewBag.productname</small>
            </h1>
        </div>
    </div>
    <!-- /.Page Heading -->

    <div class="form-group row">
        <div class="col-md-12">
            <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Product Edit", "Edit", "Products", new { id = @ViewBag.ParentID }, null)
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-suitcase fa-fw"></i> Label Information - Global Harmonized System</h3>
        </div>
        <div class="panel-body">
            @using (Ajax.BeginForm("Save", "GHS", new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "successSaveDialog"
            }))
            {
                @Html.HiddenFor(m => m.GHSID)
                @Html.HiddenFor(m => m.ProductDetailID)

                <div class="row form-group">
                    <div class="col-md-2">
                        <label>GHS Signal Word</label>
                        @Html.DropDownListFor(m => m.GHSSignalWord, new SelectList(Enum.GetValues(typeof(ApplicationService.GHSSignalWordChoice))), new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <label>GHS Symbol 1</label>
                        @Html.DropDownListFor(m => m.GHSSymbol1, new SelectList(Enum.GetValues(typeof(ApplicationService.GHSSymbolChoice))), new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <label>GHS Symbol 2</label>
                        @Html.DropDownListFor(m => m.GHSSymbol2, new SelectList(Enum.GetValues(typeof(ApplicationService.GHSSymbolChoice))), new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <label>GHS Symbol 3</label>
                        @Html.DropDownListFor(m => m.GHSSymbol3, new SelectList(Enum.GetValues(typeof(ApplicationService.GHSSymbolChoice))), new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <label>GHS Symbol 4</label>
                        @Html.DropDownListFor(m => m.GHSSymbol4, new SelectList(Enum.GetValues(typeof(ApplicationService.GHSSymbolChoice))), new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <label>GHS Symbol 5</label>
                        @Html.DropDownListFor(m => m.GHSSymbol5, new SelectList(Enum.GetValues(typeof(ApplicationService.GHSSymbolChoice))), new { @class = "form-control" })
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <label>Other Label Information</label>
                        @Html.TextAreaFor(m => m.OtherLabelInfo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OtherLabelInfo)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 pull-right">
                        <input type="submit" class="btn btn-primary btn-block" value="Save" />
                    </div>
                </div>
            }
            <hr />

            <div class="row">
                <div class="col-md-6">
                    <label>P & H Statements</label>
                    @using (Ajax.BeginForm("Search", "GHS", new AjaxOptions
                    {
                        UpdateTargetId = "dvSearchPHCodes",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST"
                    }))
                    {
                        <div class="input-group">
                            @Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = "Search...", @required = "required" })
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    }

                    <div id="dvSearchPHCodes"></div>
                </div>
                <div id="dvDetailPHCodes" class="col-md-6">
                    <label class="invisible">Selected Phrases</label>
                    @Html.Action("Detail", "GHS", Model.ProductDetailID)
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function RefreshDetailPH() {
        $("#dvDetailPHCodes").load('@Url.Action("Detail", "GHS", new { id = @Html.Raw(Json.Encode(Model.ProductDetailID)) })');
    }

    function successSaveDialog() {
        $.alert('GHS Information Saved!', 'Success');
    }
</script>