@model MvcPhoenix.Models.InvoiceViewModel
@{
    ViewBag.Title = "Edit Invoice";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="cmc logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title: <small>@Html.DisplayFor(m => m.InvoiceId) for @Html.DisplayFor(m => m.ClientName) - @Html.DisplayFor(m => m.BillingGroup)</small> </h1>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <div class="pull-left">
                <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Invoice Main", "Index")
            </div>
            <div style="text-align:center;">
                <span id="dvTopMessage" style="color:green;font-weight:bold;"> @TempData["SaveResult"]</span><!-- show message after save -->
                <div class="pull-right">
                    <a href="@Url.Action("PrintInvoice", "Invoice", new { id = Model.InvoiceId })" target="_blank"><i class="fa fa-fw fa-print"></i> Download Print Version</a>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("SaveInvoice", "Invoice", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.InvoiceId)
        @Html.HiddenFor(m => m.BillingGroup)
        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.ClientName)
        @Html.HiddenFor(m => m.Status)
        @Html.HiddenFor(m => m.Tier)
        @Html.HiddenFor(m => m.OrderType)
        @Html.HiddenFor(m => m.InvoiceDate)
        @Html.HiddenFor(m => m.NetTerm)
        @Html.HiddenFor(m => m.InvoicePeriod)
        @Html.HiddenFor(m => m.InvoiceStartDate)
        @Html.HiddenFor(m => m.InvoiceEndDate)
        @Html.HiddenFor(m => m.CreatedBy)
        @Html.HiddenFor(m => m.CreateDate)

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">TERMS</div>
                    <div class="panel-body">
                        <b>Invoice Number:</b> @Html.DisplayFor(m => m.InvoiceNumber)<br>
                        <b>Invoice Date:</b> @Model.InvoiceDate.Value.ToString("d")<br>
                        <b>PO Number:</b>  @Html.TextBoxFor(m => m.PONumber, new { @style = "height: 70%; border-style:none", @placeholder = "Enter PO# Here" })<br />
                        <b>@Html.DisplayFor(m => m.NetTerm)</b>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">BILL TO</div>
                    <div class="panel-body" style="margin-bottom: -10px;">
                        @Html.TextAreaFor(m => m.BillTo, new { @class = "form-control", @rows = "4" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">REMIT TO</div>
                    <div class="panel-body" style="margin-bottom: -10px;">
                        @Html.TextAreaFor(m => m.RemitTo, new { @class = "form-control", @rows = "4" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <b>Invoice Period:</b> @Html.DisplayFor(m => m.InvoicePeriod)
                                <span class="pull-right">
                                    <b title="Invoice Range">@Html.DisplayFor(m => m.InvoiceStartDate) - @Html.DisplayFor(m => m.InvoiceEndDate)</b>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div id="masterinvoicecalc" class="table-responsive col-md-6">
                                <h3>Master Invoice</h3>
                                <table class="table table-hover table-striped">
                                    <tr>
                                        <th>Number of Samples</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.TotalSamples, "{0:N0}", new { @class = "pull-right", @style = "width: 100px; text-align: right;", @data_cell = "A1", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.TotalSamples)
                                            @Html.ValidationMessageFor(m => m.TotalSamples)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <abbr title="SAMP, HAZD, FLAM, HEAT, REFR, FREZ, CLEN, BLND, NALG, NITR, BIOC, KOSH, LABL">Totals Cost of Processing Samples</abbr>
                                        </th>
                                        <td>
                                            @Html.TextBoxFor(m => m.TotalCostSamples, new { @class = "pull-right", @style = "width: 100px; text-align: right;", @data_cell = "B1", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.TotalCostSamples)
                                            @Html.ValidationMessageFor(m => m.TotalCostSamples)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <abbr title="CFRT">Freight</abbr>
                                        </th>
                                        <td>
                                            @Html.TextBoxFor(m => m.TotalFreight, new { @class = "pull-right", @style = "width: 100px; text-align: right;", @data_cell = "C1", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.TotalFreight)
                                            @Html.ValidationMessageFor(m => m.TotalFreight)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <abbr title="SFRT">Freight Hazardous Surcharge</abbr>
                                        </th>
                                        <td>
                                            @Html.TextBoxFor(m => m.TotalFrtHzdSchg, new { @class = "pull-right", @style = "width: 100px; text-align: right;", @data_cell = "D1", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.TotalFrtHzdSchg)
                                            @Html.ValidationMessageFor(m => m.TotalFrtHzdSchg)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <abbr title="All Others">Service Charges</abbr>
                                        </th>
                                        <td>
                                            @Html.TextBoxFor(m => m.TotalServiceCharge, new { @class = "pull-right", @style = "width: 100px; text-align: right;", @data_cell = "E1", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.TotalServiceCharge)
                                            @Html.ValidationMessageFor(m => m.TotalServiceCharge)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Total Due</th>
                                        <th>
                                            @Html.TextBoxFor(m => m.TotalDue, new { @class = "pull-right", @style = "width: 100px; text-align: right;", @readonly = "readonly", @data_cell = "F1" })
                                            @Html.HiddenFor(m => m.TotalDue)
                                            @Html.ValidationMessageFor(m => m.TotalDue)
                                        </th>
                                    </tr>
                                </table>
                            </div>
                            <div class="table-responsive col-md-6">
                                <h3>Total Shipping Performance</h3>
                                <table class="table table-hover table-striped">
                                    <tr>
                                        <th>Same Day</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.SampleShipSameDay, new { @class = "pull-right", @style = "width: 100px; text-align: right;", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.SampleShipSameDay)
                                            @Html.ValidationMessageFor(m => m.SampleShipSameDay)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Next Day</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.SampleShipNextDay, new { @class = "pull-right", @style = "width: 100px; text-align: right;", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.SampleShipNextDay)
                                            @Html.ValidationMessageFor(m => m.SampleShipNextDay)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Second Day</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.SampleShipSecondDay, new { @class = "pull-right", @style = "width: 100px; text-align: right;", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.SampleShipSecondDay)
                                            @Html.ValidationMessageFor(m => m.SampleShipSecondDay)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Other</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.SampleShipOther, new { @class = "pull-right", @style = "width: 100px; text-align: right;", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.SampleShipOther)
                                            @Html.ValidationMessageFor(m => m.SampleShipOther)
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Service Charge Worksheet</h3>
                            </div>
                            <div class="col-md-6">
                                <span class="pull-right">
                                    <b>Location: </b>@Html.DropDownListFor(m => m.WarehouseLocation, new SelectList(Enum.GetValues(typeof(ApplicationService.CMCLocationChoice)))) |
                                    <b>Currency: </b>@Html.DropDownListFor(m => m.Currency, new SelectList(Enum.GetValues(typeof(ApplicationService.CurrencyChoice)))) |
                                    <b>Tier: </b>@Html.DisplayFor(m => m.Tier)
                                </span>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div id="samplestab" class="tab-pane fade in active">
                                <div class="table-responsive form-group" id="billingworksheetcalc">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 75%">Charge Item</th>
                                                <th>Quantity</th>
                                                <th>Rate</th>
                                                <th>Charge</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="4"><b>Fixed Charges</b></td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Air Hazard Only</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.AirHzdOnlyQuantity, new { @style = "width: 100px", @data_cell = "G1" })
                                                    @Html.ValidationMessageFor(m => m.AirHzdOnlyQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.AirHzdOnlyRate, new { @style = "width: 100px", @data_cell = "H1" })
                                                    @Html.ValidationMessageFor(m => m.AirHzdOnlyRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.AirHzdOnlyCharge, new { @style = "width: 100px", @data_cell = "I1" })
                                                    @Html.ValidationMessageFor(m => m.AirHzdOnlyCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Certificate Of Origin</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CertificateOfOriginQuantity, new { @style = "width: 100px", @data_cell = "G2" })
                                                    @Html.ValidationMessageFor(m => m.CertificateOfOriginQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CertificateOfOriginRate, new { @style = "width: 100px", @data_cell = "H2" })
                                                    @Html.ValidationMessageFor(m => m.CertificateOfOriginRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CertificateOfOriginCharge, new { @style = "width: 100px", @data_cell = "I2" })
                                                    @Html.ValidationMessageFor(m => m.CertificateOfOriginCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">CMC Pack</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CMCPackQuantity, new { @style = "width: 100px", @data_cell = "G3" })
                                                    @Html.ValidationMessageFor(m => m.CMCPackQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CMCPackRate, new { @style = "width: 100px", @data_cell = "H3" })
                                                    @Html.ValidationMessageFor(m => m.CMCPackRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CMCPackCharge, new { @style = "width: 100px", @data_cell = "I3" })
                                                    @Html.ValidationMessageFor(m => m.CMCPackCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Cool Pack</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CoolPackQuantity, new { @style = "width: 100px", @data_cell = "G4" })
                                                    @Html.ValidationMessageFor(m => m.CoolPackQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CoolPackRate, new { @style = "width: 100px", @data_cell = "H4" })
                                                    @Html.ValidationMessageFor(m => m.CoolPackRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CoolPackCharge, new { @style = "width: 100px", @data_cell = "I4" })
                                                    @Html.ValidationMessageFor(m => m.CoolPackCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Credit Card Fee</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CreditCardFeeQuantity, new { @style = "width: 100px", @data_cell = "G5" })
                                                    @Html.ValidationMessageFor(m => m.CreditCardFeeQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CreditCardFeeRate, new { @style = "width: 100px", @data_cell = "H5" })
                                                    @Html.ValidationMessageFor(m => m.CreditCardFeeRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CreditCardFeeCharge, new { @style = "width: 100px", @data_cell = "I5" })
                                                    @Html.ValidationMessageFor(m => m.CreditCardFeeCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Credit Card Order</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CreditCardOrderQuantity, new { @style = "width: 100px", @data_cell = "G6" })
                                                    @Html.ValidationMessageFor(m => m.CreditCardOrderQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CreditCardOrderRate, new { @style = "width: 100px", @data_cell = "H6" })
                                                    @Html.ValidationMessageFor(m => m.CreditCardOrderRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CreditCardOrderCharge, new { @style = "width: 100px", @data_cell = "I6" })
                                                    @Html.ValidationMessageFor(m => m.CreditCardOrderCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Documentation Handling</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.DocumentationHandlingQuantity, new { @style = "width: 100px", @data_cell = "G7" })
                                                    @Html.ValidationMessageFor(m => m.DocumentationHandlingQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.DocumentationHandlingRate, new { @style = "width: 100px", @data_cell = "H7" })
                                                    @Html.ValidationMessageFor(m => m.DocumentationHandlingRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.DocumentationHandlingCharge, new { @style = "width: 100px", @data_cell = "I7" })
                                                    @Html.ValidationMessageFor(m => m.DocumentationHandlingCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Empty Packaging</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.EmptyPackagingQuantity, new { @style = "width: 100px", @data_cell = "G8" })
                                                    @Html.ValidationMessageFor(m => m.EmptyPackagingQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.EmptyPackagingRate, new { @style = "width: 100px", @data_cell = "H8" })
                                                    @Html.ValidationMessageFor(m => m.EmptyPackagingRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.EmptyPackagingCharge, new { @style = "width: 100px", @data_cell = "I8" })
                                                    @Html.ValidationMessageFor(m => m.EmptyPackagingCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">External System</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ExternalSystemQuantity, new { @style = "width: 100px", @data_cell = "G9" })
                                                    @Html.ValidationMessageFor(m => m.ExternalSystemQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ExternalSystemRate, new { @style = "width: 100px", @data_cell = "H9" })
                                                    @Html.ValidationMessageFor(m => m.ExternalSystemRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ExternalSystemCharge, new { @style = "width: 100px", @data_cell = "I9" })
                                                    @Html.ValidationMessageFor(m => m.ExternalSystemCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Follow Up Order</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.FollowUpOrderQuantity, new { @style = "width: 100px", @data_cell = "G10" })
                                                    @Html.ValidationMessageFor(m => m.FollowUpOrderQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.FollowUpOrderRate, new { @style = "width: 100px", @data_cell = "H10" })
                                                    @Html.ValidationMessageFor(m => m.FollowUpOrderRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.FollowUpOrderCharge, new { @style = "width: 100px", @data_cell = "I10" })
                                                    @Html.ValidationMessageFor(m => m.FollowUpOrderCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Freezer Pack</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.FreezerPackQuantity, new { @style = "width: 100px", @data_cell = "G11" })
                                                    @Html.ValidationMessageFor(m => m.FreezerPackQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.FreezerPackRate, new { @style = "width: 100px", @data_cell = "H11" })
                                                    @Html.ValidationMessageFor(m => m.FreezerPackRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.FreezerPackCharge, new { @style = "width: 100px", @data_cell = "I11" })
                                                    @Html.ValidationMessageFor(m => m.FreezerPackCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">GHS Labels</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.GHSLabelsQuantity, new { @style = "width: 100px", @data_cell = "G12" })
                                                    @Html.ValidationMessageFor(m => m.GHSLabelsQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.GHSLabelsRate, new { @style = "width: 100px", @data_cell = "H12" })
                                                    @Html.ValidationMessageFor(m => m.GHSLabelsRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.GHSLabelsCharge, new { @style = "width: 100px", @data_cell = "I12" })
                                                    @Html.ValidationMessageFor(m => m.GHSLabelsCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Inactive Products</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.InactiveProductsQuantity, new { @style = "width: 100px", @data_cell = "G13" })
                                                    @Html.ValidationMessageFor(m => m.InactiveProductsQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.InactiveProductsRate, new { @style = "width: 100px", @data_cell = "H13" })
                                                    @Html.ValidationMessageFor(m => m.InactiveProductsRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.InactiveProductsCharge, new { @style = "width: 100px", @data_cell = "I13" })
                                                    @Html.ValidationMessageFor(m => m.InactiveProductsCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Isolation</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.IsolationQuantity, new { @style = "width: 100px", @data_cell = "G14" })
                                                    @Html.ValidationMessageFor(m => m.IsolationQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.IsolationRate, new { @style = "width: 100px", @data_cell = "H14" })
                                                    @Html.ValidationMessageFor(m => m.IsolationRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.IsolationCharge, new { @style = "width: 100px", @data_cell = "I14" })
                                                    @Html.ValidationMessageFor(m => m.IsolationCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Isolation Box</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.IsolationBoxQuantity, new { @style = "width: 100px", @data_cell = "G15" })
                                                    @Html.ValidationMessageFor(m => m.IsolationBoxQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.IsolationBoxRate, new { @style = "width: 100px", @data_cell = "H15" })
                                                    @Html.ValidationMessageFor(m => m.IsolationBoxRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.IsolationBoxCharge, new { @style = "width: 100px", @data_cell = "I15" })
                                                    @Html.ValidationMessageFor(m => m.IsolationBoxCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">IT Fee</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ITFeeQuantity, new { @style = "width: 100px", @data_cell = "G16" })
                                                    @Html.ValidationMessageFor(m => m.ITFeeQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ITFeeRate, new { @style = "width: 100px", @data_cell = "H16" })
                                                    @Html.ValidationMessageFor(m => m.ITFeeRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ITFeeCharge, new { @style = "width: 100px", @data_cell = "I16" })
                                                    @Html.ValidationMessageFor(m => m.ITFeeCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Label Maintainance</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelMaintainanceQuantity, new { @style = "width: 100px", @data_cell = "G17" })
                                                    @Html.ValidationMessageFor(m => m.LabelMaintainanceQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelMaintainanceRate, new { @style = "width: 100px", @data_cell = "H17" })
                                                    @Html.ValidationMessageFor(m => m.LabelMaintainanceRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelMaintainanceCharge, new { @style = "width: 100px", @data_cell = "I17" })
                                                    @Html.ValidationMessageFor(m => m.LabelMaintainanceCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Label Stock</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelStockQuantity, new { @style = "width: 100px", @data_cell = "G18" })
                                                    @Html.ValidationMessageFor(m => m.LabelStockQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelStockRate, new { @style = "width: 100px", @data_cell = "H18" })
                                                    @Html.ValidationMessageFor(m => m.LabelStockRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelStockCharge, new { @style = "width: 100px", @data_cell = "I18" })
                                                    @Html.ValidationMessageFor(m => m.LabelStockCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Labels Printed</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelsPrintedQuantity, new { @style = "width: 100px", @data_cell = "G19" })
                                                    @Html.ValidationMessageFor(m => m.LabelsPrintedQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelsPrintedRate, new { @style = "width: 100px", @data_cell = "H19" })
                                                    @Html.ValidationMessageFor(m => m.LabelsPrintedRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelsPrintedCharge, new { @style = "width: 100px", @data_cell = "I19" })
                                                    @Html.ValidationMessageFor(m => m.LabelsPrintedCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Labor Relabel</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LaborRelabelQuantity, new { @style = "width: 100px", @data_cell = "G20" })
                                                    @Html.ValidationMessageFor(m => m.LaborRelabelQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LaborRelabelRate, new { @style = "width: 100px", @data_cell = "H20" })
                                                    @Html.ValidationMessageFor(m => m.LaborRelabelRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LaborRelabelCharge, new { @style = "width: 100px", @data_cell = "I20" })
                                                    @Html.ValidationMessageFor(m => m.LaborRelabelCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Literature Fee</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LiteratureFeeQuantity, new { @style = "width: 100px", @data_cell = "G21" })
                                                    @Html.ValidationMessageFor(m => m.LiteratureFeeQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LiteratureFeeRate, new { @style = "width: 100px", @data_cell = "H21" })
                                                    @Html.ValidationMessageFor(m => m.LiteratureFeeRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LiteratureFeeCharge, new { @style = "width: 100px", @data_cell = "I21" })
                                                    @Html.ValidationMessageFor(m => m.LiteratureFeeCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Limited Quantity</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LimitedQtyQuantity, new { @style = "width: 100px", @data_cell = "G22" })
                                                    @Html.ValidationMessageFor(m => m.LimitedQtyQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LimitedQtyRate, new { @style = "width: 100px", @data_cell = "H22" })
                                                    @Html.ValidationMessageFor(m => m.LimitedQtyRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LimitedQtyCharge, new { @style = "width: 100px", @data_cell = "I22" })
                                                    @Html.ValidationMessageFor(m => m.LimitedQtyCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Manual Handling</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ManualHandlingQuantity, new { @style = "width: 100px", @data_cell = "G23" })
                                                    @Html.ValidationMessageFor(m => m.ManualHandlingQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ManualHandlingRate, new { @style = "width: 100px", @data_cell = "H23" })
                                                    @Html.ValidationMessageFor(m => m.ManualHandlingRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ManualHandlingCharge, new { @style = "width: 100px", @data_cell = "I23" })
                                                    @Html.ValidationMessageFor(m => m.ManualHandlingCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">MSDS Prints</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.MSDSPrintsQuantity, new { @style = "width: 100px", @data_cell = "G24" })
                                                    @Html.ValidationMessageFor(m => m.MSDSPrintsQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.MSDSPrintsRate, new { @style = "width: 100px", @data_cell = "H24" })
                                                    @Html.ValidationMessageFor(m => m.MSDSPrintsRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.MSDSPrintsCharge, new { @style = "width: 100px", @data_cell = "I24" })
                                                    @Html.ValidationMessageFor(m => m.MSDSPrintsCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">New Label Setup</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.NewLabelSetupQuantity, new { @style = "width: 100px", @data_cell = "G25" })
                                                    @Html.ValidationMessageFor(m => m.NewLabelSetupQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.NewLabelSetupRate, new { @style = "width: 100px", @data_cell = "H25" })
                                                    @Html.ValidationMessageFor(m => m.NewLabelSetupRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.NewLabelSetupCharge, new { @style = "width: 100px", @data_cell = "I25" })
                                                    @Html.ValidationMessageFor(m => m.NewLabelSetupCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">New Product Setup</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.NewProductSetupQuantity, new { @style = "width: 100px", @data_cell = "G26" })
                                                    @Html.ValidationMessageFor(m => m.NewProductSetupQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.NewProductSetupRate, new { @style = "width: 100px", @data_cell = "H26" })
                                                    @Html.ValidationMessageFor(m => m.NewProductSetupRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.NewProductSetupCharge, new { @style = "width: 100px", @data_cell = "I26" })
                                                    @Html.ValidationMessageFor(m => m.NewProductSetupCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Oberk Pack</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.OberkPackQuantity, new { @style = "width: 100px", @data_cell = "G27" })
                                                    @Html.ValidationMessageFor(m => m.OberkPackQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.OberkPackRate, new { @style = "width: 100px", @data_cell = "H27" })
                                                    @Html.ValidationMessageFor(m => m.OberkPackRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.OberkPackCharge, new { @style = "width: 100px", @data_cell = "I27" })
                                                    @Html.ValidationMessageFor(m => m.OberkPackCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Order Entry</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.OrderEntryQuantity, new { @style = "width: 100px", @data_cell = "G28" })
                                                    @Html.ValidationMessageFor(m => m.OrderEntryQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.OrderEntryRate, new { @style = "width: 100px", @data_cell = "H28" })
                                                    @Html.ValidationMessageFor(m => m.OrderEntryRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.OrderEntryCharge, new { @style = "width: 100px", @data_cell = "I28" })
                                                    @Html.ValidationMessageFor(m => m.OrderEntryCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Over Pack</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.OverPackQuantity, new { @style = "width: 100px", @data_cell = "G29" })
                                                    @Html.ValidationMessageFor(m => m.OverPackQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.OverPackRate, new { @style = "width: 100px", @data_cell = "H29" })
                                                    @Html.ValidationMessageFor(m => m.OverPackRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.OverPackCharge, new { @style = "width: 100px", @data_cell = "I29" })
                                                    @Html.ValidationMessageFor(m => m.OverPackCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Pallet Return</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.PalletReturnQuantity, new { @style = "width: 100px", @data_cell = "G30" })
                                                    @Html.ValidationMessageFor(m => m.PalletReturnQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.PalletReturnRate, new { @style = "width: 100px", @data_cell = "H30" })
                                                    @Html.ValidationMessageFor(m => m.PalletReturnRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.PalletReturnCharge, new { @style = "width: 100px", @data_cell = "I30" })
                                                    @Html.ValidationMessageFor(m => m.PalletReturnCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Poison Pack</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.PoisonPackQuantity, new { @style = "width: 100px", @data_cell = "G31" })
                                                    @Html.ValidationMessageFor(m => m.PoisonPackQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.PoisonPackRate, new { @style = "width: 100px", @data_cell = "H31" })
                                                    @Html.ValidationMessageFor(m => m.PoisonPackRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.PoisonPackCharge, new { @style = "width: 100px", @data_cell = "I31" })
                                                    @Html.ValidationMessageFor(m => m.PoisonPackCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Product Setup Changes</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ProductSetupChangesQuantity, new { @style = "width: 100px", @data_cell = "G32" })
                                                    @Html.ValidationMessageFor(m => m.ProductSetupChangesQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ProductSetupChangesRate, new { @style = "width: 100px", @data_cell = "H32" })
                                                    @Html.ValidationMessageFor(m => m.ProductSetupChangesRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ProductSetupChangesCharge, new { @style = "width: 100px", @data_cell = "I32" })
                                                    @Html.ValidationMessageFor(m => m.ProductSetupChangesCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">QC Storage</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.QCStorageQuantity, new { @style = "width: 100px", @data_cell = "G33" })
                                                    @Html.ValidationMessageFor(m => m.QCStorageQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.QCStorageRate, new { @style = "width: 100px", @data_cell = "H33" })
                                                    @Html.ValidationMessageFor(m => m.QCStorageRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.QCStorageCharge, new { @style = "width: 100px", @data_cell = "I33" })
                                                    @Html.ValidationMessageFor(m => m.QCStorageCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">R&amp;D Handling ADR</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RDHandlingADRQuantity, new { @style = "width: 100px", @data_cell = "G34" })
                                                    @Html.ValidationMessageFor(m => m.RDHandlingADRQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RDHandlingADRRate, new { @style = "width: 100px", @data_cell = "H34" })
                                                    @Html.ValidationMessageFor(m => m.RDHandlingADRRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RDHandlingADRCharge, new { @style = "width: 100px", @data_cell = "I34" })
                                                    @Html.ValidationMessageFor(m => m.RDHandlingADRCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">R&amp;D Handling IATA</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RDHandlingIATAQuantity, new { @style = "width: 100px", @data_cell = "G35" })
                                                    @Html.ValidationMessageFor(m => m.RDHandlingIATAQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RDHandlingIATARate, new { @style = "width: 100px", @data_cell = "H35" })
                                                    @Html.ValidationMessageFor(m => m.RDHandlingIATARate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RDHandlingIATACharge, new { @style = "width: 100px", @data_cell = "I35" })
                                                    @Html.ValidationMessageFor(m => m.RDHandlingIATACharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">R&amp;D Handling LQ</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RDHandlingLQQuantity, new { @style = "width: 100px", @data_cell = "G36" })
                                                    @Html.ValidationMessageFor(m => m.RDHandlingLQQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RDHandlingLQRate, new { @style = "width: 100px", @data_cell = "H36" })
                                                    @Html.ValidationMessageFor(m => m.RDHandlingLQRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RDHandlingLQCharge, new { @style = "width: 100px", @data_cell = "I36" })
                                                    @Html.ValidationMessageFor(m => m.RDHandlingLQCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">R&amp;D Handling Non Hazard</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RDHandlingNonHzdQuantity, new { @style = "width: 100px", @data_cell = "G37" })
                                                    @Html.ValidationMessageFor(m => m.RDHandlingNonHzdQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RDHandlingNonHzdRate, new { @style = "width: 100px", @data_cell = "H37" })
                                                    @Html.ValidationMessageFor(m => m.RDHandlingNonHzdRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RDHandlingNonHzdCharge, new { @style = "width: 100px", @data_cell = "I37" })
                                                    @Html.ValidationMessageFor(m => m.RDHandlingNonHzdCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Refrigerator Storage</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RefrigeratorStorageQuantity, new { @style = "width: 100px", @data_cell = "G38" })
                                                    @Html.ValidationMessageFor(m => m.RefrigeratorStorageQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RefrigeratorStorageRate, new { @style = "width: 100px", @data_cell = "H38" })
                                                    @Html.ValidationMessageFor(m => m.RefrigeratorStorageRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RefrigeratorStorageCharge, new { @style = "width: 100px", @data_cell = "I38" })
                                                    @Html.ValidationMessageFor(m => m.RefrigeratorStorageCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Relabels</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RelabelsQuantity, new { @style = "width: 100px", @data_cell = "G39" })
                                                    @Html.ValidationMessageFor(m => m.RelabelsQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RelabelsRate, new { @style = "width: 100px", @data_cell = "H39" })
                                                    @Html.ValidationMessageFor(m => m.RelabelsRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RelabelsCharge, new { @style = "width: 100px", @data_cell = "I39" })
                                                    @Html.ValidationMessageFor(m => m.RelabelsCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Rush Shipment</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RushShipmentQuantity, new { @style = "width: 100px", @data_cell = "G40" })
                                                    @Html.ValidationMessageFor(m => m.RushShipmentQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RushShipmentRate, new { @style = "width: 100px", @data_cell = "H40" })
                                                    @Html.ValidationMessageFor(m => m.RushShipmentRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RushShipmentCharge, new { @style = "width: 100px", @data_cell = "I40" })
                                                    @Html.ValidationMessageFor(m => m.RushShipmentCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">SPA 197 Applied</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.SPA197AppliedQuantity, new { @style = "width: 100px", @data_cell = "G41" })
                                                    @Html.ValidationMessageFor(m => m.SPA197AppliedQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.SPA197AppliedRate, new { @style = "width: 100px", @data_cell = "H41" })
                                                    @Html.ValidationMessageFor(m => m.SPA197AppliedRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.SPA197AppliedCharge, new { @style = "width: 100px", @data_cell = "I41" })
                                                    @Html.ValidationMessageFor(m => m.SPA197AppliedCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">SPS Paid Order</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.SPSPaidOrderQuantity, new { @style = "width: 100px", @data_cell = "G42" })
                                                    @Html.ValidationMessageFor(m => m.SPSPaidOrderQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.SPSPaidOrderRate, new { @style = "width: 100px", @data_cell = "H42" })
                                                    @Html.ValidationMessageFor(m => m.SPSPaidOrderRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.SPSPaidOrderCharge, new { @style = "width: 100px", @data_cell = "I42" })
                                                    @Html.ValidationMessageFor(m => m.SPSPaidOrderCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">UN Box</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.UNBoxQuantity, new { @style = "width: 100px", @data_cell = "G43" })
                                                    @Html.ValidationMessageFor(m => m.UNBoxQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.UNBoxRate, new { @style = "width: 100px", @data_cell = "H43" })
                                                    @Html.ValidationMessageFor(m => m.UNBoxRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.UNBoxCharge, new { @style = "width: 100px", @data_cell = "I43" })
                                                    @Html.ValidationMessageFor(m => m.UNBoxCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">Warehouse Storage</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WarehouseStorageQuantity, new { @style = "width: 100px", @data_cell = "G44" })
                                                    @Html.ValidationMessageFor(m => m.WarehouseStorageQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WarehouseStorageRate, new { @style = "width: 100px", @data_cell = "H44" })
                                                    @Html.ValidationMessageFor(m => m.WarehouseStorageRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WarehouseStorageCharge, new { @style = "width: 100px", @data_cell = "I44" })
                                                    @Html.ValidationMessageFor(m => m.WarehouseStorageCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="">WHMIS Labels</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WHMISLabelsQuantity, new { @style = "width: 100px", @data_cell = "G45" })
                                                    @Html.ValidationMessageFor(m => m.WHMISLabelsQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WHMISLabelsRate, new { @style = "width: 100px", @data_cell = "H45" })
                                                    @Html.ValidationMessageFor(m => m.WHMISLabelsRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WHMISLabelsCharge, new { @style = "width: 100px", @data_cell = "I45" })
                                                    @Html.ValidationMessageFor(m => m.WHMISLabelsCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4"><b>Variable Charges</b></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">Administrative Waste Fee</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.AdministrativeWasteFeeCharge, new { @style = "width: 100px", @data_cell = "I46" })
                                                    @Html.ValidationMessageFor(m => m.AdministrativeWasteFeeCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">Credit</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CreditCharge, new { @style = "width: 100px", @data_cell = "I47" })
                                                    @Html.ValidationMessageFor(m => m.CreditCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">Customs Documents</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CustomsDocumentsCharge, new { @style = "width: 100px", @data_cell = "I48" })
                                                    @Html.ValidationMessageFor(m => m.CustomsDocumentsCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">Delivery Duties &amp; Taxes</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.DeliveryDutiesTaxesCharge, new { @style = "width: 100px", @data_cell = "I49" })
                                                    @Html.ValidationMessageFor(m => m.DeliveryDutiesTaxesCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">Documents</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.DocumentsCharge, new { @style = "width: 100px", @data_cell = "I50" })
                                                    @Html.ValidationMessageFor(m => m.DocumentsCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">Handling</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.HandlingCharge, new { @style = "width: 100px", @data_cell = "I51" })
                                                    @Html.ValidationMessageFor(m => m.HandlingCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">Maut Fuel</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.MautFuel, new { @style = "width: 100px", @data_cell = "I52" })
                                                    @Html.ValidationMessageFor(m => m.MautFuel)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">Miscellaneous Labor</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.MiscellaneousLaborCharge, new { @style = "width: 100px", @data_cell = "I53" })
                                                    @Html.ValidationMessageFor(m => m.MiscellaneousLaborCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">Other</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.OtherCharge, new { @style = "width: 100px", @data_cell = "I54" })
                                                    @Html.ValidationMessageFor(m => m.OtherCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">Waste Processing</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WasteProcessingCharge, new { @style = "width: 100px", @data_cell = "I55" })
                                                    @Html.ValidationMessageFor(m => m.WasteProcessingCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4"></td>
                                            </tr>
                                            <tr>
                                                <th>Service Charge Grand Total</th>
                                                <th></th>
                                                <th></th>
                                                <th>
                                                    @Html.TextBoxFor(m => m.GrandTotalCharge, new { @style = "width: 100px", @data_cell = "I56" })
                                                    @Html.ValidationMessageFor(m => m.GrandTotalCharge)
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label>General Invoice Comments &amp; Notes</label>
                                        @Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        @if (Model.VerifiedAccuracy == false || Model.VerifiedAccuracy == null)
                                        {
                                            @Html.CheckBox("verifiedaccuracy", Model.VerifiedAccuracy != null && (bool)Model.VerifiedAccuracy, new { @class = "checkbox-inline" })
                                            <label class="control-label">Check to verify invoice accuracy</label>
                                        }
                                        @if (Model.VerifiedAccuracy == true)
                                        {
                                            <em>Invoice accuracy verified by @Html.DisplayFor(m => m.VerifiedBy) on @Html.DisplayFor(m => m.VerifiedDate)</em>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        if (Model.VerifiedAccuracy == false || Model.VerifiedAccuracy == null)
        {
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="submit" value="Save Changes" class="btn btn-success btn-block" />
                </div>
            </div>
        }

        <div class="row">
            <div class="col-lg-12">
                <span><i class="fa fa-arrow-circle-up"></i> <a href="#top">Back to Top</a></span>
                <span class="pull-right"><a href="#top">Back to Top</a> <i class="fa fa-arrow-circle-up"></i></span>
            </div>
        </div>
        <div class="form-group row center-block">
            <div class="col-md-12 text-center" id="dvspinner" style="display:none; font-size:large">
                <i class="fa fa-circle-o-notch fa-5x fa-spin"></i> Saving Invoice...
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    CKEDITOR.inline('BillTo');
    CKEDITOR.inline('RemitTo');

    // Worksheet calculation
    $('#billingworksheetcalc').calx({
        data: {
            I1: { formula: 'G1*H1' },
            I2: { formula: 'G2*H2' },
            I3: { formula: 'G3*H3' },
            I4: { formula: 'G4*H4' },
            I5: { formula: 'G5*H5' },
            I6: { formula: 'G6*H6' },
            I7: { formula: 'G7*H7' },
            I8: { formula: 'G8*H8' },
            I9: { formula: 'G9*H9' },
            I10: { formula: 'G10*H10' },
            I11: { formula: 'G11*H11' },
            I12: { formula: 'G12*H12' },
            I13: { formula: 'G13*H13' },
            I14: { formula: 'G14*H14' },
            I15: { formula: 'G15*H15' },
            I16: { formula: 'G16*H16' },
            I17: { formula: 'G17*H17' },
            I18: { formula: 'G18*H18' },
            I19: { formula: 'G19*H19' },
            I20: { formula: 'G20*H20' },
            I21: { formula: 'G21*H21' },
            I22: { formula: 'G22*H22' },
            I23: { formula: 'G23*H23' },
            I24: { formula: 'G24*H24' },
            I25: { formula: 'G25*H25' },
            I26: { formula: 'G26*H26' },
            I27: { formula: 'G27*H27' },
            I28: { formula: 'G28*H28' },
            I29: { formula: 'G29*H29' },
            I30: { formula: 'G30*H30' },
            I31: { formula: 'G31*H31' },
            I32: { formula: 'G32*H32' },
            I33: { formula: 'G33*H33' },
            I34: { formula: 'G34*H34' },
            I35: { formula: 'G35*H35' },
            I36: { formula: 'G36*H36' },
            I37: { formula: 'G37*H37' },
            I38: { formula: 'G38*H38' },
            I39: { formula: 'G39*H39' },
            I40: { formula: 'G40*H40' },
            I41: { formula: 'G41*H41' },
            I42: { formula: 'G42*H42' },
            I43: { formula: 'G43*H43' },
            I44: { formula: 'G44*H44' },
            I45: { formula: 'G45*H45' },
            I56: { formula: 'SUM(I1:I55)' }
        }
    })
</script>