@model MvcPhoenix.Models.InvoiceViewModel
@{
    ViewBag.Title = "Edit Invoice";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="cmc logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title: <small>@Html.DisplayFor(m => m.InvoiceId) for @Html.DisplayFor(m => m.ClientName) - @Html.DisplayFor(m => m.BillingGroup)</small> </h1>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <div class="pull-left">
                <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Invoice Main", "Index")
            </div>
            <div style="text-align:center;">
                <span id="dvTopMessage" style="color:green;font-weight:bold;"> @TempData["SaveResult"]</span><!-- show message after save -->
                <div class="pull-right">
                    <a href="#"><i class="fa fa-fw fa-print"></i> Download Print Version</a>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("SaveInvoice", "Invoice", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.InvoiceId)
        @Html.HiddenFor(m => m.BillingGroup)
        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.ClientName)
        @Html.HiddenFor(m => m.Status)
        @Html.HiddenFor(m => m.Tier)
        @Html.HiddenFor(m => m.OrderType)
        @Html.HiddenFor(m => m.InvoiceDate)
        @Html.HiddenFor(m => m.NetTerm)
        @Html.HiddenFor(m => m.InvoicePeriod)
        @Html.HiddenFor(m => m.InvoiceStartDate)
        @Html.HiddenFor(m => m.InvoiceEndDate)
        @Html.HiddenFor(m => m.CreatedBy)
        @Html.HiddenFor(m => m.CreateDate)

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">TERMS</div>
                    <div class="panel-body">
                        <b>Invoice Number:</b> @Html.DisplayFor(m => m.InvoiceNumber)<br>
                        <b>Invoice Date:</b> @Model.InvoiceDate.Value.ToString("d")<br>
                        <b>PO Number:</b>  @Html.TextBoxFor(m => m.PONumber, new { @style = "height: 70%; border-style:none", @placeholder = "Enter PO# Here" })<br />
                        <b>@Html.DisplayFor(m => m.NetTerm)</b>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">BILL TO</div>
                    <div class="panel-body" style="margin-bottom: -10px;">
                        @Html.TextAreaFor(m => m.BillTo, new { @class = "form-control", @rows = "4" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">REMIT TO</div>
                    <div class="panel-body" style="margin-bottom: -10px;">
                        @Html.TextAreaFor(m => m.RemitTo, new { @class = "form-control", @rows = "4" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <b>Invoice Period:</b> @Html.DisplayFor(m => m.InvoicePeriod)
                                <span class="pull-right">
                                    <b title="Invoice Range">@Html.DisplayFor(m => m.InvoiceStartDate) - @Html.DisplayFor(m => m.InvoiceEndDate)</b>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div id="masterinvoicecalc" class="table-responsive col-md-6">
                                <h3>Master Invoice</h3>
                                <table class="table table-hover table-striped">
                                    <tr>
                                        <th>Number of Samples</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.TotalSamples, "{0:N0}", new { @class = "pull-right", @style = "width: 100px", @data_cell = "A1", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.TotalSamples)
                                            @Html.ValidationMessageFor(m => m.TotalSamples)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <abbr title="SAMP, HAZD, FLAM, HEAT, REFR, FREZ, CLEN, BLND, NALG, NITR, BIOC, KOSH, LABL">Totals Cost of Processing Samples</abbr>
                                        </th>
                                        <td>
                                            @Html.TextBoxFor(m => m.TotalCostSamples, new { @class = "pull-right", @style = "width: 100px", @data_cell = "B1", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.TotalCostSamples)
                                            @Html.ValidationMessageFor(m => m.TotalCostSamples)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <abbr title="CFRT">Freight</abbr>
                                        </th>
                                        <td>
                                            @Html.TextBoxFor(m => m.TotalFreight, new { @class = "pull-right", @style = "width: 100px", @data_cell = "C1", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.TotalFreight)
                                            @Html.ValidationMessageFor(m => m.TotalFreight)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <abbr title="SFRT">Freight Harzardous Surcharge</abbr>
                                        </th>
                                        <td>
                                            @Html.TextBoxFor(m => m.TotalFrtHzdSchg, new { @class = "pull-right", @style = "width: 100px", @data_cell = "D1", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.TotalFrtHzdSchg)
                                            @Html.ValidationMessageFor(m => m.TotalFrtHzdSchg)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <abbr title="All Others">Administrative Charges</abbr>
                                        </th>
                                        <td>
                                            @Html.TextBoxFor(m => m.TotalAdminCharge, new { @class = "pull-right", @style = "width: 100px", @data_cell = "E1", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.TotalAdminCharge)
                                            @Html.ValidationMessageFor(m => m.TotalAdminCharge)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Total Due</th>
                                        <th>
                                            @Html.TextBoxFor(m => m.TotalDue, new { @class = "pull-right", @style = "width: 100px", @readonly = "readonly", @data_cell = "F1" })
                                            @Html.HiddenFor(m => m.TotalDue)
                                            @Html.ValidationMessageFor(m => m.TotalDue)
                                        </th>
                                    </tr>
                                </table>
                            </div>

                            <div class="table-responsive col-md-6">
                                <h3>Total Shipping Performance</h3>
                                <table class="table table-hover table-striped">
                                    <tr>
                                        <th>Same Day</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.SampleShipSameDay, new { @class = "pull-right", @style = "width: 100px", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.SampleShipSameDay)
                                            @Html.ValidationMessageFor(m => m.SampleShipSameDay)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Next Day</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.SampleShipNextDay, new { @class = "pull-right", @style = "width: 100px", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.SampleShipNextDay)
                                            @Html.ValidationMessageFor(m => m.SampleShipNextDay)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Second Day</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.SampleShipSecondDay, new { @class = "pull-right", @style = "width: 100px", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.SampleShipSecondDay)
                                            @Html.ValidationMessageFor(m => m.SampleShipSecondDay)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Other</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.SampleShipOther, new { @class = "pull-right", @style = "width: 100px", disabled = "disabled" })
                                            @Html.HiddenFor(m => m.SampleShipOther)
                                            @Html.ValidationMessageFor(m => m.SampleShipOther)
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Billing Worksheet</h3>
                            </div>
                            <div class="col-md-6">
                                <span class="pull-right">
                                    <b>Location: </b>@Html.DropDownListFor(m => m.WarehouseLocation, new SelectList(Enum.GetValues(typeof(ApplicationService.CMCLocationChoice)))) |
                                    <b>Currency: </b>@Html.DropDownListFor(m => m.Currency, new SelectList(Enum.GetValues(typeof(ApplicationService.CurrencyChoice)))) |
                                    <b>Tier: </b>@Html.DisplayFor(m => m.Tier)
                                </span>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div id="samplestab" class="tab-pane fade in active">
                                <div class="table-responsive form-group" id="billingworksheetcalc">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 75%">Charge Item</th>
                                                <th>Quantity</th>
                                                <th>Rate</th>
                                                <th>Charge</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><abbr title="Empty container charges">Empty Packaging</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.EmptyPackagingQuantity, new { @style = "width: 100px", @data_cell = "G1" })
                                                    @Html.ValidationMessageFor(m => m.EmptyPackagingQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.EmptyPackagingRate, new { @style = "width: 100px", @data_cell = "G2" })
                                                    @Html.ValidationMessageFor(m => m.EmptyPackagingRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.EmptyPackagingCharge, new { @style = "width: 100px", @data_cell = "G3" })
                                                    @Html.ValidationMessageFor(m => m.EmptyPackagingCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Handling charges">Handling</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.HandlingQuantity, new { @style = "width: 100px", @data_cell = "H1" })
                                                    @Html.ValidationMessageFor(m => m.HandlingQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.HandlingRate, new { @style = "width: 100px", @data_cell = "H2" })
                                                    @Html.ValidationMessageFor(m => m.HandlingRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.HandlingCharge, new { @style = "width: 100px", @data_cell = "H3" })
                                                    @Html.ValidationMessageFor(m => m.HandlingCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Inactive products charges">Inactive Products</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.InactiveProductsQuantity, new { @style = "width: 100px", @data_cell = "I1" })
                                                    @Html.ValidationMessageFor(m => m.InactiveProductsQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.InactiveProductsRate, new { @style = "width: 100px", @data_cell = "I2" })
                                                    @Html.ValidationMessageFor(m => m.InactiveProductsRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.InactiveProductsCharge, new { @style = "width: 100px", @data_cell = "I3" })
                                                    @Html.ValidationMessageFor(m => m.InactiveProductsCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Product maintainance charge">Product Setup Changes</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ProductSetupChangesQuantity, new { @style = "width: 100px", @data_cell = "J1" })
                                                    @Html.ValidationMessageFor(m => m.ProductSetupChangesQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ProductSetupChangesRate, new { @style = "width: 100px", @data_cell = "J2" })
                                                    @Html.ValidationMessageFor(m => m.ProductSetupChangesRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ProductSetupChangesCharge, new { @style = "width: 100px", @data_cell = "J3" })
                                                    @Html.ValidationMessageFor(m => m.ProductSetupChangesCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Miscellaneous labor charges">Miscellaneous Labor</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.MiscellaneousLaborQuantity, new { @style = "width: 100px", @data_cell = "K1" })
                                                    @Html.ValidationMessageFor(m => m.MiscellaneousLaborQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.MiscellaneousLaborRate, new { @style = "width: 100px", @data_cell = "K2" })
                                                    @Html.ValidationMessageFor(m => m.MiscellaneousLaborRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.MiscellaneousLaborCharge, new { @style = "width: 100px", @data_cell = "K3" })
                                                    @Html.ValidationMessageFor(m => m.MiscellaneousLaborCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Number of follow up orders charge">Follow Up Order</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.FollowUpOrderQuantity, new { @style = "width: 100px", @data_cell = "L1" })
                                                    @Html.ValidationMessageFor(m => m.FollowUpOrderQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.FollowUpOrderRate, new { @style = "width: 100px", @data_cell = "L2" })
                                                    @Html.ValidationMessageFor(m => m.FollowUpOrderRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.FollowUpOrderCharge, new { @style = "width: 100px", @data_cell = "L3" })
                                                    @Html.ValidationMessageFor(m => m.FollowUpOrderCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Refrigerator storage fee">Refrigerator Storage</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RefrigeratorStorageQuantity, new { @style = "width: 100px", @data_cell = "M1" })
                                                    @Html.ValidationMessageFor(m => m.RefrigeratorStorageQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RefrigeratorStorageRate, new { @style = "width: 100px", @data_cell = "M2" })
                                                    @Html.ValidationMessageFor(m => m.RefrigeratorStorageRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RefrigeratorStorageCharge, new { @style = "width: 100px", @data_cell = "M3" })
                                                    @Html.ValidationMessageFor(m => m.RefrigeratorStorageCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="GHS label charge">GHS Labels</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.GHSLabelsQuantity, new { @style = "width: 100px", @data_cell = "N1" })
                                                    @Html.ValidationMessageFor(m => m.GHSLabelsQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.GHSLabelsRate, new { @style = "width: 100px", @data_cell = "N2" })
                                                    @Html.ValidationMessageFor(m => m.GHSLabelsRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.GHSLabelsCharge, new { @style = "width: 100px", @data_cell = "N3" })
                                                    @Html.ValidationMessageFor(m => m.GHSLabelsCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="IT hour charge">IT Fee</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ITFeeQuantity, new { @style = "width: 100px", @data_cell = "O1" })
                                                    @Html.ValidationMessageFor(m => m.ITFeeQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ITFeeRate, new { @style = "width: 100px", @data_cell = "O2" })
                                                    @Html.ValidationMessageFor(m => m.ITFeeRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ITFeeCharge, new { @style = "width: 100px", @data_cell = "O3" })
                                                    @Html.ValidationMessageFor(m => m.ITFeeCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Labels printed charge">Labels Printed</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelsPrintedQuantity, new { @style = "width: 100px", @data_cell = "P1" })
                                                    @Html.ValidationMessageFor(m => m.LabelsPrintedQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelsPrintedRate, new { @style = "width: 100px", @data_cell = "P2" })
                                                    @Html.ValidationMessageFor(m => m.LabelsPrintedRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelsPrintedCharge, new { @style = "width: 100px", @data_cell = "P3" })
                                                    @Html.ValidationMessageFor(m => m.LabelsPrintedCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Relabel labor charge">Labor Relabel</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LaborRelabelQuantity, new { @style = "width: 100px", @data_cell = "Q1" })
                                                    @Html.ValidationMessageFor(m => m.LaborRelabelQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LaborRelabelRate, new { @style = "width: 100px", @data_cell = "Q2" })
                                                    @Html.ValidationMessageFor(m => m.LaborRelabelRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LaborRelabelCharge, new { @style = "width: 100px", @data_cell = "Q3" })
                                                    @Html.ValidationMessageFor(m => m.LaborRelabelCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Monthly literature fee">Literature Fee</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LiteratureQuantity, new { @style = "width: 100px", @data_cell = "R1" })
                                                    @Html.ValidationMessageFor(m => m.LiteratureQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LiteratureRate, new { @style = "width: 100px", @data_cell = "R2" })
                                                    @Html.ValidationMessageFor(m => m.LiteratureRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LiteratureCharge, new { @style = "width: 100px", @data_cell = "R3" })
                                                    @Html.ValidationMessageFor(m => m.LiteratureCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Label stock charge">Label Stock</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelStockQuantity, new { @style = "width: 100px", @data_cell = "S1" })
                                                    @Html.ValidationMessageFor(m => m.LabelStockQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelStockRate, new { @style = "width: 100px", @data_cell = "S2" })
                                                    @Html.ValidationMessageFor(m => m.LabelStockRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelStockCharge, new { @style = "width: 100px", @data_cell = "S3" })
                                                    @Html.ValidationMessageFor(m => m.LabelStockCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Label maintenance charge">Label Maintainance</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelMaintainanceQuantity, new { @style = "width: 100px", @data_cell = "T1" })
                                                    @Html.ValidationMessageFor(m => m.LabelMaintainanceQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelMaintainanceRate, new { @style = "width: 100px", @data_cell = "T2" })
                                                    @Html.ValidationMessageFor(m => m.LabelMaintainanceRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.LabelMaintainanceCharge, new { @style = "width: 100px", @data_cell = "T3" })
                                                    @Html.ValidationMessageFor(m => m.LabelMaintainanceCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="# of MSDS pages printed charge">MSDS Prints</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.MSDSPrintsQuantity, new { @style = "width: 100px", @data_cell = "U1" })
                                                    @Html.ValidationMessageFor(m => m.MSDSPrintsQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.MSDSPrintsRate, new { @style = "width: 100px", @data_cell = "U2" })
                                                    @Html.ValidationMessageFor(m => m.MSDSPrintsRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.MSDSPrintsCharge, new { @style = "width: 100px", @data_cell = "U3" })
                                                    @Html.ValidationMessageFor(m => m.MSDSPrintsCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="New label set up charge">New Label Setup</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.NewLabelSetupQuantity, new { @style = "width: 100px", @data_cell = "V1" })
                                                    @Html.ValidationMessageFor(m => m.NewLabelSetupQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.NewLabelSetupRate, new { @style = "width: 100px", @data_cell = "V2" })
                                                    @Html.ValidationMessageFor(m => m.NewLabelSetupRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.NewLabelSetupCharge, new { @style = "width: 100px", @data_cell = "V3" })
                                                    @Html.ValidationMessageFor(m => m.NewLabelSetupCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="New product set up charge">New Product Setup</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.NewProductSetupQuantity, new { @style = "width: 100px", @data_cell = "W1" })
                                                    @Html.ValidationMessageFor(m => m.NewProductSetupQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.NewProductSetupRate, new { @style = "width: 100px", @data_cell = "W2" })
                                                    @Html.ValidationMessageFor(m => m.NewProductSetupRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.NewProductSetupCharge, new { @style = "width: 100px", @data_cell = "W3" })
                                                    @Html.ValidationMessageFor(m => m.NewProductSetupCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Other than any of these choices">Other</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.OtherQuantity, new { @style = "width: 100px", @data_cell = "X1" })
                                                    @Html.ValidationMessageFor(m => m.OtherQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.OtherRate, new { @style = "width: 100px", @data_cell = "X2" })
                                                    @Html.ValidationMessageFor(m => m.OtherRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.OtherCharge, new { @style = "width: 100px", @data_cell = "X3" })
                                                    @Html.ValidationMessageFor(m => m.OtherCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Pallet return charge">Pallet Return</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.PalletReturnQuantity, new { @style = "width: 100px", @data_cell = "Y1" })
                                                    @Html.ValidationMessageFor(m => m.PalletReturnQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.PalletReturnRate, new { @style = "width: 100px", @data_cell = "Y2" })
                                                    @Html.ValidationMessageFor(m => m.PalletReturnRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.PalletReturnCharge, new { @style = "width: 100px", @data_cell = "Y3" })
                                                    @Html.ValidationMessageFor(m => m.PalletReturnCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="QC storage charges">QC Storage</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.QCStorageQuantity, new { @style = "width: 100px", @data_cell = "Z1" })
                                                    @Html.ValidationMessageFor(m => m.QCStorageQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.QCStorageRate, new { @style = "width: 100px", @data_cell = "Z2" })
                                                    @Html.ValidationMessageFor(m => m.QCStorageRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.QCStorageCharge, new { @style = "width: 100px", @data_cell = "Z3" })
                                                    @Html.ValidationMessageFor(m => m.QCStorageCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Relabel label charge">Relabels</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RelabelsQuantity, new { @style = "width: 100px", @data_cell = "AA1" })
                                                    @Html.ValidationMessageFor(m => m.RelabelsQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RelabelsRate, new { @style = "width: 100px", @data_cell = "AA2" })
                                                    @Html.ValidationMessageFor(m => m.RelabelsRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.RelabelsCharge, new { @style = "width: 100px", @data_cell = "AA3" })
                                                    @Html.ValidationMessageFor(m => m.RelabelsCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Warehouse storage fee">Warehouse Storage</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WarehouseStorageQuantity, new { @style = "width: 100px", @data_cell = "BB1" })
                                                    @Html.ValidationMessageFor(m => m.WarehouseStorageQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WarehouseStorageRate, new { @style = "width: 100px", @data_cell = "BB2" })
                                                    @Html.ValidationMessageFor(m => m.WarehouseStorageRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WarehouseStorageCharge, new { @style = "width: 100px", @data_cell = "BB3" })
                                                    @Html.ValidationMessageFor(m => m.WarehouseStorageCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="WHMIS label charge">WHMIS Labels</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WHMISLabelsQuantity, new { @style = "width: 100px", @data_cell = "CC1" })
                                                    @Html.ValidationMessageFor(m => m.WHMISLabelsQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WHMISLabelsRate, new { @style = "width: 100px", @data_cell = "CC2" })
                                                    @Html.ValidationMessageFor(m => m.WHMISLabelsRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WHMISLabelsCharge, new { @style = "width: 100px", @data_cell = "CC3" })
                                                    @Html.ValidationMessageFor(m => m.WHMISLabelsCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><abbr title="Waste processing fee (disposal cost)">Waste Processing</abbr></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WasteProcessingQuantity, new { @style = "width: 100px", @data_cell = "DD1" })
                                                    @Html.ValidationMessageFor(m => m.WasteProcessingQuantity)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WasteProcessingRate, new { @style = "width: 100px", @data_cell = "DD2" })
                                                    @Html.ValidationMessageFor(m => m.WasteProcessingRate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WasteProcessingCharge, new { @style = "width: 100px", @data_cell = "DD3" })
                                                    @Html.ValidationMessageFor(m => m.WasteProcessingCharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Grand Total</th>
                                                <th></th>
                                                <th></th>
                                                <th>
                                                    @Html.TextBoxFor(m => m.GrandTotalCharge, new { @style = "width: 100px", @data_cell = "EE1" })
                                                    @Html.ValidationMessageFor(m => m.GrandTotalCharge)
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label>General Invoice Comments &amp; Notes</label>
                                        @Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        @if (Model.VerifiedAccuracy == false || Model.VerifiedAccuracy == null)
                                        {
                                            @Html.CheckBox("verifiedaccuracy", Model.VerifiedAccuracy != null && (bool)Model.VerifiedAccuracy, new { @class = "checkbox-inline" })
                                            <label class="control-label">Check to verify invoice accuracy</label>
                                        }
                                        @if (Model.VerifiedAccuracy == true)
                                        {
                                            <em>Invoice accuracy verified by @Html.DisplayFor(m => m.VerifiedBy) on @Html.DisplayFor(m => m.VerifiedDate)</em>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        if (Model.VerifiedAccuracy == false || Model.VerifiedAccuracy == null)
        {
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="submit" value="Save Changes" class="btn btn-success btn-block" />
                </div>
            </div>
        }

        <div class="row">
            <div class="col-lg-12">
                <span><i class="fa fa-arrow-circle-up"></i> <a href="#top">Back to Top</a></span>
                <span class="pull-right"><a href="#top">Back to Top</a> <i class="fa fa-arrow-circle-up"></i></span>
            </div>
        </div>
        <div class="form-group row center-block">
            <div class="col-md-12 text-center" id="dvspinner" style="display:none; font-size:large">
                <i class="fa fa-circle-o-notch fa-5x fa-spin"></i> Saving Invoice...
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    CKEDITOR.inline('BillTo');
    CKEDITOR.inline('RemitTo');

    $('#billingworksheetcalc').calx({
        data: {
            G3: { formula: 'G1*G2' },
            H3: { formula: 'H1*H2' },
            I3: { formula: 'I1*I2' },
            J3: { formula: 'J1*J2' },
            K3: { formula: 'K1*K2' },
            L3: { formula: 'L1*L2' },
            M3: { formula: 'M1*M2' },
            N3: { formula: 'N1*N2' },
            O3: { formula: 'O1*O2' },
            P3: { formula: 'P1*P2' },
            Q3: { formula: 'Q1*Q2' },
            R3: { formula: 'R1*R2' },
            S3: { formula: 'S1*S2' },
            T3: { formula: 'T1*T2' },
            U3: { formula: 'U1*U2' },
            V3: { formula: 'V1*V2' },
            W3: { formula: 'W1*W2' },
            X3: { formula: 'X1*X2' },
            Y3: { formula: 'Y1*Y2' },
            Z3: { formula: 'Z1*Z2' },
            AA3: { formula: 'AA1*AA2' },
            BB3: { formula: 'BB1*BB2' },
            CC3: { formula: 'CC1*CC2' },
            DD3: { formula: 'DD1*DD2' },
            EE1: { formula: 'SUM(G3:DD3)' }
        }
    })
</script>