@model MvcPhoenix.Models.InvoiceViewModel
@{
    ViewBag.Title = "Edit Invoice";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="cmc logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title: <small>@Html.DisplayFor(m => m.invoiceid) for @Html.DisplayFor(m => m.clientname) - @Html.DisplayFor(m => m.billinggroup)</small> </h1>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <div class="pull-left">
                <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Invoice Main", "Index")
            </div>
            <div style="text-align:center;">
                <span id="dvTopMessage" style="color:green;font-weight:bold;"> @TempData["SaveResult"]</span><!-- show message after save -->
                <div class="pull-right">
                    <a href="@Url.Action("View", "Invoice", new { id = @Model.invoiceid })"><i class="fa fa-fw fa-eye"></i> View Mode</a>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("SaveInvoice", "Invoice", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.invoiceid)
        @Html.HiddenFor(m => m.billinggroup)
        @Html.HiddenFor(m => m.clientid)
        @Html.HiddenFor(m => m.clientname)
        @Html.HiddenFor(m => m.status)
        @Html.HiddenFor(m => m.tier)
        @Html.HiddenFor(m => m.ordertype)
        @Html.HiddenFor(m => m.invoicedate)
        @Html.HiddenFor(m => m.ponumber)
        @Html.HiddenFor(m => m.netterm)
        @Html.HiddenFor(m => m.invoiceperiod)

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">TERMS</div>
                    <div class="panel-body">
                        <b>Invoice Number:</b> @Html.DisplayFor(m => m.invoicenumber)<br>
                        <b>Invoice Date:</b> @Model.invoicedate.Value.ToString("d")<br>
                        <b>PO Number:</b> @Html.DisplayFor(m => m.ponumber)<br />
                        <b>Net @Html.DisplayFor(m => m.netterm)</b>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">BILL TO</div>
                    <div class="panel-body" style="margin-bottom: -10px;">
                        @Html.TextAreaFor(m => m.billto, new { @class = "form-control", @rows = "4" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">REMIT TO</div>
                    <div class="panel-body" style="margin-bottom: -10px;">
                        @Html.TextAreaFor(m => m.remitto, new { @class = "form-control", @rows = "4" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div id="masterinvoicecalc" class="table-responsive col-md-6">
                                <h3>Master Invoice</h3>
                                <table class="table table-hover table-striped">
                                    <tr>
                                        <th>Number of Samples</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.totalsamples, new { @class = "pull-right", @style = "width: 100px" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Totals Cost of Processing Samples</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.totalcostsamples, new { @class = "pull-right", @style = "width: 100px", @data_cell = "A1" })
                                            @Html.ValidationMessageFor(m => m.totalcostsamples)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Freight</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.totalfreight, new { @class = "pull-right", @style = "width: 100px", @data_cell = "B1" })
                                            @Html.ValidationMessageFor(m => m.totalfreight)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Freight Harzardous Surcharge</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.totalfrtHzdSchg, new { @class = "pull-right", @style = "width: 100px", @data_cell = "C1" })
                                            @Html.ValidationMessageFor(m => m.totalfrtHzdSchg)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Administrative Charges</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.totaladmincharge, new { @class = "pull-right", @style = "width: 100px", @data_cell = "D1" })
                                            @Html.ValidationMessageFor(m => m.totaladmincharge)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Total Due</th>
                                        <th>
                                            @Html.TextBoxFor(m => m.totaldue, new { @class = "pull-right", @style = "width: 100px", @readonly = "readonly", @data_cell = "E1" })
                                            @Html.ValidationMessageFor(m => m.totaldue)
                                        </th>
                                    </tr>
                                </table>
                            </div>

                            <div class="table-responsive col-md-6">
                                <h3>Total Shipping Performance</h3>
                                <table class="table table-hover table-striped">
                                    <tr>
                                        <th>Same Day</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.sampleshipsameday, new { @class = "pull-right", @style = "width: 100px" })
                                            @Html.ValidationMessageFor(m => m.sampleshipsameday)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Next Day</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.sampleshipnextday, new { @class = "pull-right", @style = "width: 100px" })
                                            @Html.ValidationMessageFor(m => m.sampleshipnextday)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Second Day</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.sampleshipsecondday, new { @class = "pull-right", @style = "width: 100px" })
                                            @Html.ValidationMessageFor(m => m.sampleshipsecondday)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Other</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.sampleshipother, new { @class = "pull-right", @style = "width: 100px" })
                                            @Html.ValidationMessageFor(m => m.sampleshipother)
                                        </td>
                                    </tr>
                                </table>
                                <div class="pull-right" id="verificationcalc">
                                    <label><abbr title="Total Due minus Grand Total.&#13;This number should be 0.">Totals</abbr> Balance</label>
                                    <input id="totalsdiff" class="form-control input-sm" readonly style="width: 100px" data-cell="C1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Billing Worksheet</h3>
                            </div>
                            <div class="col-md-6">
                                <span class="pull-right">
                                    <b>Location: </b>@Html.DropDownListFor(m => m.warehouselocation, new SelectList(Enum.GetValues(typeof(MvcPhoenix.Models.InvoiceViewModel.WHChoice)))) |
                                    <b>Currency: </b>@Html.DropDownListFor(m => m.currency, new SelectList(Enum.GetValues(typeof(MvcPhoenix.Models.InvoiceViewModel.CurrencyChoice)))) |
                                    <b>Tier: </b>@Html.DisplayFor(m => m.tier)
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs pull-right">
                                    <li class="active"><a data-toggle="tab" href="#samplestab">Samples(Domestic)</a></li>
                                    @*<li><a data-toggle="tab" href="#internationaltab">International</a></li>
                                    <li><a data-toggle="tab" href="#revenuetab">Revenue $</a></li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="tab-content">
                                <div id="samplestab" class="tab-pane fade in active">
                                    <div class="table-responsive col-md-12" id="billingworksheetcalc">
                                        <table class="table table-hover table-striped">
                                            <tr>
                                                <th style="width: 70%">Charge Item</th>
                                                <th style="text-align:center">Quantity</th>
                                                <th style="text-align:center">Rate</th>
                                                <th style="text-align:center">Charge</th>
                                            </tr>
                                            <tr>
                                                <td>Samples</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.samplesqty, new { @style = "width: 100px", @data_cell = "A1" })
                                                    @Html.ValidationMessageFor(m => m.samplesqty)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.samplesrate, new { @style = "width: 100px", @data_cell = "B1" })
                                                    @Html.ValidationMessageFor(m => m.samplesrate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.samplescharge, new { @style = "width: 100px", @data_cell = "C1" })
                                                    @Html.ValidationMessageFor(m => m.samplescharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Revenue</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.revenueqty, new { @style = "width: 100px", @data_cell = "A2" })
                                                    @Html.ValidationMessageFor(m => m.revenueqty)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.revenuerate, new { @style = "width: 100px", @data_cell = "B2" })
                                                    @Html.ValidationMessageFor(m => m.revenuerate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.revenuecharge, new { @style = "width: 100px", @data_cell = "C2" })
                                                    @Html.ValidationMessageFor(m => m.revenuecharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Non-Revenue</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.nonrevenueqty, new { @style = "width: 100px", @data_cell = "A3" })
                                                    @Html.ValidationMessageFor(m => m.nonrevenueqty)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.nonrevenuerate, new { @style = "width: 100px", @data_cell = "B3" })
                                                    @Html.ValidationMessageFor(m => m.nonrevenuerate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.nonrevenuecharge, new { @style = "width: 100px", @data_cell = "C3" })
                                                    @Html.ValidationMessageFor(m => m.nonrevenuecharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Manual Order Entry</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.manualentryqty, new { @style = "width: 100px", @data_cell = "A4" })
                                                    @Html.ValidationMessageFor(m => m.manualentryqty)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.manualentryrate, new { @style = "width: 100px", @data_cell = "B4" })
                                                    @Html.ValidationMessageFor(m => m.manualentryrate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.manualentrycharge, new { @style = "width: 100px", @data_cell = "C4" })
                                                    @Html.ValidationMessageFor(m => m.manualentrycharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Follow Up Orders</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.followupqty, new { @style = "width: 100px", @data_cell = "A5" })
                                                    @Html.ValidationMessageFor(m => m.followupqty)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.followuprate, new { @style = "width: 100px", @data_cell = "B5" })
                                                    @Html.ValidationMessageFor(m => m.followuprate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.followupcharge, new { @style = "width: 100px", @data_cell = "C5" })
                                                    @Html.ValidationMessageFor(m => m.followupcharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Label Print Fee</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.labelprtqty, new { @style = "width: 100px", @data_cell = "A6" })
                                                    @Html.ValidationMessageFor(m => m.labelprtqty)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.labelprtrate, new { @style = "width: 100px", @data_cell = "B6" })
                                                    @Html.ValidationMessageFor(m => m.labelprtrate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.labelprtcharge, new { @style = "width: 100px", @data_cell = "C6" })
                                                    @Html.ValidationMessageFor(m => m.labelprtcharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Label Stock Fee</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.labelstock, new { @style = "width: 100px", @data_cell = "C7" })
                                                    @Html.ValidationMessageFor(m => m.labelstock)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Re-Label Print Fee</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.relabelprtqty, new { @style = "width: 100px", @data_cell = "A8" })
                                                    @Html.ValidationMessageFor(m => m.relabelprtqty)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.relabelprtrate, new { @style = "width: 100px", @data_cell = "B8" })
                                                    @Html.ValidationMessageFor(m => m.relabelprtrate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.relabelprtcharge, new { @style = "width: 100px", @data_cell = "C8" })
                                                    @Html.ValidationMessageFor(m => m.relabelprtcharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Re-Label Labor Fee</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.relabelfeeqty, new { @style = "width: 100px", @data_cell = "A9" })
                                                    @Html.ValidationMessageFor(m => m.relabelfeeqty)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.relabelfeerate, new { @style = "width: 100px", @data_cell = "B9" })
                                                    @Html.ValidationMessageFor(m => m.relabelfeerate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.relabelfeecharge, new { @style = "width: 100px", @data_cell = "C9" })
                                                    @Html.ValidationMessageFor(m => m.relabelfeecharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Product Set-up Changes</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.productsetupqty, new { @style = "width: 100px", @data_cell = "A10" })
                                                    @Html.ValidationMessageFor(m => m.productsetupqty)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.productsetuprate, new { @style = "width: 100px", @data_cell = "B10" })
                                                    @Html.ValidationMessageFor(m => m.productsetuprate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.productsetupcharge, new { @style = "width: 100px", @data_cell = "C10" })
                                                    @Html.ValidationMessageFor(m => m.productsetupcharge)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Credit Card Order Proecessing Fee</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ccprocessqty, new { @style = "width: 100px", @data_cell = "A11" })
                                                    @Html.ValidationMessageFor(m => m.ccprocessqty)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ccprocessrate, new { @style = "width: 100px", @data_cell = "B11" })
                                                    @Html.ValidationMessageFor(m => m.ccprocessrate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.ccprocesscharge, new { @style = "width: 100px", @data_cell = "C11" })
                                                    @Html.ValidationMessageFor(m => m.ccprocesscharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Credit Card Credit</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.cccredit, new { @style = "width: 100px", @data_cell = "C12" })
                                                    @Html.ValidationMessageFor(m => m.cccredit)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Global Processing Fee</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.globalprocesscharge, new { @style = "width: 100px", @data_cell = "C13" })
                                                    @Html.ValidationMessageFor(m => m.globalprocesscharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Misc Credits</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.misccreditcharge, new { @style = "width: 100px", @data_cell = "C14" })
                                                    @Html.ValidationMessageFor(m => m.misccreditcharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>IT Project Support Fee</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.itsupportcharge, new { @style = "width: 100px", @data_cell = "C15" })
                                                    @Html.ValidationMessageFor(m => m.itsupportcharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Empty Drum Disposal</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.emptydrumcharge, new { @style = "width: 100px", @data_cell = "C16" })
                                                    @Html.ValidationMessageFor(m => m.emptydrumcharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Same Day Rush Shipment</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.rushshipqty, new { @style = "width: 100px", @data_cell = "A17" })
                                                    @Html.ValidationMessageFor(m => m.rushshipqty)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.rushshiprate, new { @style = "width: 100px", @data_cell = "B17" })
                                                    @Html.ValidationMessageFor(m => m.rushshiprate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.rushshipcharge, new { @style = "width: 100px", @data_cell = "C17" })
                                                    @Html.ValidationMessageFor(m => m.rushshipcharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Empty Pails</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.emptypailsqty, new { @style = "width: 100px", @data_cell = "A18" })
                                                    @Html.ValidationMessageFor(m => m.emptypailsqty)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.emptypailsrate, new { @style = "width: 100px", @data_cell = "B18" })
                                                    @Html.ValidationMessageFor(m => m.emptypailsrate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.emptypailscharge, new { @style = "width: 100px", @data_cell = "C18" })
                                                    @Html.ValidationMessageFor(m => m.emptypailscharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Empty Pails Freight</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.emptypailsfgtcharge, new { @style = "width: 100px", @data_cell = "C19" })
                                                    @Html.ValidationMessageFor(m => m.emptypailsfgtcharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Inactive Stock Storage Surcharge</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.inactivestockqty, new { @style = "width: 100px", @data_cell = "A20" })
                                                    @Html.ValidationMessageFor(m => m.inactivestockqty)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.inactivestockrate, new { @style = "width: 100px", @data_cell = "B20" })
                                                    @Html.ValidationMessageFor(m => m.inactivestockrate)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.inactivestockcharge, new { @style = "width: 100px", @data_cell = "C20" })
                                                    @Html.ValidationMessageFor(m => m.inactivestockcharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Other HM 181 Packaging</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.hm181pkgcharge, new { @style = "width: 100px", @data_cell = "C21" })
                                                    @Html.ValidationMessageFor(m => m.hm181pkgcharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Documentation & Handling Fee</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.dochandlingcharge, new { @style = "width: 100px", @data_cell = "C22" })
                                                    @Html.ValidationMessageFor(m => m.dochandlingcharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Minimal Sample Charge</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.minimalsamplecharge, new { @style = "width: 100px", @data_cell = "C23" })
                                                    @Html.ValidationMessageFor(m => m.minimalsamplecharge)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Grand Total</th>
                                                <td></td>
                                                <td></td>
                                                <th>
                                                    @Html.TextBoxFor(m => m.grandtotal, new { @style = "width: 100px", @readonly = "readonly", @data_cell = "C24" })
                                                    @Html.ValidationMessageFor(m => m.grandtotal)
                                                </th>
                                            </tr>
                                        </table>
                                    </div>
                                    @if (Model.verifiedaccuracy == false || Model.verifiedaccuracy == null)
                                    {
                                        <div class="col-md-12">
                                            @Html.CheckBox("verifiedaccuracy", Model.verifiedaccuracy != null && (bool)Model.verifiedaccuracy, new { @class = "checkbox-inline" })
                                            <label class="control-label">check to verify invoice accuracy</label>
                                        </div>
                                    }
                                    @if (Model.verifiedaccuracy == true)
                                    {
                                        <div class="col-md-12">
                                            <em>Invoice accuracy verified by @Html.DisplayFor(m => m.verifiedby) on @Html.DisplayFor(m => m.verifieddate)</em>
                                        </div>
                                    }
                                </div>
                                <div id="internationaltab" class="tab-pane fade">
                                    <div class="col-md-12">
                                        <label>Show International Order Type</label>
                                        <p>Reserve for worksheet with ordertype marked as international.</p>
                                    </div>
                                </div>
                                <div id="revenuetab" class="tab-pane fade">
                                    <div class="col-md-12">
                                        <label>Show Revenue Order Type</label>
                                        <p>Reserve for worksheet with order type marked as revenue.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <input type="submit" value="Save Changes" class="btn btn-success btn-block" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <span><i class="fa fa-arrow-circle-up"></i> <a href="#top">Back to Top</a></span>
                <span class="pull-right"><a href="#top">Back to Top</a> <i class="fa fa-arrow-circle-up"></i></span>
            </div>
        </div>
        <div class="form-group row center-block">
            <div class="col-md-12 text-center" id="dvspinner" style="display:none; font-size:large">
                <i class="fa fa-circle-o-notch fa-3x fa-spin"></i> Saving Invoice...
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    CKEDITOR.inline('billto');
    CKEDITOR.inline('remitto');

    $('#masterinvoicecalc').calx({
        data: {
            E1: { formula: 'SUM(A1:D1)' }
        }
    })

    $('#billingworksheetcalc').calx({
        data: {
            C1: { formula: 'A1*B1' },
            C2: { formula: 'A2*B2' },
            C3: { formula: 'A3*B3' },
            C4: { formula: 'A4*B4' },
            C5: { formula: 'A5*B5' },
            C6: { formula: 'A6*B6' },
            C8: { formula: 'A8*B8' },
            C9: { formula: 'A9*B9' },
            C10: { formula: 'A10*B10' },
            C11: { formula: 'A11*B11' },
            C17: { formula: 'A17*B17' },
            C18: { formula: 'A18*B18' },
            C20: { formula: 'A20*B20' },
            C24: { formula: 'SUM(C1:C23)' }
        }
    })

    $('#verificationcalc').calx({
        data: {
            A1: { formula: '#masterinvoicecalc!E1' },
            B1: { formula: '#billingworksheetcalc!C24' },
            C1: { formula: 'A1-B1' }
        }
    })
</script>