@model List<MvcPhoenix.Models.InvoiceViewModel>
@{
    ViewBag.Title = "Invoice Management";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="cmc logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-sticky-note fa-fw"></i> Search</h3>
                </div>
                <div class="panel-body">
                    <label>Invoice Search</label>
                    @using (Ajax.BeginForm("Search", "Invoice", new AjaxOptions
                            {
                                UpdateTargetId = "dvSearchInvoice",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "POST",
                                LoadingElementId = "dvspinner"
                            }))
                    {
                        <div class="">
                            @Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = "Enter Keyword...", @required = "required" })
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-sticky-note fa-fw"></i> Generate Invoice</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @using (Html.BeginForm("Create", "Invoice", new { }))
                        {
                            <div class="col-md-4">
                                <label>Client</label>
                                @Html.DropDownList("ClientID", (List<SelectListItem>)ViewBag.ListOfClients, new { onchange = "OnChangeClientID()", @class = "form-control" })
                            </div>
                            <div class="col-md-3">
                                <label>Billing Group</label>
                                <select name='billinggroupid' id='billinggroupid' class='form-control' required></select>
                            </div>
                            <div class="col-md-3">
                                <label>Invoice Period</label>
                                <input name="invoiceperiod" id="invoiceperiod" class="form-control date-picker" required />
                            </div>
                            <div class="col-md-2">
                                <label class="invisible">Create</label>
                                <input type="submit" class="btn btn-success btn-block form-control" value="Generate" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="dvSearchInvoice"></div>

    <div class="col-md-12 text-center" id="dvspinner" style="display:none; font-size:large">
        <i class="fa fa-circle-o-notch fa-5x fa-spin"></i> Processing...
    </div>

    <div class="panel panel-primary">
        <div class="panel-body">
            <div id="dvGridPlaceHolder" class="row">
                <div class="col-md-12 text-center">
                    <label class="lead">Review Invoices</label>
                </div>
                <div class="table-responsive col-md-12">
                    <table id="myTable" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th width="30px">Invoice#</th>
                                <th>Client</th>
                                <th>Billing Group</th>
                                <th>Period</th>
                                <th style="text-align:center;">Location</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="text-align:center">@item.invoiceid.ToString()</td>
                                    <td>@item.clientname</td>
                                    <td>@item.billinggroup</td>
                                    <td>@item.invoiceperiod</td>
                                    <td style="text-align:center;">@item.warehouselocation</td>
                                    <td>@item.status</td>
                                    <td class="text-right">@Html.ActionLink("Edit", "Edit", new { id = item.invoiceid }) | @Html.ActionLink("View", "View", new { id = item.invoiceid })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <i class="fa fa-arrow-circle-up"></i> <a href="#top">Back to Top</a>
            <span class="pull-right"><a href="#top">Back to Top</a> <i class="fa fa-arrow-circle-up"></i></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    function OnChangeClientID() {
        var url = '@Url.Action("BuildBillingGroupDDL", "Invoice")';
        var data = $('#ClientID').val()
        $("#billinggroupid").load(url, { id: data });
    }

    $(function () {
        $('.date-picker').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            maxDate: "+0D",
            dateFormat: 'MM, yy',
            onClose: function (dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            }
        });
    });
</script>