@model PagedList.IPagedList<MvcPhoenix.EF.tblInvoice>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Invoice Search";
    Layout = null;
}

<div class="panel panel-primary">
    <div class="panel-body">
            @{
                if (Model.Count == 0 || @ViewBag.CurrentFilter == null)
                {
                    <div class="col-md-12">
                        <label class="lead">No invoice found for "@ViewBag.CurrentFilter". Try again.</label>
                    </div>
                }
                else
                {
                    <div class="col-md-12">
                        <label class="lead">Search Results For "@ViewBag.CurrentFilter"</label>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th width="10px"></th>
                                    <th width="30px">Invoice#</th>
                                    <th>Client</th>
                                    <th>Billing Group</th>
                                    <th>Period</th>
                                    <th style="text-align:center;">Location</th>
                                    <th>Status</th>
                                    <th>Created On</th>
                                    <th>Last Update</th>
                                    <th></th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Ajax.ActionLink(" ", "DeleteInvoice", new { id = @item.InvoiceID }, new AjaxOptions
                                       {
                                           Confirm = "Are you sure you want to delete this invoice?",
                                           HttpMethod = "POST",
                                           OnSuccess = "$.alert('Invoice Deleted');$(this).closest('tr').hide();"
                                       }, new { @class = "fa fa-2x fa-times-circle", @style = "color:red", @title = "Delete Invoice" })
                                    </td>
                                    <td data-label="Invoice #" style="text-align:center">@item.InvoiceID.ToString()</td>
                                    <td data-label="Client">@item.ClientName</td>
                                    <td data-label="Billing Group">@item.BillingGroup</td>
                                    <td data-label="Period">@item.InvoicePeriod</td>
                                    <td data-label="Location" style="text-align:center;">@item.WarehouseLocation</td>
                                    <td data-label="Status">@item.Status</td>
                                    <td data-label="Created On"><abbr title="by @item.CreatedBy">@String.Format("{0:dd MMM yyyy}", @item.CreateDate)</abbr></td>
                                    <td data-label="Last Update"><abbr title="by @item.UpdatedBy">@String.Format("{0:dd MMM yyyy}", @item.UpdateDate)</abbr></td>
                                    <td class="text-right">
                                        @Html.ActionLink(" ", "Edit", new { id = item.InvoiceID }, new { @class = "btn btn-primary fa fa-pencil", @title = "Edit Invoice" })
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="col-md-12 text-center">
                        <label>@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</label>
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Search", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.ClassicPlusFirstAndLast,
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "Get",
                                    UpdateTargetId = "dvSearchInvoice"
                                }))
                    </div>
                }
            }
    </div>
</div>