@model MvcPhoenix.Models.InvoiceViewModel
@{
    ViewBag.Title = "View Invoice";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="cmc logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title: <small>@Html.DisplayFor(m => m.invoiceid) for @Html.DisplayFor(m => m.clientname) - @Html.DisplayFor(m => m.billinggroup)</small> </h1>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Invoice Main", "Index")
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <a href="@Url.Action("Edit", "Invoice", new { id = @Model.invoiceid})"><i class="fa fa-fw fa-pencil"></i> Edit Mode</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">TERMS</div>
                <div class="panel-body">
                    <b>Invoice Number:</b> @Html.DisplayFor(m => m.invoiceid)<br>
                    <b>Invoice Date:</b> @Model.invoicedate.Value.ToString("d")<br>
                    <b>PO Number:</b> @Html.DisplayFor(m => m.ponumber)<br />
                    <b>@Html.DisplayFor(m => m.netterm)</b>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">BILL TO</div>
                <div class="panel-body" style="margin-bottom: -10px;">
                    @Html.Raw(Model.billto)
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">REMIT TO</div>
                <div class="panel-body" style="margin-bottom: -10px;">
                    @Html.Raw(Model.remitto)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive col-md-6">
                            <h3>Master Invoice</h3>
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th>Number of Samples</th>
                                    <th style="text-align:right">@Html.DisplayFor(m => m.totalsamples)</th>
                                </tr>
                                <tr>
                                    <th>Totals Cost of Processing Samples</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.totalcostsamples)</td>
                                </tr>
                                <tr>
                                    <th>Freight</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.totalfreight)</td>
                                </tr>
                                <tr>
                                    <th>Freight Harzardous Surcharge</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.totalfrtHzdSchg)</td>
                                </tr>
                                <tr>
                                    <th>Administrative Charges</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.totaladmincharge)</td>
                                </tr>
                                <tr>
                                    <th>Total Due</th>
                                    <th style="text-align:right">@Html.DisplayFor(m => m.totaldue)</th>
                                </tr>
                            </table>
                        </div>

                        <div class="table-responsive col-md-6">
                            <h3>Total Shipping Performance</h3>
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th>Same Day</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.sampleshipsameday)</td>
                                </tr>
                                <tr>
                                    <th>Next Day</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.sampleshipnextday)</td>
                                </tr>
                                <tr>
                                    <th>Second Day</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.sampleshipsecondday)</td>
                                </tr>
                                <tr>
                                    <th>Other</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.sampleshipother)</td>
                                </tr>
                            </table>

                            <div class="pull-right">
                                <a class="btn btn-warning" href="@Url.Action("PrintInvoice","Invoice", new { id = @Model.invoiceid })" target="_blank"><i class="fa fa-cloud-download fa-fw"></i> Download Invoice</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Billing Worksheet</h3>
                        </div>
                        <div class="col-md-6">
                            <span class="pull-right">
                                <b>Location: </b>@Html.DisplayFor(m => m.warehouselocation) |
                                <b>Currency: </b>@Html.DisplayFor(m => m.currency) |
                                <b>Tier: </b>@Html.DisplayFor(m => m.tier)
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs pull-right">
                                <li class="active"><a data-toggle="tab" href="#samplestab">Samples(Domestic)</a></li>
                                @*<li><a data-toggle="tab" href="#internationaltab">International</a></li>
                                    <li><a data-toggle="tab" href="#revenuetab">Revenue $</a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="samplestab" class="tab-pane fade in active">
                            <div class="table-responsive" id="billingworksheet">
                                <table class="table table-hover table-striped">
                                    <tr>
                                        <th style="width: 70%">Charge Item</th>
                                        <th style="text-align:right">Quantity</th>
                                        <th style="text-align:right">Rate</th>
                                        <th style="text-align:right">Charge</th>
                                    </tr>
                                    <tr>
                                        <td>Samples</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.samplesqty)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.samplesrate)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.samplescharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Revenue</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.revenueqty)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.revenuerate)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.revenuecharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Non-Revenue</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.nonrevenueqty)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.nonrevenuerate)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.nonrevenuecharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Manual Order Entry</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.manualentryqty)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.manualentryrate)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.manualentrycharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Follow Up Orders</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.followupqty)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.followuprate)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.followupcharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Label Print Fee</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.labelprtqty)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.labelprtrate)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.labelprtcharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Label Stock Fee</td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.labelstock)</td>
                                    </tr>
                                    <tr>
                                        <td>Re-Label Print Fee</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.relabelprtqty)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.relabelprtrate)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.relabelprtcharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Re-Label Labor Fee</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.relabelfeeqty)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.relabelfeerate)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.relabelfeecharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Product Set-up Changes</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.productsetupqty)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.productsetuprate)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.productsetupcharge)</td>
                                    </tr>

                                    <tr>
                                        <td>Credit Card Order Proecessing Fee</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.ccprocessqty)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.ccprocessrate)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.ccprocesscharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Credit Card Credit</td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.cccredit)</td>
                                    </tr>
                                    <tr>
                                        <td>Global Processing Fee</td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.globalprocesscharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Misc Credits</td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.misccreditcharge)</td>
                                    </tr>
                                    <tr>
                                        <td>IT Project Support Fee</td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.itsupportcharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Empty Drum Disposal</td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.emptydrumcharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Same Day Rush Shipment</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.rushshipqty)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.rushshiprate)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.rushshipcharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Empty Pails</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.emptypailsqty)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.emptypailsrate)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.emptypailscharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Empty Pails Freight</td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.emptypailsfgtcharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Inactive Stock Storage Surcharge</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.inactivestockqty)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.inactivestockrate)</td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.inactivestockcharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Other HM 181 Packaging</td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.hm181pkgcharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Documentation & Handling Fee</td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.dochandlingcharge)</td>
                                    </tr>
                                    <tr>
                                        <td>Minimal Sample Charge</td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right">@Html.DisplayFor(m => m.minimalsamplecharge)</td>
                                    </tr>
                                    <tr>
                                        <th>Grand Total</th>
                                        <td></td>
                                        <td></td>
                                        <th style="text-align:right">@Html.DisplayFor(m => m.grandtotal)</th>
                                    </tr>
                                </table>
                            </div>
                            @if (Model.verifiedaccuracy == true)
                            {
                                <em>Invoice accuracy verified by @Html.DisplayFor(m => m.verifiedby) on @Html.DisplayFor(m => m.verifieddate)</em>
                            }
                        </div>
                        <div id="internationaltab" class="tab-pane fade">
                            <label>Show International Order Type</label>
                            <p>Reserve for worksheet with ordertype marked as international.</p>
                        </div>
                        <div id="revenuetab" class="tab-pane fade">
                            <label>Show Revenue Order Type</label>
                            <p>Reserve for worksheet with order type marked as revenue.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <span><i class="fa fa-arrow-circle-up"></i> <a href="#top">Back to Top</a></span>
            <span class="pull-right"><a href="#top">Back to Top</a> <i class="fa fa-arrow-circle-up"></i></span>
        </div>
    </div>
</div>