@model MvcPhoenix.Models.InvoiceViewModel
@{
    ViewBag.Title = "Edit Invoice";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="cmc logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title: <small>@Html.DisplayFor(m => m.invoiceid) for @Html.DisplayFor(m => m.clientname) - @Html.DisplayFor(m => m.billinggroup)</small> </h1>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Invoice Main", "Index")
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <a href="@Url.Action("Edit", "Invoice", new { id = @Model.invoiceid})"><i class="fa fa-fw fa-pencil"></i> Edit Mode</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">TERMS</div>
                <div class="panel-body">
                    <b>Invoice Number:</b> @Html.DisplayFor(m => m.invoiceid)<br>
                    <b>Invoice Date:</b> @Html.DisplayFor(m => m.invoicedate)<br>
                    <b>PO Number:</b> @Html.DisplayFor(m => m.ponumber)<br />
                    <b>Net @Html.DisplayFor(m => m.netterm) Days</b>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">BILL TO</div>
                <div class="panel-body">
                    @Html.Raw(Model.billto)
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">REMIT TO</div>
                <div class="panel-body">
                    @Html.Raw(Model.remitto)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive col-md-6">
                            <h3>Master Invoice</h3>
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th>Number of Samples</th>
                                    <td>@Html.DisplayFor(m => m.totalsamples, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                                <tr>
                                    <th>Totals Cost of Processing Samples</th>
                                    <td>@Html.DisplayFor(m => m.totalcostsampleprocessing, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                                <tr>
                                    <th>Freight</th>
                                    <td>@Html.DisplayFor(m => m.totalfreight, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                                <tr>
                                    <th>Freight Harzardous Surcharge</th>
                                    <td>@Html.DisplayFor(m => m.totalfreightHzdSchg, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>

                                <tr>
                                    <th>Administrative Charges</th>
                                    <td>@Html.DisplayFor(m => m.totaladmincharge, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>

                                <tr>
                                    <th>Total Due</th>
                                    <th>@Html.DisplayFor(m => m.totaldue, new { @class = "pull-right", @style = "width: 100px" })</th>
                                </tr>
                            </table>
                        </div>

                        <div class="table-responsive col-md-6">
                            <h3>Total Shipping Performance</h3>
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th>Same Day</th>
                                    <td>@Html.DisplayFor(m => m.sampleshipsameday, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                                <tr>
                                    <th>Next Day</th>
                                    <td>@Html.DisplayFor(m => m.sampleshipnextday, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                                <tr>
                                    <th>Second Day</th>
                                    <td>@Html.DisplayFor(m => m.sampleshipsecondday, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                                <tr>
                                    <th>Other</th>
                                    <td>@Html.DisplayFor(m => m.sampleshipother, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                            </table>
                            <div class="pull-right">
                                <button class="btn btn-warning"><i class="fa fa-cloud-download fa-fw"></i> Download Invoice</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive col-md-12">
                            <h3>Billing Worksheet</h3>
                            <ul class="nav nav-tabs pull-right">
                                <li class="active"><a href="#">Samples(Domestic)</a></li>
                                <li><a href="#">International</a></li>
                                <li><a href="#">Revenue $</a></li>
                            </ul>
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th style="width: 70%">Charge Item</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>Total</th>
                                </tr>
                                <tr>
                                    <td>Manual Order Entry</td>
                                    <td>@Html.DisplayFor(m => m.manualentryqty, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.manualentryrate, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.manualentrytotal, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                                <tr>
                                    <td>Follow Up Orders</td>
                                    <td>@Html.DisplayFor(m => m.followuporderqty, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.followuporderrate, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.followupordertotal, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                                <tr>
                                    <td>Re-Label Labor Fee</td>
                                    <td>@Html.DisplayFor(m => m.relabelfeeqty, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.relabelfeerate, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.relabelfeetotal, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                                <tr>
                                    <td>Change in Product Set-up</td>
                                    <td>@Html.DisplayFor(m => m.productsetupqty, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.productsetuprate, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.productsetuptotal, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                                <tr>
                                    <td>Credit Card Order Proecessing Fee</td>
                                    <td>@Html.DisplayFor(m => m.ccorderprocessqty, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.ccorderprocessrate, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.ccorderprocesstotal, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                                <tr>
                                    <td>Credit Card Credit</td>
                                    <td></td>
                                    <td></td>
                                    <td>@Html.DisplayFor(m => m.cccredittotal, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                                <tr>
                                    <td>Global Processing Fee</td>
                                    <td></td>
                                    <td></td>
                                    <td>@Html.DisplayFor(m => m.globalprocessingfeetotal, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                                <tr>
                                    <td>Misc Credits</td>
                                    <td>@Html.DisplayFor(m => m.misccreditqty, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.misccreditrate, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.misccredittotal, new { @style = "font-weight: bold;" })</td>
                                </tr>
                                <tr>
                                    <td>Same Day Rush Shipment</td>
                                    <td>@Html.DisplayFor(m => m.samedayrushqty, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.samedayrushrate, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.samedayrushtotal, new { @style = "font-weight: bold;" })</td>
                                </tr>
                                <tr>
                                    <td>Empty Drum Disposal</td>
                                    <td></td>
                                    <td></td>
                                    <td>@Html.DisplayFor(m => m.emptydrumdisposaltotal, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                                <tr>
                                    <td>Empty Pails</td>
                                    <td>@Html.DisplayFor(m => m.emptypailsqty, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.emptypailsrate, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.emptypailstotal, new { @style = "font-weight: bold;" })</td>
                                </tr>
                                <tr>
                                    <td>Empty Pails Freight</td>
                                    <td></td>
                                    <td></td>
                                    <td>@Html.DisplayFor(m => m.emptypailsfgttotal, new { @class = "pull-right", @style = "width: 100px" })</td>
                                </tr>
                                <tr>
                                    <td>Inactive Stock Storage Surcharge</td>
                                    <td>@Html.DisplayFor(m => m.inactivestksurchqty, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.inactivestksurchrate, new { @class = "pull-right", @style = "width: 100px" })</td>
                                    <td>@Html.DisplayFor(m => m.inactivestksurchtotal)</td>
                                </tr>
                                <tr>
                                    <th>Grand Total</th>
                                    <td></td>
                                    <td></td>
                                    <th>@Html.DisplayFor(m => m.grandtotal)</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <span><i class="fa fa-arrow-circle-up"></i> <a href="#top">Back to Top</a></span>
            <span class="pull-right"><a href="#top">Back to Top</a> <i class="fa fa-arrow-circle-up"></i></span>
        </div>
    </div>
</div>
