@model MvcPhoenix.Models.InvoiceViewModel
@{
    ViewBag.Title = "View Invoice";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="cmc logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title: <small>@Html.DisplayFor(m => m.invoiceid) for @Html.DisplayFor(m => m.clientname) - @Html.DisplayFor(m => m.billinggroup)</small> </h1>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Invoice Main", "Index")
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <a href="@Url.Action("Edit", "Invoice", new { id = @Model.invoiceid})"><i class="fa fa-fw fa-pencil"></i> Edit Mode</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">TERMS</div>
                <div class="panel-body">
                    <b>Invoice Number:</b> @Html.DisplayFor(m => m.invoiceid)<br>
                    <b>Invoice Date:</b> @Model.invoicedate.Value.ToString("d")<br>
                    <b>PO Number:</b> @Html.DisplayFor(m => m.ponumber)<br />
                    <b>@Html.DisplayFor(m => m.netterm)</b>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">BILL TO</div>
                <div class="panel-body" style="margin-bottom: -10px;">
                    @Html.Raw(Model.billto)
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">REMIT TO</div>
                <div class="panel-body" style="margin-bottom: -10px;">
                    @Html.Raw(Model.remitto)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive col-md-6">
                            <h3>Master Invoice</h3>
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th>Number of Samples</th>
                                    <th style="text-align:right">@Html.DisplayFor(m => m.totalsamples)</th>
                                </tr>
                                <tr>
                                    <th>Totals Cost of Processing Samples</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.totalcostsamples)</td>
                                </tr>
                                <tr>
                                    <th>Freight</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.totalfreight)</td>
                                </tr>
                                <tr>
                                    <th>Freight Harzardous Surcharge</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.totalfrtHzdSchg)</td>
                                </tr>
                                <tr>
                                    <th>Administrative Charges</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.totaladmincharge)</td>
                                </tr>
                                <tr>
                                    <th>Total Due</th>
                                    <th style="text-align:right">@Html.DisplayFor(m => m.totaldue)</th>
                                </tr>
                            </table>
                        </div>

                        <div class="table-responsive col-md-6">
                            <h3>Total Shipping Performance</h3>
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th>Same Day</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.sampleshipsameday)</td>
                                </tr>
                                <tr>
                                    <th>Next Day</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.sampleshipnextday)</td>
                                </tr>
                                <tr>
                                    <th>Second Day</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.sampleshipsecondday)</td>
                                </tr>
                                <tr>
                                    <th>Other</th>
                                    <td style="text-align:right">@Html.DisplayFor(m => m.sampleshipother)</td>
                                </tr>
                            </table>

                            @*<div class="pull-right">
                                <a class="btn btn-warning" href="@Url.Action("PrintInvoice","Invoice", new { id = @Model.invoiceid })" target="_blank"><i class="fa fa-cloud-download fa-fw"></i> Download Invoice</a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Billing Worksheet</h3>
                        </div>
                        <div class="col-md-6">
                            <span class="pull-right">
                                <b>Location: </b>@Html.DisplayFor(m => m.warehouselocation) |
                                <b>Currency: </b>@Html.DisplayFor(m => m.currency) |
                                <b>Tier: </b>@Html.DisplayFor(m => m.tier)
                            </span>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="samplestab" class="tab-pane fade in active">
                            <div class="table-responsive" id="billingworksheet">
                                <table class="table table-hover table-striped">
                                    <tr>
                                        <th style="width: 70%">Charge Item</th>
                                        <th style="text-align:right">Quantity</th>
                                        <th style="text-align:right">Rate</th>
                                        <th style="text-align:right">Charge</th>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Empty container charges">Empty Packaging</abbr></td>
                                        <td>@Html.DisplayFor(m => m.EmptyPackagingQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.EmptyPackagingRate)</td>
                                        <td>@Html.DisplayFor(m => m.EmptyPackagingCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Handling charges">Handling</abbr></td>
                                        <td>@Html.DisplayFor(m => m.HandlingQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.HandlingRate)</td>
                                        <td>@Html.DisplayFor(m => m.HandlingCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Inactive products charges">Inactive Products</abbr></td>
                                        <td>@Html.DisplayFor(m => m.InactiveProductsQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.InactiveProductsRate)</td>
                                        <td>@Html.DisplayFor(m => m.InactiveProductsCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Product maintainance charge">Product Setup Changes</abbr></td>
                                        <td>@Html.DisplayFor(m => m.ProductSetupChangesQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.ProductSetupChangesRate)</td>
                                        <td>@Html.DisplayFor(m => m.ProductSetupChangesCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Miscellaneous labor charges">Miscellaneous Labor</abbr></td>
                                        <td>@Html.DisplayFor(m => m.MiscellaneousLaborQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.MiscellaneousLaborRate)</td>
                                        <td>@Html.DisplayFor(m => m.MiscellaneousLaborCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Number of follow up orders charge">Follow Up Order</abbr></td>
                                        <td>@Html.DisplayFor(m => m.FollowUpOrderQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.FollowUpOrderRate)</td>
                                        <td>@Html.DisplayFor(m => m.FollowUpOrderCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Refrigerator storage fee">Refrigerator Storage</abbr></td>
                                        <td>@Html.DisplayFor(m => m.RefrigeratorStorageQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.RefrigeratorStorageRate)</td>
                                        <td>@Html.DisplayFor(m => m.RefrigeratorStorageCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="GHS label charge">GHS Labels</abbr></td>
                                        <td>@Html.DisplayFor(m => m.GHSLabelsQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.GHSLabelsRate)</td>
                                        <td>@Html.DisplayFor(m => m.GHSLabelsCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="IT hour charge">IT Fee</abbr></td>
                                        <td>@Html.DisplayFor(m => m.ITFeeQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.ITFeeRate)</td>
                                        <td>@Html.DisplayFor(m => m.ITFeeCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Labels printed charge">Labels Printed</abbr></td>
                                        <td>@Html.DisplayFor(m => m.LabelsPrintedQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.LabelsPrintedRate)</td>
                                        <td>@Html.DisplayFor(m => m.LabelsPrintedCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Relabel labor charge">Labor Relabel</abbr></td>
                                        <td>@Html.DisplayFor(m => m.LaborRelabelQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.LaborRelabelRate)</td>
                                        <td>@Html.DisplayFor(m => m.LaborRelabelCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Monthly literature fee">Literature Fee</abbr></td>
                                        <td>@Html.DisplayFor(m => m.LiteratureQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.LiteratureRate)</td>
                                        <td>@Html.DisplayFor(m => m.LiteratureCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Label stock charge">Label Stock</abbr></td>
                                        <td>@Html.DisplayFor(m => m.LabelStockQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.LabelStockRate)</td>
                                        <td>@Html.DisplayFor(m => m.LabelStockCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Label maintenance charge">Label Maintainance</abbr></td>
                                        <td>@Html.DisplayFor(m => m.LabelMaintainanceQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.LabelMaintainanceRate)</td>
                                        <td>@Html.DisplayFor(m => m.LabelMaintainanceCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="# of MSDS pages printed charge">MSDS Prints</abbr></td>
                                        <td>@Html.DisplayFor(m => m.MSDSPrintsQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.MSDSPrintsRate)</td>
                                        <td>@Html.DisplayFor(m => m.MSDSPrintsCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="New label set up charge">New Label Setup</abbr></td>
                                        <td>@Html.DisplayFor(m => m.NewLabelSetupQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.NewLabelSetupRate)</td>
                                        <td>@Html.DisplayFor(m => m.NewLabelSetupCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="New product set up charge">New Product Setup</abbr></td>
                                        <td>@Html.DisplayFor(m => m.NewProductSetupQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.NewProductSetupRate)</td>
                                        <td>@Html.DisplayFor(m => m.NewProductSetupCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Other than any of these choices">Other</abbr></td>
                                        <td>@Html.DisplayFor(m => m.OtherQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.OtherRate)</td>
                                        <td>@Html.DisplayFor(m => m.OtherCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Pallet return charge">Pallet Return</abbr></td>
                                        <td>@Html.DisplayFor(m => m.PalletReturnQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.PalletReturnRate)</td>
                                        <td>@Html.DisplayFor(m => m.PalletReturnCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="QC storage charges">QC Storage</abbr></td>
                                        <td>@Html.DisplayFor(m => m.QCStorageQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.QCStorageRate)</td>
                                        <td>@Html.DisplayFor(m => m.QCStorageCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Relabel label charge">Relabels</abbr></td>
                                        <td>@Html.DisplayFor(m => m.RelabelsQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.RelabelsRate)</td>
                                        <td>@Html.DisplayFor(m => m.RelabelsCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Warehouse storage fee">Warehouse Storage</abbr></td>
                                        <td>@Html.DisplayFor(m => m.WarehouseStorageQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.WarehouseStorageRate)</td>
                                        <td>@Html.DisplayFor(m => m.WarehouseStorageCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="WHMIS label charge">WHMIS Labels</abbr></td>
                                        <td>@Html.DisplayFor(m => m.WHMISLabelsQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.WHMISLabelsRate)</td>
                                        <td>@Html.DisplayFor(m => m.WHMISLabelsCharge)</td>
                                    </tr>
                                    <tr>
                                        <td><abbr title="Waste processing fee (disposal cost)">Waste Processing</abbr></td>
                                        <td>@Html.DisplayFor(m => m.WasteProcessingQuantity)</td>
                                        <td>@Html.DisplayFor(m => m.WasteProcessingRate)</td>
                                        <td>@Html.DisplayFor(m => m.WasteProcessingCharge)</td>
                                    </tr>
                                    <tr>
                                        <th>Grand Total</th>
                                        <th></th>
                                        <th></th>
                                        <th>@Html.DisplayFor(m => m.GrandTotalCharge)</th>
                                    </tr>
                                </table>
                            </div>
                            @if (Model.verifiedaccuracy == true)
                            {
                                <em>Invoice accuracy verified by @Html.DisplayFor(m => m.verifiedby) on @Html.DisplayFor(m => m.verifieddate)</em>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <span><i class="fa fa-arrow-circle-up"></i> <a href="#top">Back to Top</a></span>
            <span class="pull-right"><a href="#top">Back to Top</a> <i class="fa fa-arrow-circle-up"></i></span>
        </div>
    </div>
</div>