@model MvcPhoenix.Models.BulkContainerViewModel
@{

    ViewBag.Title = "Bulk Container";
}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <img src="@Model.logofilename" style="width: auto; height: 73px; float: right" alt="@Model.clientname logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title : @Model.bulkid.ToString()
            </h1>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12 row">
            <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Bulk Main", "Index","Bulk")
        </div>
    </div>

    <div>
        <span id="dvSaveResult"><strong>@TempData["SaveResult"]</strong></span>
    </div>

@using (Html.BeginForm("Save", "Bulk"))
    {

    <!-- do not remove -->
    @Html.HiddenFor(m => m.bulkid)
    @Html.HiddenFor(m => m.clientid)
    @Html.HiddenFor(m=>m.productmasterid)
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" data-toggle="collapse" data-target="#prodinfopan"><i class="fa fa-file-text-o fa-fw"></i> Product Information</h3>
        </div>
        <div id="prodinfopan" class="panel-body collapse in">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Master Code - Name</label>
                    @Html.DisplayFor(m => m.MasterCode, new { @class = "form-control" }) - @Html.DisplayFor(m => m.MasterName, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Date Received</label>
                    @Html.TextBoxFor(m => m.receivedate, new { @class = "date-picker form-control" })
                </div>

                <div class="form-group col-md-3">
                    <label>Carrier</label>
                    @Html.DropDownListFor(m => m.carrier, Model.ListOfCarriers, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Warehouse</label>
                    @Html.DropDownListFor(m => m.warehouse, Model.ListOfWareHouses, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Current Weight</label>
                    @Html.TextBoxFor(m => m.currentweight, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Receive Weight</label>
                    @Html.TextBoxFor(m => m.receiveweight, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Entered By</label>
                    @Html.TextBoxFor(m => m.enteredby, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Received By</label>
                    @Html.TextBoxFor(m => m.receivedby, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" data-toggle="collapse" data-target="#batchlotpan"><i class="fa fa-file-text-o fa-fw"></i> Batch / Lot Information</h3>
        </div>
        <div id="batchlotpan" class="panel-body collapse in">
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Lot Number</label>
                    @Html.TextBoxFor(m => m.lotnumber, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Date Of Manufacture</label>
                    @Html.TextBoxFor(m => m.mfgdate, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Expiration Date</label>
                    @Html.TextBoxFor(m => m.expirationdate, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Cease Ship Date</label>
                    @Html.TextBoxFor(m => m.ceaseshipdate, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label>QC Date</label>
                    @Html.TextBoxFor(m => m.qcdate, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Bulk Status</label>
                    @Html.DropDownListFor(m => m.bulkstatus, Model.ListOfBulkStatusIDs, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    &nbsp;
                </div>
                <div class="form-group col-md-3">
                    &nbsp;
                </div>

                <div class="clearfix"></div>
                </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" data-toggle="collapse" data-target="#containerinfopan"><i class="fa fa-file-text-o fa-fw"></i> Container Information</h3>
        </div>
        <div id="containerinfopan" class="panel-body collapse in">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Container Note</label>
                    @Html.TextAreaFor(m => m.containernotes, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Container Color</label>
                    @Html.TextBoxFor(m => m.containercolor, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Bin</label>
                    @Html.TextBoxFor(m => m.bin, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Return Location</label>
                    @Html.TextBoxFor(m => m.returnlocation, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.returnlocation)
                </div>
                <div class="form-group col-md-3">
                    <label>Container Type</label>
                    @Html.DropDownListFor(m => m.containertype, Model.ListOfContainerTypeIDs, new { @class = "form-control" })
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-3">
                    <label>Unit Of Measure</label>
                    @Html.TextBoxFor(m => m.um, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>COA Included?</label>
                    @Html.CheckBox("coaincluded", Model.coaincluded != null && (bool)Model.coaincluded, new { @class = "checkbox" })
                </div>
                <div class="form-group col-md-3">
                    <label>MSDS Included?</label>
                    @Html.CheckBox("msdsincluded", Model.msdsincluded != null && (bool)Model.msdsincluded, new { @class = "checkbox" })
                </div>
                <div class="form-group col-md-3">
                    <label>Other Storage</label>
                    @Html.TextBoxFor(m => m.otherstorage, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Bulk Label Note</label>
                    @Html.TextBoxFor(m => m.bulklabelnote, new { @class = "form-control" })
                </div>

            </div>

        </div>
    </div>

    @*<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" data-toggle="collapse" data-target="#otherinfopan"><i class="fa fa-file-text-o fa-fw"></i> Product Profile Information <small>R/O</small></h3>
        </div>
        <div id="otherinfopan" class="panel-body collapse in">
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Flammable</label>
                    @Html.CheckBox("flammable", Model.flammable != null && (bool)Model.flammable, new { @class = "checkbox", disabled = "disabled" })
                </div>
                <div class="form-group col-md-3">
                    <label>Freezer</label>
                    @Html.CheckBox("freezer", Model.freezer != null && (bool)Model.freezer, new { @class = "checkbox", disabled = "disabled" })
                </div>
                <div class="form-group col-md-3">
                    <label>Refrigerate</label>
                    @Html.CheckBox("refrigerated", Model.refrigerated != null && (bool)Model.refrigerated, new { @class = "checkbox", disabled = "disabled" })
                </div>
                <div class="form-group col-md-3">
                    <label>Packout On Receipt</label>
                    @Html.CheckBox("packout", Model.packout != null && (bool)Model.packout, new { @class = "checkbox", disabled = "disabled" })
                </div>


            </div>
        </div>
    </div>*@


    <div class="form-group row">
        <div class=" col-md-6">
            <input id="btnSave" type="submit" value="Save Changes" class="btn btn-success btn-block" />
        </div>
        <div class=" col-md-6">
            @Html.ActionLink("Cancel", "Index", "Bulk", null, new { @class = "btn btn-danger btn-block" })
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-lg-12">
            <i class="fa fa-arrow-circle-up"></i> <a href="#top">Back to Top</a>
            <span class="pull-right"><a href="#top">Back to Top</a> <i class="fa fa-arrow-circle-up"></i></span>
        </div>
    </div>

    
    }

</div>