@model List<MvcPhoenix.Models.BulkContainerViewModel>
@using MvcPhoenix.Models

<div class="row">
    <div class="pull-right col-md-3">
        <input type="button" class="btn btn-primary btn-block form-control" value="Packout Request" onclick="javascript:alert('Later, this will redirect to Create Packout')" />
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>WH</th>
                <th width="8%">Bin</th>
                <th>Lot Number</th>
                <th>Container<br />Type</th>
                <th class="text-center">Recd<br />Wt</th>
                <th class="text-center">Current<br />Wt</th>
                <th>Expiry<br />Dte</th>
                <th>Cease Ship<br />Dte</th>
                <th>Status</th>
                <th>QC<br />Dte</th>
                <th>Received<br />Dte</th>
                <th>Notice<br />Dte</th>
                <th>Mfg<br />Dte</th>
                <th>Waste Accum<br />Start Dte</th>
                <th>Bulk Label Note</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td>@row.bulkid</td>
                    <td>@row.warehouse</td>
                    <td>@row.bin</td>
                    <td>@row.lotnumber</td>
                    <td>@row.containertype</td>
                    <td class="text-center">@row.receiveweight</td>
                    <td class="text-center">@row.currentweight</td>
                    <td>@String.Format("{0:dd MMM yyyy}", @row.expirationdate)</td>
                    <td>@String.Format("{0:dd MMM yyyy}", @row.ceaseshipdate)</td>
                    <td>@row.bulkstatus</td>
                    <td>@String.Format("{0:dd MMM yyyy}", @row.qcdate)</td>
                    <td>@String.Format("{0:dd MMM yyyy}", @row.receivedate)</td>
                    <td>@String.Format("{0:dd MMM yyyy}", @row.noticedate)</td>
                    <td>@String.Format("{0:dd MMM yyyy}", @row.mfgdate)</td>
                    <td>@String.Format("{0:dd MMM yyyy}", @row.wasteaccumstartdate)</td>
                    <td>@row.bulklabelnote</td>
                    <td>@Html.ActionLink(" ", "EditBulk", "Inventory", new { id = row.bulkid }, new { @class = "btn btn-primary fa fa-pencil", @title = "Edit Bulk Stock" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>