@model MvcPhoenix.Models.InventoryLogNote

<div id="dialogPlaceholderModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("SaveInventoryLogNote", "Inventory", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "CloseModalUpdate"
                }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Inventory Log Note</h4>
                </div>
                <div id="dialogPlaceholderBody" class="modal-body">
                    @Html.HiddenFor(m => m.ProductNoteId)
                    @Html.HiddenFor(m => m.ProductMasterId)
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Date</label>
                            @Html.TextBoxFor(m => m.NoteDate, "{0:dd MMM yyy}", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Reason</label>
                            @Html.DropDownListFor(m => m.ReasonCode, ApplicationService.ddlReasonCodes(), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Note</label>
                            @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <span id="dialogResult" hidden></span>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function CloseModalUpdate() {
        UpdateInventoryNotesList();
        $("#dialogPlaceholderModal").modal('hide');
    }
</script>