@model List<MvcPhoenix.Models.InventoryLogNote>

<div id="dvLogNotes">
    <div class="row">
        <div class="col-md-3 pull-right">
            @Ajax.ActionLink("+ Add New Log", "CreateInventoryLogNote", "Inventory", new { id = @ViewBag.ParentKey }, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                UpdateTargetId = "dialogPlaceholder",
                OnSuccess = "$('#dialogPlaceholderModal').modal('show')"
            }, new { @class = "btn btn-primary btn-block" })
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th id="noprint">&nbsp;</th>
                    <th width="10%">Date</th>
                    <th>Notes</th>
                    <th>Reason Code</th>
                    <th>Updated On</th>
                    <th>Updated By</th>
                    <th id="noprint"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td id="noprint">
                            @Ajax.ActionLink(" ", "DeleteInventoryLogNote", "Inventory", new { id = @item.productnoteid, ParentID = Model[0].productmasterid }, new AjaxOptions
                             {
                                 Confirm = "Delete This Inventory Log Note?",
                                 HttpMethod = "GET",
                                 OnSuccess = "UpdateInventoryNotesList"
                             }, new { @class = "fa fa-fw fa-minus-circle", @style = "color:red;text-decoration:none;", @title = "Delete Inventory Log" })
                        </td>
                        <td>@String.Format("{0:dd MMM yyyy}", @item.notedate)</td>
                        <td>@item.notes</td>
                        <td>@item.reasoncode</td>
                        <td title="Created on @item.CreateDate">@item.UpdateDate</td>
                        <td title="Created by @item.CreateUser">@item.UpdateUser</td>
                        <td id="noprint">
                            <span class="pull-right">
                                @Ajax.ActionLink(" ", "EditInventoryLogNote", "Inventory", new { id = @item.productnoteid }, new AjaxOptions
                               {
                                   InsertionMode = InsertionMode.Replace,
                                   HttpMethod = "GET",
                                   UpdateTargetId = "dialogPlaceholder",
                                   OnSuccess = "$('#dialogPlaceholderModal').modal('show')"
                               }, new { @class = "btn btn-primary fa fa-pencil", @title = "Edit Inventory Log" })
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function UpdateInventoryNotesList() {
        $("#dvLogNotes").load('@Url.Action("InventoryLogList", "Inventory", new { id = @ViewBag.ParentKey })');
    }
</script>