@model MvcPhoenix.Models.InventoryLogNote

<div id="dialogPlaceholderModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Inventory Log Note</h4>
            </div>
            <div id="dialogPlaceholderBody" class="modal-body">
                @using (Ajax.BeginForm("SaveInventoryLogNote", "Inventory", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "CloseModalUpdate"
                }))
                {
                    @Html.HiddenFor(m => m.productnoteid)
                    @Html.HiddenFor(m => m.productmasterid)
                    <div class="row">
                        <div class="col-md-12 form-group">
                            @Html.LabelFor(m => m.notedate)
                            @Html.TextBoxFor(m => m.notedate, "{0:dd MMM yyy}", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            @Html.LabelFor(m => m.reasoncode)
                            @Html.DropDownListFor(m => m.reasoncode, Model.ListOfReasonCodes, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            @Html.LabelFor(m => m.notes)
                            @Html.TextAreaFor(m => m.notes, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="submit" value="Save" class="btn btn-success btn-block" />
                        </div>
                        <div class="col-md-6">
                            @Ajax.ActionLink("Close", null, null, new AjaxOptions
                            {
                                HttpMethod = "GET",
                                OnComplete = "$('#dialogPlaceholderModal').modal('hide')"
                            }, new { @class = "btn btn-danger btn-block" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function CloseModalUpdate() {
        UpdateInventoryNotesList();
        $("#dialogPlaceholderModal").modal('hide');
    }
</script>