@model List<MvcPhoenix.Models.ProductNote>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th width="10%">Date</th>
                <th>Notes</th>
                <th>Reason Code</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@String.Format("{0:dd MMM yyyy}", @item.NoteDate)</td>
                    <td>@item.Notes</td>
                    <td>@item.ReasonCode</td>
                    <td title="Updated by @item.UpdateUser. &#013;Created on @item.CreateDate. &#013;Created by @item.CreateUser.">@item.UpdateDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>