@model List<MvcPhoenix.Models.ProductNote>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th width="10%">Date</th>
                <th>Notes</th>
                <th>Reason Code</th>
                <th>Updated On</th>
                <th>Updated By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@String.Format("{0:dd MMM yyyy}", @item.notedate)</td>
                    <td>@item.notes</td>
                    <td>@item.reasoncode</td>
                    <td title="Created on @item.CreateDate">@item.UpdateDate</td>
                    <td title="Created by @item.CreateUser">@item.UpdateUser</td>
                </tr>
            }
        </tbody>
    </table>
</div>