@model List<MvcPhoenix.Models.BulkContainerViewModel>

<table id="myTable" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Client</th>
            <th>Received</th>
            <th>Expiry</th>
            <th>WH</th>
            <th>Carrier</th>
            <th>Master Code</th>
            <th>Name</th>
            <th>Lot #</th>
            <th>UM</th>
            <th>Received WT</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.bulkid.ToString()</td>
                <td>@item.bulkstatus</td>
                <td>@item.clientname</td>
                <td>@String.Format("{0:dd MMM yyyy}", @item.receivedate)</td>
                <td>@String.Format("{0:dd MMM yyyy}", @item.expirationdate)</td>
                <td>@item.warehouse</td>
                <td>@item.carrier</td>
                <td>@item.MasterCode</td>
                <td>@item.MasterName</td>
                <td>@item.lotnumber</td>
                <td>@item.um</td>
                <td>@String.Format("{0:0.00}", @item.receiveweight)</td>
                <td style="text-align:right">
                    @Html.ActionLink(" ", "EditContainerReceipt", new { controller = "Receiving", id = @item.bulkid }, new { @class = "btn btn-primary fa fa-pencil", @title = "Edit Bulk Stock", target = "_blank" })
                </td>
            </tr>
        }
    </tbody>
</table>