@model List<MvcPhoenix.Models.StockViewModel>
@using MvcPhoenix.Models

@if (Model.Count < 1)
{
    <label class="lead">No Shelf Stock Found.</label>
    <span class="col-md-3 pull-right row">
        @Html.ActionLink("Create New Stock", "CreatePrePackStock", "Inventory", new { id = @ViewBag.ParentID }, new { @class = "btn btn-primary btn-block form-control" })
    </span>
}

@if (Model.Count > 0)
{
    <div class="row">
        <div class="col-md-3 pull-right">
            @Html.ActionLink("Create New Stock", "CreatePrePackStock", "Inventory", new { id = @ViewBag.ParentID }, new { @class = "btn btn-primary btn-block form-control" })
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th id="noprint" width="100px"></th>
                    <th>Shelf ID</th>
                    <th>Stock ID</th>
                    <th>Bulk ID</th>
                    <th>WH</th>
                    <th>Current Bin</th>
                    <th>Lot#</th>
                    <th>Size</th>
                    <th>Unit Weight</th>
                    <th>Qty On Hand</th>
                    <th>Qty Available</th>
                    <th>Qty Allocated</th>
                    <th>Cease Ship Date</th>
                    <th>Status</th>
                    <th id="noprint" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in @Model)
                {
                    <tr>
                        <td id="noprint">
                            <span class="pull-left">
                                <a href="#" class="btn btn-info fa fa-print" onclick="printLabel(@row.StockID, @row.QtyOnHand)" title="Print label to shared printer"></a> |
                                @Html.ActionLink(" ", "ShelfStockLabel", "Inventory", new { id = @row.StockID }, new { @class = "btn btn-success fa fa-file-pdf-o", @title = "Preview label in browser", @target = "_blank" })
                            </span>
                        </td>
                        <td>@row.ShelfID</td>
                        <td>@row.StockID</td>
                        <td>@row.BulkID</td>
                        <td>@row.Warehouse</td>
                        <td>@row.Bin</td>
                        <td>@row.LotNumber</td>
                        <td>@row.Size</td>
                        <td>@row.UnitWeight</td>
                        <td>@row.QtyOnHand</td>
                        <td>@row.QtyAvailable</td>
                        <td>@row.QtyAllocated</td>
                        <td>@String.Format("{0:dd MMM yyyy}", @row.CeaseShipDate)</td>
                        <td>@row.ShelfStatus</td>
                        <td id="noprint">
                            <span class="pull-right">
                                @if (@row.QtyOnHand > 0)
                                {
                                    @Ajax.ActionLink(" ", "EditStock", "Inventory", new { id = @row.StockID }, new AjaxOptions
                                     {
                                         UpdateTargetId = "dialogPlaceholder",
                                         InsertionMode = InsertionMode.Replace,
                                         HttpMethod = "GET",
                                         OnSuccess = "$('#dialogPlaceholderModal').modal('show');"
                                     }, new { @class = "btn btn-primary fa fa-pencil", @title = "Edit Shelf Stock" })
                                }
                                else
                                {
                                    @:&nbsp;
                                }
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

    @* Register the WebClientPrint script code. *@
    @Html.Raw(Neodynamic.SDK.Web.WebClientPrint.CreateScript(Url.Action("ShelfStockPrint", "Inventory", null, Request.Url.Scheme)))

    <script type="text/javascript">
        function printLabel(arg1, arg2) {
            this.shelfstockid = arg1;
            this.pagecopies = arg2;

            jsWebClientPrint.print('Shelfstockid=' + this.shelfstockid + '&pagecopies=' + this.pagecopies);
        }
    </script>