@model MvcPhoenix.Models.Inventory
@{
    ViewBag.Title = "Edit Inventory";
    ViewBag.LogoFileName = @Model.ClientCode + ".gif";
}

@*Display alert if client plugin is not detected*@
@Html.Partial("_ShowDownloadWCPP")

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/@ViewBag.LogoFileName" style="width: auto; height: 73px; float: right" alt="@Model.ClientCode logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title: <small>@Model.PP.productcode - @Model.PP.productname [@Model.PP.productmasterid]</small>
                @if (@Model.PP.productcode == @Model.PP.mastercode)
                {
                    <span class="fa-stack fa-lg" style="font-size:small" title="Master Level Product">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-spin fa-star fa-stack-2x" style="color:gold"></i>
                        <i class="fa fa-medium fa-stack-1x"></i>
                    </span>
                }
            </h1>
        </div>
    </div>

    @using (Html.BeginForm("Save", "Inventory", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.PP.productdetailid)

        <div class="form-group row">
            <div class="col-lg-12">
                <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Inventory Main", "Index")
                <span class="pull-right label label-info">Product ID: @Model.PP.productdetailid</span>
            </div>
            <div class="col-md-12">
                <div class="pull-left">
                    <a href="#_" type="button" onclick="$('.panel-body').collapse('show');" value="open all"> Open All</a> |
                    <a href="#__" type="button" onclick="$('.panel-body').collapse('hide');" value="close all"> Close All</a>
                </div>
                <div style="text-align:center;">
                    <div class="pull-right">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row" style="padding-bottom:15px;">
                    <div class="col-md-3"><b>Product ID:</b><div>@Model.PP.productdetailid</div></div>
                    <div class="col-md-3"><b>Created On:*</b><div>@String.Format("{0:dd MMM yyyy}", @Model.PP.CreateDateDetail)</div></div>
                    <div class="col-md-3"><b>Last Update On:*</b><div>@String.Format("{0:dd MMM yyyy}", @Model.PP.UpdateDateDetail)</div></div>
                    <div class="col-md-3"><b>Last Update By:*</b><div>@Model.PP.UpdateUserDetail</div></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><b>Client:</b><div>@Model.PP.clientname</div></div>
                    <div class="col-md-3"><b>Client Code:</b><div>@Model.ClientCode</div></div>
                    <div class="col-md-3"><b>Division:</b><div>@Model.Division</div></div>
                    <div class="col-md-3"><b>Supplier ID:</b><div>@Model.PP.supplyid</div></div>
                </div>
            </div>
        </div>

                <!--Start: General Product Information Section-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#generalinfopan"><i class="fa fa-file-text-o fa-fw"></i>General Product Information</h3>
            </div>
            <div id="generalinfopan" class="panel-body collapse in" style="margin-bottom:-20px;">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Product Code</label>
                        <input class="form-control" value="@Model.PP.productcode" disabled="disabled" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Master Code</label>
                        <input class="form-control" value="@Model.PP.mastercode" disabled="disabled" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Product Name</label>
                        <input class="form-control" value="@Model.PP.productname" disabled="disabled" />
                    </div>
                </div>
                <div class="row">
                    <div class=" form-group col-md-3">
                        <label>Product Equivalents</label>
                        <div>
                            @Html.ListBox("List of Equivalents", @Model.PP.ListOfEquivalents, new { @class = "form-control", @size = 8 })
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Specific Gravity</label>
                        <input class="form-control" value="@Model.PP.specificgravity" disabled="disabled" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Density</label>
                        <input class="form-control" value="@Model.PP.density" disabled="disabled" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Discontinued</label>
                        <input type="checkbox" checked="@Model.PP.discontinued" disabled="disabled" class="checkbox">
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Shelf Life</label>
                                        <input class="form-control" value="@Model.PP.shlflife" disabled="disabled" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Cease Ship Differential</label>
                                        <input class="form-control" value="@Model.PP.ceaseshipdifferential" disabled="disabled" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Restricted To Amount</label>
                                        <input class="form-control" value="@Model.PP.restrictedtoamount" disabled="disabled" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Pack on Receipt</label>
                                        <input type="checkbox" checked="@Model.PP.packoutonreceipt" disabled="disabled" class="checkbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Storage Location</h3>
                            </div>
                            <div class="panel-body" style="margin-bottom:-20px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="list-unstyled list-3-col">
                                            <li><p><input type="checkbox" checked="@Model.PP.flammablestorageroom" disabled="disabled"> Flammable Room</p></li>
                                            <li><p><input type="checkbox" checked="@Model.PP.toxic" disabled="disabled"> Toxic</p></li>
                                            <li><p><input type="checkbox" checked="@Model.PP.physicaltoxic" disabled="disabled"> Physically Toxic</p></li>
                                            <li><p><input type="checkbox" checked="@Model.PP.freezerstorage" disabled="disabled" style="background-color:yellow;"> Freezable Storage</p></li>
                                            <li><p><input type="checkbox" checked="@Model.PP.freezablelist" disabled="disabled"> Freezable List</p></li>
                                            <li><p><input type="checkbox" checked="@Model.PP.refrigerate" disabled="disabled"> Refrigerate</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#inventorystatpan"><i class="fa fa-file-text-o fa-fw"></i> Inventory Status</h3>
            </div>
            <div id="inventorystatpan" class="panel-body collapse in" style="margin-bottom:-20px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Reorder Information</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="list-unstyled list-3-col">
                                            <li><input type="checkbox" checked="@Model.BackOrderPending" disabled="disabled"> Back Order Pending</li>
                                            <li><input type="checkbox" checked="@Model.PP.prepacked" disabled="disabled"> Prepacked</li>
                                            <li><input type="checkbox" checked="@Model.PP.noreorder" disabled="disabled"> Do Not Reorder</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Reorder Adjustment Days</label>
                                        <input class="form-control" value="@Model.PP.reorderadjustmentdays" disabled="disabled" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Bulk Currently On Order (@Model.ClientUM)</label>
                                        <input class="form-control" value="@Model.BulkWeightCurrentlyOnOrder" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Inventory Status Levels</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <div class="table table-hover table-striped">
                                        <table class=" table-hover" align="center">
                                            <tr>
                                                <th></th>
                                                <th>Total</th>
                                                <th>Available</th>
                                                <th>Test</th>
                                                <th>Hold</th>
                                                <th>QC</th>
                                                <th>Return</th>
                                                <th>Recd</th>
                                                <th>Other</th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th>Shelf Stock</th>
                                                <td class="text-center">@Model.ShelfLevelTotal</td>
                                                <td class="text-center">@Model.ShelfLevelAvail</td>
                                                <td class="text-center">@Model.ShelfLevelTest</td>
                                                <td class="text-center">@Model.ShelfLevelHold</td>
                                                <td class="text-center">@Model.ShelfLevelQC</td>
                                                <td class="text-center">@Model.ShelfLevelReturn</td>
                                                <td class="text-center">@Model.ShelfLevelRecd</td>
                                                <td class="text-center">@Model.ShelfLevelOther</td>
                                                <td>@Model.ClientUM</td>
                                            </tr>
                                            <tr>
                                                <th>Bulk Stock</th>
                                                <td class="text-center">@Model.BulkLevelTotal</td>
                                                <td class="text-center">@Model.BulkLevelAvail</td>
                                                <td class="text-center">@Model.BulkLevelTest</td>
                                                <td class="text-center">@Model.BulkLevelHold</td>
                                                <td class="text-center">@Model.BulkLevelQC</td>
                                                <td class="text-center">@Model.BulkLevelReturn</td>
                                                <td class="text-center">@Model.BulkLevelRecd</td>
                                                <td class="text-center">@Model.BulkLevelOther</td>
                                                <td>@Model.ClientUM</td>
                                            </tr>
                                            <tr style="border-top:double">
                                                <th>Totals</th>
                                                <td class="text-center">@Model.TotalLevelTotal</td>
                                                <td class="text-center">@Model.TotalLevelAvail</td>
                                                <td class="text-center">@Model.TotalLevelTest</td>
                                                <td class="text-center">@Model.TotalLevelHold</td>
                                                <td class="text-center">@Model.TotalLevelQC</td>
                                                <td class="text-center">@Model.TotalLevelReturn</td>
                                                <td class="text-center">@Model.TotalLevelRecd</td>
                                                <td class="text-center">@Model.TotalLevelOther</td>
                                                <td>@Model.ClientUM</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#replenishorderpan"><i class="fa fa-file-text-o fa-fw"></i> Open Replenishment Orders</h3>
            </div>
            <div id="replenishorderpan" class="panel-body collapse in" style="margin-bottom:-20px;">
                @{Html.RenderAction("BulkOrdersList", "Inventory", new { id = @Model.PP.productdetailid });}
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#bulkstockpan"><i class="fa fa-file-text-o fa-fw"></i> Bulk Stock*</h3>
            </div>
            <div id="bulkstockpan" class="panel-body collapse in">
                <div id="">
                    @{Html.RenderAction("BulkStockList", "Inventory", new { id = @Model.PP.productmasterid, productdetailid = @Model.PP.productdetailid });}
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#shelfstockpan"><i class="fa fa-file-text-o fa-fw"></i> Shelf Stock</h3>
            </div>
            <div id="shelfstockpan" class="panel-body collapse in">
                <div id="">
                    @{Html.RenderAction("ShelfStockList", "Inventory", new { @Model.PP.productdetailid });}
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#alertnotepan"><i class="fa fa-suitcase fa-fw"></i> Alert Notes</h3>
            </div>
            <div id="alertnotepan" class="panel-body collapse in">
                <div class="row form-group">
                    <div class="col-md-6 form-group">
                        <label>Sample Request Alert Note</label>
                        <span class="pull-right form-inline">
                            <em>shown if added in an order request</em>
                        </span>
                        @Html.TextAreaFor(m => m.PP.alertnotesorderentry, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Receiving Alert Note <i class="fa fa-fw fa-star" style="color:gold"></i></label>
                        <span class="pull-right form-inline">
                            <em>shown upon receipt of bulk</em>
                        </span>
                        @Html.TextAreaFor(m => m.PP.alertnotesreceiving, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Shipping Alert Note</label>
                        <span class="pull-right form-inline">
                            <em>shown during shipment packaging</em>
                        </span>
                        @Html.TextAreaFor(m => m.PP.alertnotesshipping, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Packout Request Alert Note <i class="fa fa-fw fa-star" style="color:gold"></i></label>
                        <span class="pull-right form-inline">
                            <em>shown during packout process</em>
                        </span>
                        @Html.TextAreaFor(m => m.PP.alertnotespackout, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="pull-right col-md-3">
                        <input type="submit" value="Save Note" class="btn btn-success btn-block" />
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#inventorylogpan"><i class="fa fa-file-text-o fa-fw"></i> Inventory Log <i class="fa fa-fw fa-star" style="color:gold"></i></h3>
            </div>
            <div id="inventorylogpan" class="panel-body collapse in">
                @{Html.RenderAction("InventoryLogList", "Inventory", new { id = @Model.PP.productdetailid });}
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#lognotespan"><i class="fa fa-file-text-o fa-fw"></i> Product Log</h3>
            </div>
            <div id="lognotespan" class="panel-body collapse in">
                @{Html.RenderAction("ProductLogList", "Inventory", new { id = @Model.PP.productdetailid });}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-12">
                <i class="fa fa-arrow-circle-up"></i> <a href="#top">Back to Top</a>
                <span class="pull-right"><a href="#top">Back to Top</a> <i class="fa fa-arrow-circle-up"></i></span>
            </div>
        </div>
    }
</div>