@model MvcPhoenix.Models.PrePackStock
@{
    ViewBag.Title = "Create Shelf Stock";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Client/LogoFile?id=@Model.BulkContainer.clientid" style="width: auto; height: 73px; float: right" alt="@Model.BulkContainer.clientname logo">
        </div>
        <div class="col-lg-12">
            <h2 class="page-header">@ViewBag.Title <small>@Model.ProductCode - @Model.ProductName</small></h2>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12 row">
            <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Inventory Edit", "Edit", "Inventory", new { id = @Model.ProductDetailID }, null)
        </div>
    </div>
    @* Page Heading *@

    @using (Html.BeginForm("SavePrePackStock", "Inventory", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ShelfMasterCount)
        @Html.HiddenFor(m => m.BulkContainer.warehouse)
        @Html.HiddenFor(m => m.ProductDetailID)
        @Html.HiddenFor(m => m.BulkContainer.bin)
        @Html.HiddenFor(m => m.BulkContainer.bulkstatus)

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#prodinfopan"><i class="fa fa-file-text-o fa-fw"></i> Bulk Material Information</h3>
            </div>
            <div id="prodinfopan" class="panel-body collapse in">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Lot Number</label>
                        @Html.TextBoxFor(m => m.BulkContainer.lotnumber, new { required = "required", @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3">
                        <label>Bulk Bin</label>
                        @Html.TextBoxFor(m => m.BulkContainer.bin, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="form-group col-md-3">
                        <label>Bulk Status</label>
                        @Html.TextBoxFor(m => m.BulkContainer.bulkstatus, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>Warehouse</label>
                        @Html.TextBoxFor(m => m.BulkContainer.warehouse, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="form-group col-md-2">
                        <label>Date Received</label>
                        @Html.TextBoxFor(m => m.BulkContainer.receivedate, "{0:dd-MMM-yyyy}", new { @class = "date-picker form-control" })
                        @Html.ValidationMessageFor(m => m.BulkContainer.receivedate)
                    </div>
                    <div class="form-group col-md-2">
                        <label>Manufacture Date</label>
                        @Html.TextBoxFor(m => m.BulkContainer.mfgdate, "{0:dd-MMM-yyyy}", new { @class = "date-picker form-control" })
                        @Html.ValidationMessageFor(m => m.BulkContainer.mfgdate)
                    </div>
                    <div class="form-group col-md-2">
                        <label><abbr title="Shelf Life: @Model.BulkContainer.pm_shelflife">Expiration Date <i class="fa fa-question-circle"></i></abbr></label>
                        @Html.TextBoxFor(m => m.BulkContainer.expirationdate, "{0:dd-MMM-yyyy}", new { @class = "date-picker form-control", @onchange = "ChangeCeaseShipDate(this.value);" })
                        @Html.ValidationMessageFor(m => m.BulkContainer.expirationdate)
                    </div>
                    <div class="form-group col-md-2">
                        <label><abbr title="Cease Ship Days: @Model.BulkContainer.pm_ceaseshipdifferential">Cease Ship Date <i class="fa fa-question-circle"></i></abbr></label>
                        @Html.TextBoxFor(m => m.BulkContainer.ceaseshipdate, "{0:dd-MMM-yyyy}", new { @class = "date-picker form-control" })
                        @Html.ValidationMessageFor(m => m.BulkContainer.ceaseshipdate)
                    </div>
                    <div class="form-group col-md-2">
                        <label>QC Date</label>
                        @Html.TextBoxFor(m => m.BulkContainer.qcdate, "{0:dd-MMM-yyyy}", new { @class = "date-picker form-control" })
                        @Html.ValidationMessageFor(m => m.BulkContainer.qcdate)
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i> Shelf Stock Items to Create</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12 text-center">
                    <label>Enter Quantities Below (leave blank for none)</label>
                </div>
                <div class="table-responsive">
                    <table id="myTable" class="table table-hover display">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Shelf ID</th>
                                <th>Assigned<br />Bin</th>
                                <th>Size</th>
                                <th style="text-align:center;">Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ListOfShelfMasterIDs.Count(); i++)
                            {
                            <tr>
                                <td>@(i + 1)</td>
                                <td><input type="text" readonly="readonly" name='@fnRowKey(@i+1)' value="@Model.ListOfShelfMasterIDs[i].shelfid" style="width:35px;text-align:center;border:none;"></td>
                                <td>@Model.ListOfShelfMasterIDs[i].bin</td>
                                <td>@Model.ListOfShelfMasterIDs[i].size</td>
                                <td style="text-align:center;"><input type="text" name='@fnRowQty(@i+1)' style="width:55px;text-align:center;" /></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="SaveCancel" class="row">
            <div class=" col-md-6">
                <input type="submit" value="Create Shelf Stock" class="btn btn-success btn-block" />
            </div>
            <div class="col-md-6">
                @Html.ActionLink("Cancel", "Edit", "Inventory", new { id = @Model.ProductDetailID }, new { @class = "btn btn-danger btn-block", onclick = "return confirm('Cancel This Process?')" })
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    function ChangeCeaseShipDate(date) {
        var ceaseshipdiff = '@Model.BulkContainer.pm_ceaseshipdifferential';
        var expirationdate = date;
        var ceasedate = addDays(expirationdate, ceaseshipdiff);
        $('#BulkContainer_ceaseshipdate').val($.datepicker.formatDate('dd-M-yy', ceasedate));
    }

    function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() - days);
        return result;
    }
</script>

@functions
{
    private static string fnRowKey(int id)
    {
        string s = "";
        s = "Key" + id.ToString();
        return s;
    }

    private static string fnRowQty(int id)
    {
        string s = "";
        s = "Value" + id.ToString();
        return s;
    }
}