@model List<MvcPhoenix.Models.ReturnStockViewModel>

@if (ViewBag.ShowTheMarkAllStockButton == true)
    {
        <div class="text-left">
            @Ajax.ActionLink("+ Add All Stock Items", "MarkAllStockRecordsForReturn", "ReturnOrders", null,
            new AjaxOptions { OnSuccess = "UpdateAllPartials" }, new { @class = "btn btn-success" })
        </div>
    }

<div class="panel panel-primary">
    <div class="panel-body">
        <div class="table-responsive" style="@ViewBag.TableStyle">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th colspan="7" class="text-center">@ViewBag.TableHeader ( @ViewBag.RecordCount items )</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Product Code</th>
                        <th>Location/<br />Lot</th>
                        <th>Size</th>
                        <th class="text-center">On Hand</th>
                        <th>Expiry</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.markedforreturn != true)
                            {
                                <td>
                                    @Ajax.ActionLink(" ", "MarkStockRecordForReturn", "ReturnOrders", new { id = @item.StockID },
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    OnSuccess = "UpdateStockPartials"
                                }, new { @class = "btn btn-primary fa fa-plus", @title = "Add to order" })
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Ajax.ActionLink(" ", "UnMarkStockRecordForReturn", "ReturnOrders", new { id = @item.StockID },
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    OnSuccess = "UpdateStockPartials"
                                }, new { @class = "btn btn-danger fa fa-times", @title = "Remove from order" })
                                </td>

                            }
                            <td>@item.ProductCode<br />@item.ProductName</td>
                            <td>@item.Warehouse: @item.Bin<br />@item.LotNumber</td>
                            <td>@item.Size</td>
                            <td class="text-center">@item.QtyOnHand</td>
                            <td>@String.Format("{0:dd-MMM-yyyy}", @item.ExpirationDate)</td>
                            <td>@item.ShelfStatus</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>