@model List<MvcPhoenix.Models.BulkContainerSearchResults>
@{
    // Partial view used to display Bulk Container search results
    // Contains a link to Edit for each BulkID
}

<p>@ViewBag.SearchName @Model.Count containers</p>

<div style="height:300px;overflow-y:auto;">
    <table id="myTable" class="table table-hover table-striped table-condensed display" style="font-size:.8em;width:98%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Client</th>
                    <th>Rec'd</th>
                    <th>Expiry</th>
                    <th>Warehouse</th>
                    <th>Carrier</th>
                    <th>Master Code</th>
                    <th>Name</th>
                    <th>Lot</th>
                    <th>UM</th>
                    <th>WT</th>
                    <th><i class="fa fa-fw fa-pencil-square-o"></i></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.bulkid.ToString()</td>
                        <td>@item.bulkstatus</td>
                        <td>@item.clientname</td>
                        <td>@fnDate(@item.receivedate)</td>
                        <td>@fnDate(@item.expirationdate)</td>
                        <td>@item.warehouse</td>
                        <td>@item.carrier</td>
                        <td>@item.mastercode</td>
                        <td>@item.mastername</td>
                        <td>@item.lotnumber</td>
                        <td>@item.um</td>
                        <td>@item.currentweight.ToString()</td>
                        <td>
                            @Html.ActionLink("Edit", "SetUpEdit", "BulkContainer",
                    new { id = @item.bulkid }, new { @class = "btn btn-primary btn-xs" }
                   )
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>



<div id="dvEditPlaceHolder">

</div>


<script type="text/javascript">
    $(document).ready(function () {
        // nothing to do
    });
</script>


@functions {
    private static string fnDate(DateTime? vDate)
    {
        string s = ""; s = (vDate.HasValue) ? vDate.Value.ToString("dd MMM yyyy") : "no date"; return s;
    }
}
