@model MvcPhoenix.Models.BulkContainer
@{
    // Need to review tblBulk data structures with cd  | Labels in RED are for review 
}

<!-- pc override bootstap to tighen dev screen (remove in production) -->
<style type="text/css">
    .panel {margin-bottom: 8px; }
    .panel-body {padding: 5px;  }
    .pcreview { color:red; font-weight:bold; }
</style>

<div style="margin-bottom:5px;">
    <h4>
        Bulk Container Edit | Container Id: @Model.bulkid.ToString() | @Model.clientname
    </h4>
</div>

<!-- use an ajax form to post back to an Action to save the object and return save result to dvSaveResult -->
@using (Ajax.BeginForm("SavePostData", "BulkContainer",
    new AjaxOptions
    {   HttpMethod = "POST", UpdateTargetId = "dvSaveResult", InsertionMode = InsertionMode.Replace
    }))
{
        
<!-- do not remove -->
@Html.HiddenFor(m => m.isknownmaterial)
@Html.HiddenFor(m => m.bulkid)

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i> Basic Product Information</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.productmasterid)
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.productmasterid, Model.ListOfProductMasters, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.receiveweight)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.receiveweight, new { @class = "form-control", @style = "width:55%;" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.warehouse)
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.warehouse,Model.ListOfWareHouses, new { @class = "form-control",@style="width:55%;" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.receivedby)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.receivedby, new { @class = "form-control", @style = "width:55%;" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
               @Html.LabelFor(m => m.receivedate)
            </div>
            <div class="col-md-4">
                @*@Html.EditorFor(m => m.receivedate, new { @class = "form-control" })*@
               @Html.TextBoxFor(m => m.receivedate, "{0:dd-MMM-yyyy}", new { @readonly = "readonly", @class = "form-control", @style = "width:55%;" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.carrier, new { @class = "pcreview" })
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.carrier, new { @class = "form-control", @style = "width:55%;" })
            
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.enteredby)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.enteredby, new { @class = "form-control", @style = "width:55%;" })                
               
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.currentweight)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.currentweight, new { @readonly = "readonly", @class = "form-control", @style = "width:55%;" })

            </div>
    
    </div> 

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.packout, new { @class = "pcreview" })
            </div>
            <div class="col-md-4">
                @Html.CheckBox("packout", Model.packout != null && (bool)Model.packout)
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
        </div>


    </div>
    <div class="panel-footer alert-danger" style="font-weight:bold;">
            @Html.ValidationMessageFor(m => m.receivedby)
            @Html.ValidationMessageFor(m => m.receivedate)
            @Html.ValidationMessageFor(m => m.carrier)
            @Html.ValidationMessageFor(m => m.enteredby)
    </div>
</div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i> Batch Lot Information</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m=> m.lotnumber)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.lotnumber, new { @class = "form-control", @style = "width:55%;" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(m=>m.mfgdate)
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(m => m.mfgdate, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.expirationdate)
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(m => m.expirationdate, new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(m => m.ceaseshipdate)
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(m => m.ceaseshipdate, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.bulkstatus)
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.bulkstatus, Model.ListOfBulkStatusIDs, new { @class = "form-control", @style = "width:55%;" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(m => m.noticedate)
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(m => m.noticedate, new { @class = "form-control" })
                </div>

            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.qcdate)
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(m => m.qcdate, new { @class = "form-control" })
                </div>

                <div class="col-md-2">

                </div>
                <div class="col-md-4">

                </div>
            </div>

            

        </div>
    </div>


    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i> Container Information</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m=> m.um)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.um, new { @class = "form-control", @style = "width:55%;" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(m=> m.containercolor)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.containercolor, new { @class = "form-control", @style = "width:55%;" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m=> m.bin)
                </div>
                <div class="col-md-4">
                @Html.TextBoxFor(m => m.bin, new { @class = "form-control", @style = "width:55%;" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(m=> m.containertype)
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.containertype, Model.ListOfContainerTypeIDs, new { @class = "form-control", @style = "width:55%;" })
                </div>
            </div>
        </div>
    </div>
  
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i>Other Information</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.coaincluded)
                </div>
                <div class="col-md-4">
                    @Html.CheckBox("coaincluded", Model.coaincluded != null && (bool)Model.coaincluded)
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(m => m.msdsincluded)
                </div>
                <div class="col-md-4">
                    @Html.CheckBox("msdsincluded", Model.msdsincluded != null && (bool)Model.msdsincluded)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.returnlocation)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.returnlocation, new { @class = "form-control", @style = "width:55%;" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(m => m.receivedascode)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.receivedascode, new { @class = "form-control", @style = "width:55%;" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.bulklabelnote)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.bulklabelnote, new { @class = "form-control", @style = "width:55%;" })
                </div>
                <div class="col-md-2">
                    ..
                </div>
                <div class="col-md-4">
                    ..
                </div>


            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.receivedasname)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.receivedasname, new { @class = "form-control", @style = "width:55%;" })
                </div>
                <div class="col-md-2">
                    ..            
                </div>
                <div class="col-md-4">
                    ..
                </div>

            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.containernotes)
                </div>
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.containernotes, new { @class = "form-control", @style = "width:80%;" })            
                </div>
            </div>

        </div>
    </div>

    <input type="submit" value="Save" class="btn btn-success" />

    <span id="dvSaveResult"></span>


}

<!-- Javascript -->
<script type="text/javascript">
    $(document).ready(function () {
        // nothing to do
        
    });
</script>

<!-- Razor functions-->
@functions
{

}

