@{
    ViewBag.Title = "Receiving";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="acme logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-4">
            <a href="~/Receiving/Create"><input type="button" value="Receive Prepacked Stock" class="form-control btn btn-default btn-block" /></a>
            <div class="panel panel-green">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i>Receive Prepacked Stock</h3>
                </div>
                <div class="panel-body">
                    <a href="~/Receiving/CreatePrepack"><input type="button" value="Receive" class="form-control btn btn-success btn-block" /></a>
                    <div class="form-group col-md-6">
                        <label>Client</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Product Code</label>
                        <input class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <a href="~/Receiving/Create"><input type="button" value="Receive Known Bulk Stock" class="form-control btn btn-warning btn-block" /></a>
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i>Receive Known Bulk Stock</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group col-md-6">
                        <label>Client</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Product Code</label>
                        <input class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <a href="~/Receiving/CreateUnknown"><input type="button" value="Receive Unknown Stock" class="form-control btn btn-danger btn-block" /></a>
            <div class="panel panel-red">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i>Receive Unknown Stock</h3>
                </div>
                <div class="panel-body">
                    <a href="~/Receiving/CreateUnknown"><input type="button" value="Receive" class="form-control btn btn-success btn-block" /></a>
                    <div class="form-group col-md-6">
                        <label>Client</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>.</label>
                        <a href="~/Receiving/CreateUnknown"><input type="button" value="Receive" class="form-control btn btn-success" /></a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        @using (Ajax.BeginForm("SearchBulkContainerUserCriteria", "Receiving",
    new AjaxOptions
    {
        UpdateTargetId = "dvGridPlaceHolder",
        InsertionMode = InsertionMode.Replace,
        OnBegin = "document.getElementById('dvGridPlaceHolder').innerHTML = ''",
        LoadingElementId = "dvspinner",
    }))
        {
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i> Filter Search</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-3">
                            <label>Client</label>
                            @Html.DropDownList("clientid", fnClientIDs(), new { onchange = "clearResults()", @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Warehouse</label>
                            @Html.DropDownList("warehouse", fnWareHouseList(), new { onchange = "clearResults()", @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Rows</label>
                            <input type="number" id="rowcount" name="rowcount" value="10" class="form-control" />
                        </div>
                        <div class="form-group col-md-3">
                            <label>.</label>
                            <input id="btnsubmit" type="submit" value="Search" class="btn btn-success form-control" />
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i> Quick Search</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group col-md-4">
                        <label>.</label>
                        @Ajax.ActionLink("In Receiving", "SearchInReceiving", "Receiving", null, new AjaxOptions
                             {
                                 UpdateTargetId = "dvGridPlaceHolder",
                                 LoadingElementId = "dvspinner",
                                 InsertionMode = InsertionMode.Replace,
                                 OnBegin = "clearResults",
                                 HttpMethod = "GET",
                             }, new { @class = "btn btn-info form-control", data_toggle = "tooltip", title = "this is a tooltip" })
                    </div>
                    <div class="form-group col-md-4">
                        <label>.</label>
                        @Ajax.ActionLink("Unavailable", "SearchNonAvailable", "Receiving", null, new AjaxOptions
                             {
                                 UpdateTargetId = "dvGridPlaceHolder",
                                 LoadingElementId = "dvspinner",
                                 InsertionMode = InsertionMode.Replace,
                                 OnBegin = "clearResults",
                                 HttpMethod = "GET",
                             }, new { @class = "btn btn-info form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label>.</label>
                        @Ajax.ActionLink("Expired", "SearchExpired", "Receiving", null, new AjaxOptions
                             {
                                 UpdateTargetId = "dvGridPlaceHolder",
                                 LoadingElementId = "dvspinner",
                                 InsertionMode = InsertionMode.Replace,
                                 OnBegin = "clearResults",
                                 HttpMethod = "GET",
                             }, new { @class = "btn btn-info form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="col-md-12 text-center" id="dvspinner" style="display:none; font-size:large">
            <i class="fa fa-circle-o-notch fa-5x fa-spin"></i> Processing...
        </div>

        <div id="dvGridPlaceHolder" class="row">
            @Html.Partial("~/Views/Receiving/_SearchResults.cshtml")
        </div>


    </div>

<!-- Post page scripts -->
<script type="text/javascript">
    function clearResults() {
        document.getElementById("dvGridPlaceHolder").innerHTML = "";
        // loads when even is triggered after page load
    }
</script>

@functions
{
    // these are local to this view cause this view not strongly typed

    private static List<SelectListItem> fnClientIDs()
    {
        using (var db = new MvcPhoenix.EF.CMCSQL03Entities())
        {
            List<SelectListItem> mylist = new List<SelectListItem>();
            mylist = (from t in db.tblClient
                      orderby t.ClientName
                      select
                          new SelectListItem { Value = t.ClientID.ToString(), Text = t.ClientName }).ToList();
            mylist.Insert(0, new SelectListItem { Value = "0", Text = "Select Client" });
            return mylist;
        }
    }

    private List<SelectListItem> fnWareHouseList()
    {
        List<SelectListItem> mylist = new List<SelectListItem>();
        mylist.Add(new SelectListItem { Value = "", Text = "" });
        mylist.Add(new SelectListItem { Value = "AP", Text = "AP" });
        mylist.Add(new SelectListItem { Value = "CT", Text = "CT" });
        mylist.Add(new SelectListItem { Value = "CO", Text = "CO" });
        mylist.Add(new SelectListItem { Value = "EU", Text = "EU" });
        return mylist;
    }
}
