@model PagedList.IPagedList<MvcPhoenix.EF.tblProductMaster>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Reference Product Search";
}

<div class="panel panel-primary">
    <div class="panel-body">
        @{
            if (Model.Count == 0 || @ViewBag.CurrentFilter == null)
            {
                <div class="col-md-12">
                    <label class="lead">No products found. Try again.</label>
                </div>
            }
            else
            {
                <div class="col-md-12">
                    <label class="lead">Reference Search Results For "@ViewBag.CurrentFilter"</label>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Location</th>
                                <th>Client</th>
                                <th>Division</th>
                                <th>Master Code</th>
                                <th>Master Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td data-label="Location">
                                        @Html.DisplayFor(modelItem => item.Location_MDB)
                                    </td>
                                    <td data-label="Client">
                                        @Html.DisplayFor(modelItem => item.Company_MDB)
                                    </td>
                                    <td data-label="Division">
                                        @Html.DisplayFor(modelItem => item.Division_MDB)
                                    </td>
                                    <td data-label="Master Code">
                                        @Html.DisplayFor(modelItem => item.MasterCode)
                                    </td>
                                    <td data-label="Master Name">
                                        @Html.DisplayFor(modelItem => item.MasterName)
                                    </td>
                                </tr>
                            }
                        </tbody>
</table>

                </div>
                <div class="col-md-12 text-center">
                    <label>@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</label>
                    @*@Html.PagedListPager(Model, page => Url.Action("Search", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@

                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Search", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.ClassicPlusFirstAndLast,
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "Get",
                                    UpdateTargetId = "dvSearchReference"
                                }))
                </div>
            }
        }
    </div>
</div>