@{
    ViewBag.Title = "Receive Known Material";

}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="cmc logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12 row">
            <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Receiving Main", "Index")
        </div>
    </div>
    <!-- ./Page Heading -->
    <!-- Build a form to submit the productmasterid back to check for open order items -->
    @using (Ajax.BeginForm("CheckForOpenOrderItems", "Receiving", new AjaxOptions
    {
        UpdateTargetId = "dvPlaceholderOpenOrderItems",
        OnBegin = "$('#dvPlaceholderOpenOrderItems').removeClass('hidden')",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST"
    }))
    {
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div id="dvPlaceholderClientID">
                            <label>Client</label>
                            @Html.DropDownList("ClientID", ApplicationService.ddlClientIDs(), new { onchange = "OnChangeClientID()", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div id="dvPlaceholderMasterCode" class="hidden">
                            <label>Product Master Code</label>
                            <select name='productmasterid' id='productmasterid' onchange="OnChangeMasterCode()" class='form-control'>
                                @* Placeholder for options values *@
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="dvPlaceholderCheckOrdersButton" class="hidden">
                            <input id="btnsubmit" type="submit" value="Check Open Orders" onclick="OnClickCheckOrders()" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div id="dvPlaceholderNew" class="hidden">
                            <a id="aNewContainer" class="btn btn-primary btn-block">Enter New Container</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="dvPlaceholderOpenOrderItems" class="hidden">@* Placeholder for Open Order Items *@</div>
    }
</div>

<script type="text/javascript">
    function OnChangeClientID() {
        // hide/show controls
        $("#dvPlaceholderMasterCode").removeClass("hidden");
        $("#dvPlaceholderCheckOrdersButton").addClass("hidden");
        $("#dvPlaceholderOpenOrderItems").empty();
        $("#dvPlaceholderNew").addClass("hidden");
        // call action that returns DD of Mastercodes
        var url = '@Url.Action("BuildProductMasterDropDown", "Receiving")';
        var data = $('#ClientID').val()
        $("#productmasterid").load(url, { id: data });
    }

    function OnChangeMasterCode() {
        // show the button to check for open order items
        $("#dvPlaceholderOpenOrderItems").empty();
        $("#dvPlaceholderCheckOrdersButton").removeClass("hidden");
        $("#dvPlaceholderNew").addClass("hidden");
    }

    function OnClickCheckOrders() {
        $("#dvPlaceholderOpenOrderItems").empty();
        $("#dvPlaceholderNew").removeClass("hidden");
        // build the New url to include the productmasterid
        var myid = $("#productmasterid").val();
        var url = '@Url.Action("CreateContainerReceipt", "Receiving")';
        url = url + "/" + myid;
        $("#aNewContainer").prop("href", url);
    }
</script>