@using ReportViewerForMvc;

@{
    ViewBag.Title = "Run Reports";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>            
        </div>
    </div>
    <!-- /.Page Heading -->

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <label><i class="fa fa-files-o fa-fw"></i> Reports For Product Coordinators</label>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled list-2-col">
                        <li>@Html.ActionLink("CAS Report", "Cas")</li>
                        <li>@Html.ActionLink("Client Harmonized Report", "ClientHarmonized")</li>
                        <li>@Html.ActionLink("Client MSDS Date Report", "ClientMSDSDate")</li>
                        <li>@Html.ActionLink("Client Packages Report", "ClientPackages")</li>
                        <li>@Html.ActionLink("Client Products List Report", "ClientProductsList")</li>
                        <li>@Html.ActionLink("Hazard List Report", "ClientHazardList")</li>
                        <li>@Html.ActionLink("Sample Guide Info Report", "ClientSampleGuideInfo")</li>
                        <li>@Html.ActionLink("Sample Guide Rev. Date Report", "ClientSGRevDate")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <label><i class="fa fa-files-o fa-fw"></i> Inventory Reports</label>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled list-2-col">
                        <li>Inactive Stock**</li>
                        <li>Bulk Unavailable**</li>
                        <li>@Html.ActionLink("Expiry Report", "InvExpiry")</li>
                        <li>@Html.ActionLink("Total In-Stock Report", "InvTotalInStock")</li>
                        <li>@Html.ActionLink("Out of Stock Inventory Report", "InvOutOfStock")</li>
                        <li>@Html.ActionLink("Open Replenishment Report", "InvOpenReplenishment")</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <label><i class="fa fa-files-o fa-fw"></i> Reports For Customer Service Reps</label>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled list-2-col">
                        <li>@Html.ActionLink("Open Order Report", "OrdersOpen")</li>
                        <li>Back Order Report**</li>
                        <li>@Html.ActionLink("General Order Export Report", "OrdersExport") - <small>(Partial Order Deliveries?)</small></li>
                        <li>International Export Report</li>
                        <li>Ship Verify Report</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <label><i class="fa fa-files-o fa-fw"></i> Reports For Managers</label>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled list-2-col">
                        <li>Report #1</li>
                        <li>Report #2</li>
                        <li>Report #3</li>
                        <li>Report #4</li>
                        <li>Report #5</li>
                        <li>Report #6</li>
                        <li>Report #7</li>
                        <li>Report #8</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>