<div id="dialogPlaceholderModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Advanced Search</h4>
            </div>

            <div id="dialogPlaceholderBody" class="modal-body">

                @using (Ajax.BeginForm("LookupClientID", "Orders", FormMethod.Post, new AjaxOptions
                {
                    UpdateTargetId = "dvSearchResults",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "$('#dialogPlaceholderModal').modal('hide')",
                    OnFailure = "$.alert('Client Search Failure')"
                }))
                {
                    <div class="input-group" style="padding: 5px;">
                        @Html.DropDownList("searchclient", ApplicationService.ddlClientIDs(), new { name = "searchclient", @class = "form-control", @required = "required" })
                        <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Last 20" /></span>
                    </div>
                }

                @using (Ajax.BeginForm("LookupOrderDate", "Orders", FormMethod.Post, new AjaxOptions
                {
                    UpdateTargetId = "dvSearchResults",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "$('#dialogPlaceholderModal').modal('hide')",
                    OnFailure = "$.alert('Order Date Search Failure')"
                }))
                {
                    <div class="input-group" style="padding: 5px;">
                        <input class="form-control date-picker" id="searchorderdate" name="searchorderdate" required />
                        <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Search" /></span>
                    </div>
                }

                @using (Ajax.BeginForm("LookupCompany", "Orders", FormMethod.Post, new AjaxOptions
                {
                    UpdateTargetId = "dvSearchResults",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "$('#dialogPlaceholderModal').modal('hide')",
                    OnFailure = "$.alert('Company Search Failure')"
                }))
                {
                    <div class="input-group" style="padding: 5px;">
                        @Html.TextBox("searchcompany", null, new { @class = "form-control", placeholder = "Ship To...", @required = "required" })
                        <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Search" /></span>
                    </div>
                }

                @using (Ajax.BeginForm("LookupAttention", "Orders", FormMethod.Post, new AjaxOptions
                {
                    UpdateTargetId = "dvSearchResults",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "$('#dialogPlaceholderModal').modal('hide')",
                    OnFailure = "$.alert('Attention Search Failure')"
                }))
                {
                    <div class="input-group" style="padding: 5px;">
                        @Html.TextBox("searchattention", null, new { @class = "form-control", placeholder = "Attention...", @required = "required" })
                        <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Search" /></span>
                    </div>
                }

                @using (Ajax.BeginForm("LookupZipCode", "Orders", FormMethod.Post, new AjaxOptions
                {
                    UpdateTargetId = "dvSearchResults",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "$('#dialogPlaceholderModal').modal('hide')",
                    OnFailure = "$.alert('Zip Code Search Failure')"
                }))
                {
                    <div class="input-group" style="padding: 5px;">
                        @Html.TextBox("searchzipcode", null, new { @class = "form-control", placeholder = "Zip/Postal Code...", @required = "required" })
                        <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Search" /></span>
                    </div>
                }

                @using (Ajax.BeginForm("LookupSalesRep", "Orders", FormMethod.Post, new AjaxOptions
                {
                    UpdateTargetId = "dvSearchResults",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "$('#dialogPlaceholderModal').modal('hide')",
                    OnFailure = "$.alert('Sales Rep Search Failure')"
                }))
                {
                    <div class="input-group" style="padding: 5px;">
                        @Html.TextBox("searchsalesrep", null, new { @class = "form-control", placeholder = "Sales Rep Name...", @required = "required" })
                        <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Search" /></span>
                    </div>
                }

                @using (Ajax.BeginForm("LookupWebOrderId", "Orders", FormMethod.Post, new AjaxOptions
                {
                    UpdateTargetId = "dvSearchResults",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "$('#dialogPlaceholderModal').modal('hide')",
                    OnFailure = "$.alert('Web Order Id Search Failure')"
                }))
                {
                    <div class="input-group" style="padding: 5px;">
                        @Html.TextBox("searchweborderid", null, new { @class = "form-control", placeholder = "Web Order Id...", @required = "required", @type = "number"  })
                        <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Search" /></span>
                    </div>
                }

                @using (Ajax.BeginForm("LookupClientReference", "Orders", FormMethod.Post, new AjaxOptions
                {
                    UpdateTargetId = "dvSearchResults",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "$('#dialogPlaceholderModal').modal('hide')",
                    OnFailure = "$.alert('Client Reference Search Failure')"
                }))
                {
                    <div class="input-group" style="padding: 5px;">
                        @Html.TextBox("searchclientreference", null, new { @class = "form-control", placeholder = "Client Reference...", @required = "required" })
                        <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Search" /></span>
                    </div>
                }

                @using (Ajax.BeginForm("LookupClientOrderNumber", "Orders", FormMethod.Post, new AjaxOptions
                {
                    UpdateTargetId = "dvSearchResults",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "$('#dialogPlaceholderModal').modal('hide')",
                    OnFailure = "$.alert('Client Order Number Search Failure')"
                }))
                {
                    <div class="input-group" style="padding: 5px;">
                        @Html.TextBox("searchclientordernumber", null, new { @class = "form-control", placeholder = "Client Order Number...", @required = "required" })
                        <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Search" /></span>
                    </div>
                }

                @using (Ajax.BeginForm("LookupTrackingNumber", "Orders", FormMethod.Post, new AjaxOptions
                {
                    UpdateTargetId = "dvSearchResults",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "$('#dialogPlaceholderModal').modal('hide')",
                    OnFailure = "$.alert('Tracking Number Search Failure')"
                }))
                {
                    <div class="input-group" style="padding: 5px;">
                        @Html.TextBox("searchtrackingnumber", null, new { @class = "form-control", placeholder = "Tracking Number...", @required = "required" })
                        <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Search" /></span>
                    </div>
                }

                @using (Ajax.BeginForm("LookupInternalNotes", "Orders", FormMethod.Post, new AjaxOptions
                {
                    UpdateTargetId = "dvSearchResults",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "$('#dialogPlaceholderModal').modal('hide')",
                    OnFailure = "$.alert('Internal Notes Search Failure')"
                }))
                {
                    <div class="input-group" style="padding: 5px;">
                        @Html.TextBox("searchinternalnotes", null, new { @class = "form-control", placeholder = "Internal Notes...", @required = "required" })
                        <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Search" /></span>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".date-picker").datepicker({ dateFormat: 'dd-M-yy' });
    });
</script>