@model List<MvcPhoenix.Models.OrdersListForLandingPage>
@{
  // widget005
  // Partial view showing query results table on Orders/Index
}

<h3>@ViewData["SearchResultsMessage"]</h3>
<table class="table table-hover table-striped">
    <tr> 
        <th>Client</th>
        <th>Order Date</th>
        <th>Ship To</th>
        <th>Order ID</th>
        <th>Type</th>
        <th>User</th>
        <th>Items</th>
        <th><i class="fa fa-fw fa-file-text-o"></i></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.ClientName</td>
        <td>@item.OrderDate.ToString()</td>
        <td>@item.Company</td>
        <td>@item.OrderID.ToString()</td>
        <td>@item.OrderType</td>
        <td>John Smith</td>
        <td>@item.ItemsCount</td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", "Orders", new { id = item.OrderID }, null)*@
            <a class="btn btn-xs btn-primary" title="Edit" href="~/Orders/Edit/@item.OrderID"><i class="fa fa-fw fa-pencil"></i></a>
    </td>
    </tr>
    }
</table>

<script>
    $(function () {
        $('#advancedsearch').modal('hide'); // close modal after successful data load
    });
</script>