@model List<MvcPhoenix.Models.OrderMasterFull>

@{
    // Do not include Model.Customer field; thats actually CMCLongCustomer
}
<div class="row">
    <div class="col-md-12 text-center">
        <label class="lead">@TempData["SearchResultsMessage"]</label>
    </div>
    <div class="table-responsive col-md-12" style="font-size:0.9em">
        <table class="table table-hover table-striped">
            <tr>
                <th>Client</th>
                <th>Order Date</th>
                <th>Ship To</th>
                <th>Order ID</th>
                <th>Type</th>
                <th>CreatedBy</th>
                <th>Items</th>
                <th><i class="fa fa-fw fa-file-text-o"></i></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.clientname</td>
                    <td>@item.orderdate.ToString()</td>
                    <td>@item.company</td>
                    <td>@item.orderid.ToString()</td>
                    <td>@item.ordertype</td>
                    <td>@item.CreateUser</td>
                    <td>@item.itemscount</td>
                    <td>
                        <a class="btn btn-xs btn-primary" title="Edit" href="~/Orders/Edit/@item.orderid"><i class="fa fa-fw fa-pencil"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>