@model List<MvcPhoenix.Models.OrderItem>
@{
    ViewBag.Title = "Order Items";
    
}

<div class="table-responsive">
    <table id="mytable" class="table table-hover table-striped" style="font-size:.85em;">
        <tr>
            @*<th class="text-center"><i class="fa fa-fw fa-trash-o"></i></th>*@
            <th>#</th>
            @*<th>ItemID</th>*@
            @*<th>PD ID</th>*@
            <th>Product Code</th>
            <th>Name</th>
            <th>Size</th>
            <th>Lot#</th>
            <th>Qty</th>
            <th>Ship Date</th>
            <th class="text-center">BO</th>
            <th class="text-center">Delay</th>
            <th class="text-center">Avail</th>
            <th class="text-center">A-Status</th>
            <th class="text-center"><i class="fa fa-fw fa-send-o"></i></th>
            <th class="text-center"><i class="fa fa-fw fa-pencil-square-o"></i></th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td class="text-center">
                    <a title="Delete" data-ajax="true" data-ajax-confirm="Are You Sure You Want To DELETE Product Code: @item.ProductCode From This Order?"
                           data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#w004" href="~/Orders/XXXXXXXXXX/@item.ItemID"><i class="fa fa-fw fa-minus-circle" style="color:red"></i></a>
                    </td>*@
                    <td>@(Model.IndexOf(item) + 1)</td>
                    @*<td>@item.ItemID</td>*@
                    @*<td>@item.ProductDetailID</td>*@
                    <td>@item.ProductCode</td>
                    <td>@item.ProductName</td>
                    <td>@item.Size</td>
                    <td>@item.LotNumber</td>
                    <td class="text-center">@item.Qty</td>
                    <td>@String.Format("{0:dd MMM yyyy}", item.ShipDate)</td>
                    <td class="text-center"><input type="checkbox" checked="@item.BackOrdered" readonly="readonly" onclick="return false" /></td>
                    <td class="text-center"><input type="checkbox" checked="@item.NonCMCDelay" disabled="disabled" /></td>
                    <td class="text-center">@item.QtyAvailable.ToString()</td>
                    <td class="text-center">@item.AllocateStatus</td>
                    <td class="text-center">
                        <!-- call allocate, update the orderitems partial -->
                            @Ajax.ActionLink(" ", "AllocateItem", "Orders", new { id = @item.ItemID }, new AjaxOptions
                             {
                                 UpdateTargetId = "dvOrderItemsList",
                                 InsertionMode = InsertionMode.Replace,
                                 HttpMethod = "GET",
                                 OnFailure="alert('failed to allocate')",
                                 OnSuccess="UpdateItemsList"
                             }, new { @class = "btn btn-xs btn-warning fa fa-fw fa-briefcase" })

                    </td>

                    <td class="text-center">
                        @Ajax.ActionLink("Edit", "EditItem", "Orders", new { id = @item.ItemID }, new AjaxOptions
                             {
                                 UpdateTargetId = "dialogPlaceholder",
                                 InsertionMode = InsertionMode.Replace,
                                 HttpMethod = "GET",
                                 OnSuccess = "$('#dialogPlaceholderModal').modal('show');"
                             }, new { @class = "btn btn-xs btn-primary" })
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">

    function UpdateItemsList() {
        $("#dvOrderItemsList").load('@Url.Action("fnOrderItemsList", "Orders", new { id = @Model[0].OrderID })');
    }

</script>