@model MvcPhoenix.Models.OrderTrans

<style>
    .tooltip-inner {
        max-width: 450px;
    }
</style>

<div id="dialogPlaceholderModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("SaveTrans", "Orders", new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "dialogResult",
                    OnSuccess = "UpdateTransList",
                    InsertionMode = InsertionMode.Replace,
                    OnFailure = "$.alert('SAVE FAILURE')"
                }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Order Transaction: <em>@Model.ordertransid</em></h4>
                </div>

                <div id="dialogPlaceholderBody" class="modal-body">
                    @Html.HiddenFor(m => m.ordertransid)
                    @Html.HiddenFor(m => m.orderid)
                    @Html.HiddenFor(m => m.clientid)
                    @Html.HiddenFor(m => m.createdate)
                    @Html.HiddenFor(m => m.createuser)
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Type <i id="listtranstypes" class="fa fa-fw fa-question-circle"></i></label>
                            @if (Enum.IsDefined(typeof(ApplicationService.OrderTransTypesChoice), Model.transtype) || Model.transtype == null)
                            {
                                @Html.DropDownListFor(m => m.transtype, new SelectList(Enum.GetValues(typeof(ApplicationService.OrderTransTypesChoice))), new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.transtype, new { @class = "form-control", @readonly = "readonly" })
                            }
                            @Html.ValidationMessageFor(m => m.transtype)
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Date</label>
                            @Html.TextBoxFor(m => m.transdate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.transdate)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Order Item</label>
                            @Html.DropDownListFor(m => m.orderitemid, ApplicationService.ddlOrderItemIDs(Model.orderid), new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.orderitemid)
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Quantity</label>
                            @Html.TextBoxFor(m => m.transqty, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.transqty)
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Amount</label>
                            @Html.TextBoxFor(m => m.transamount, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.transamount)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Comments</label>
                            @Html.TextAreaFor(m => m.comments, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.comments)
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @Ajax.ActionLink("Delete", "DeleteTrans", "Orders", new { id = Model.ordertransid }, new AjaxOptions
                                       {
                                           HttpMethod = "GET",
                                           UpdateTargetId = "dialogResult",
                                           InsertionMode = InsertionMode.Replace,
                                           OnSuccess = "UpdateAndClose",
                                           Confirm = "Are you sure you want to delete this item?",
                                       }, new { @class = "btn btn-danger" })
                    <button type="submit" class="btn btn-primary" onclick="UpdateAndClose()">Save</button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var tableref = (function () {/*
             <table class="table table-bordered table-condensed" style="font-size:0.8em;">
                    <tr>
                        <th>Code</th>
                        <th>Descriptive Reference</th>
                        <th>Code</th>
                        <th>Descriptive Reference</th>
                        <th>Code</th>
                        <th>Descriptive Reference</th>
                    </tr>
                    <tr>
                        <td>MISC_G</td>
                        <td>G-Shipref - SPECIAL - GENERIC</td>
                        <td>MISC_S</td>
                        <td>S-Shipref - SET - UP</td>
                        <td>MISC_C</td>
                        <td>C-ShiprefDiv - CREDIT - DIVISION</td>
                    </tr>
                    <tr>
                        <td>MISC_CF</td>
                        <td>CF- ShiprefDiv - CORRECTION - FREIGHT DIVISION</td>
                        <td>MISC_D</td>
                        <td>D-ShiprefDiv - DOCUMENTS - (AFTER SHIPPING) DIVISION</td>
                        <td>MISC_EM</td>
                        <td>EM-ShiprefDiv - EMPTY PACKAGING - DIVISION</td>
                    </tr>
                    <tr>
                        <td>MISC_FSC</td>
                        <td>FSC- ShiprefDiv - FREIGHT SURCHARGES - CUSTOMS / DOCUMENTS DIVISION</td>
                        <td>MISC_FSD</td>
                        <td>FSD-ShiprefDiv - FREIGHT SURCHARGES - DELIVERY / DUTIES  / TAXES DIVISION</td>
                        <td>MISC_FSM</td>
                        <td>FSM-ShiprefDiv - FREIGHT SURCHARGES - MAUT / FUEL / TOLL / SECURITY DIV</td>
                    </tr>
                    <tr>
                        <td>MISC_H</td>
                        <td>H-ShiprefDiv - HANDLING - CMC DIVISION</td>
                        <td>MISC_I</td>
                        <td>I- ShiprefDiv - TEMAX - ISOLATION DIVISION</td>
                        <td>MISC_IN</td>
                        <td>IN-ShifrefDiv - INACTIVE - PRODUCTS DIVISION</td>
                    </tr>
                    <tr>
                        <td>MISC_M</td>
                        <td>M-ShiprefDiv - MANUAL - ORDER / ADJUSTMENT DIVISION</td>
                        <td>MISC_P</td>
                        <td>P-ShiprefDiv - "SMALL PACK SALES /PAID ORDER" - DIVISION</td>
                        <td>MISC_PM</td>
                        <td>PM-ShipfefDiv - PRODUCT MAINTENANCE - DIVISION</td>
                    </tr>
                    <tr>
                        <td>MISC_R</td>
                        <td>R-ShiprefDiv - R&D SAMPLE HANDLING - DIVISION</td>
                        <td>MISC_SPS</td>
                        <td>SPS-ShiprefDiv - PAYMENT - SPS ORDER</td>
                        <td>MISC_TDI</td>
                        <td>TDI-ShiprefDiv - TDI - STORAGE AND HANDLING</td>
                    </tr>
                    <tr>
                        <td>MISC_U</td>
                        <td>U-ShiprefDiv - UN BOX - DIVISION</td>
                    </tr>
                </table>
        */}).toString().match(/[^]*\/\*([^]*)\*\/\}$/)[1];

        $('#listtranstypes').tooltip({
            title: tableref,
            html: true,
            placement: "bottom",
        });
    });

    function UpdateAndClose() {
        $("#dvOrderTransList").load('@Url.Action("fnOrderTransList", "Orders", new { id = @Model.orderid })');
        $('#dialogPlaceholderModal').modal('hide')
    }

    function UpdateTransList() {
        $("#dvOrderTransList").load('@Url.Action("fnOrderTransList", "Orders", new { id = @Model.orderid })');
    }
</script>