@model List<MvcPhoenix.Models.OrderTrans>
@{
    ViewBag.Title = "Order Trans";
}
<div class="table-responsive">
    <table id="mytable" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Code</th>
                <th>Type</th>
                <th style="text-align:center;">Qty</th>
                <th style="text-align:right;">Rate</th>
                <th style="text-align:center;">Amount</th>
                <th>Date</th>
                <th>Comments</th>
                <th>Updated By</th>
                <th>Updated On</th>
                <th id="noprint"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(Model.IndexOf(item) + 1)</td>
                    <td>@item.ProductCode</td>
                    <td>@item.TransType</td>
                    <td style="text-align:center;">@item.TransQty</td>
                    <td style="text-align:right;">@item.TransRate</td>
                    <td style="text-align:center;">@item.TransAmount</td>
                    <td>@String.Format("{0:dd MMM yyyy}", item.TransDate)</td>
                    <td width="30%">@item.Comments</td>
                    <td title="Created By: @item.CreateUser">@item.UpdateUser</td>
                    <td title="Created On: @String.Format("{0:dd MMM yyyy}", item.CreateDate)">@String.Format("{0:dd MMM yyyy}", item.UpdateDate)</td>
                    <td id="noprint" class="text-right">
                        @Ajax.ActionLink(" ", "EditTrans", "Orders", new { id = @item.OrderTransID }, new AjaxOptions
                             {
                                 UpdateTargetId = "dialogPlaceholder",
                                 InsertionMode = InsertionMode.Replace,
                                 HttpMethod = "GET",
                                 OnBegin = "$('#dialogPlaceholder').empty()",
                                 OnSuccess = "$('#dialogPlaceholderModal').modal('show');"
                             },
                        new { @class = "btn btn-primary btn-sm fa fa-pencil", @title = "Edit This Order Transaction" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>