@model List<MvcPhoenix.Models.OrderItem>
@using MvcPhoenix.Extensions;

@{
    ViewBag.Title = "Picking List Order Items";
}

<hr/>

<h3>Current Shipment Contents</h3>

<div class="table-responsive">
    <table id="mytable" class="table table-hover table-striped">
        <thead>
            <tr style="border-top:solid 2px;border-bottom:solid 2px;">
                <th></th>
                <th>Status</th>
                <th>Code</th>
                <th>Product Name</th>
                <th>Qty</th>
                <th>Size</th>
                <th>Cease Ship Date</th>
                <th>Lot#</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><div style="zoom:15%;">@Html.GenerateMatrixCode(Convert.ToString(@item.ProductCode + "~" + @item.ProductName + "~" + @item.LotNumber + "~" + @item.Size))</div></td>
                    <td>@item.AllocateStatus</td>
                    <td>@item.ProductCode</td>
                    <td>@item.ProductName</td>
                    <td>@item.Qty</td>
                    <td>@item.Size</td>
                    <td>@String.Format("{0:dd MMM yyyy}", item.ShipDate)</td>
                    <td>@item.LotNumber</td>
                    <td><strong>@item.Bin</strong></td>
                </tr>
                <tr style="border-bottom:solid 1px;">
                    <td colspan="9">
                        <table>
                            <tr>
                                <td>@if(item.FreezableList == true){<strong><u>Freezable</u></strong>}</td>
                                <td>AIR: @item.AirUnNumber</td>
                                <td>GROUND: @item.GrnUnNumber</td>
                                <td>SEA: @item.SeaUnNumber</td>
                                <td>Harm. Code: @item.HarmonizedCode</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>