@model MvcPhoenix.Models.OrderSPSBilling
@{

}

<div id="dialogPlaceholderModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            @using (Ajax.BeginForm("SaveSPSBilling", "Orders", new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "dialogResult",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "CloseForm"
                }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">SPS Billing Details: Order# @Html.DisplayFor(m => m.OrderId) <small>Samples Charge: @Html.DisplayFor(m => m.PriceCost) @Html.DisplayFor(m => m.Currency)</small></h4>
                </div>

                <div id="dialogPlaceholderBody" class="modal-body">

                    @Html.HiddenFor(m => m.SPSBillingID)
                    @Html.HiddenFor(m => m.OrderId)
                    @Html.HiddenFor(m => m.Type)
                    @Html.HiddenFor(m => m.Currency)
                    @Html.HiddenFor(m => m.PriceCost)
                    @Html.HiddenFor(m => m.UpdateDate)
                    @Html.HiddenFor(m => m.UpdateUser)

                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>Shipped Weight</label>
                            @Html.TextBoxFor(m => m.ShippedWeight, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ShippedWeight)
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Freight Charge</label>
                            @Html.TextBoxFor(m => m.FreightCost, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FreightCost)
                        </div>
                        <div class="col-md-4 form-group">
                            <label>VAT Number</label>
                            @Html.TextBoxFor(m => m.TaxId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.TaxId)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 form-group">
                            <label>Title</label>
                            @Html.TextBoxFor(m => m.InvoiceTitle, new { @class = "form-control" })
                        </div>
                        <div class="col-md-5 form-group">
                            <label>First Name</label>
                            @Html.TextBoxFor(m => m.InvoiceFirstName, new { @class = "form-control" })
                        </div>
                        <div class="col-md-5 form-group">
                            <label>Last Name</label>
                            @Html.TextBoxFor(m => m.InvoiceLastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Company</label>
                            @Html.TextBoxFor(m => m.InvoiceCompany, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Address 1</label>
                            @Html.TextBoxFor(m => m.InvoiceAddress1, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Address 2</label>
                            @Html.TextBoxFor(m => m.InvoiceAddress2, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address 3</label>
                            @Html.TextBoxFor(m => m.InvoiceAddress3, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 form-group">
                            <label>City</label>
                            @Html.TextBoxFor(m => m.InvoiceCity, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4 form-group">
                            <label>State</label>
                            @Html.TextBoxFor(m => m.InvoiceState, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Postal Code</label>
                            @Html.TextBoxFor(m => m.InvoicePostalCode, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Country</label>
                            @Html.DropDownListFor(m => m.InvoiceCountry, ViewBag.ListOfCountries as IEnumerable<SelectListItem>, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone</label>
                            @Html.TextBoxFor(m => m.InvoicePhone, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            @Html.TextBoxFor(m => m.InvoiceEmail, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CloseForm()">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function CloseForm() {
        // Hide the modal
        $('#dialogPlaceholderModal').modal('hide');
    }
</script>