@model MvcPhoenix.Models.OrderMasterFull
@{
    ViewBag.Title = "Edit Order";

    if (@Model.orderid == -1) { ViewBag.Title = "Create Order"; }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Client/LogoFile?id=@Model.clientid" style="width: auto; height: 73px; float: right" alt="@Model.clientname logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title <small>@if (@Model.orderid != -1)
            {@Model.orderid} for @Model.clientname</small></h1>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Orders", "Index")
            <span class="pull-right label label-info">Order ID: @Model.orderid</span>
        </div>
        <div class="col-md-12">
            <div class="pull-left">
                <a href="#_" type="button" onclick="$('.panel-body').collapse('show');" value="open all"> Open All</a> |
                <a href="#__" type="button" onclick="$('.panel-body').collapse('hide');" value="close all"> Close All</a>
            </div>
            <div style="text-align:center;">
                <span id="dvTopMessage" style="color:green;font-weight:bold;"> @TempData["SaveResult"]</span><!-- show message after save -->
                <div class="pull-right">
                    @if (@Model.orderid != -1)
                    {
                        <a href="@Url.Action("PrintOrder", "Orders", new { id = @Model.orderid })" target="_blank"><i class="fa fa-file-pdf-o"></i> Order Print View</a>
                        <a href="@Url.Action("PrintPickPack", "Orders", new { id = @Model.orderid })" target="_blank" class="btn btn-sm btn-success"><i class="fa fa-file-pdf-o"></i> Print Pick &amp; Pack Docs</a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="well col-lg-12">
        <div class="row">
            <div class="col-md-3"><b>Created:</b></div>
            <div class="col-md-3"><b>Created By:</b></div>
            <div class="col-md-3"><b>Updated:</b></div>
            <div class="col-md-3"><b>Updated By:</b></div>
        </div>
        <div class="row">
            <div class="col-md-3"><div>@Model.orderdate</div></div>
            <div class="col-md-3"><div>@Model.CreateUser</div></div>
            <div class="col-md-3"><div>@Model.UpdateDate</div></div>
            <div class="col-md-3"><div>@Model.UpdateUser</div></div>
        </div>
    </div>

    @if (Model.IsSDN == true)
    {
        <h3 class="alert alert-danger text-center">
            <b>WARNING - This order appears to be on the Do Not Ship List</b>
        </h3>
    }

    @using (Html.BeginForm("Save", "Orders", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.orderid)
        @Html.HiddenFor(m => m.clientid)
        @Html.HiddenFor(m => m.orderdate)
        @Html.HiddenFor(m => m.CreateUser)
        @Html.HiddenFor(m => m.CreateDate)
        @Html.HiddenFor(m => m.UpdateUser)
        @Html.HiddenFor(m => m.UpdateDate)

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#clientpan"><i class="fa fa-file-text-o fa-fw"></i> Client Order Information</h3>
            </div>
            <div id="clientpan" class="panel-body collapse in">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="control-label">Name</label>
                        @Html.TextBoxFor(m => m.clientname, new { @class = "form-control", disabled = "true" })
                        @Html.ValidationMessageFor(m => m.clientname)
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Billing Group (Division / Business Unit)</label>
                        @Html.DropDownListFor(m => m.billinggroup, Model.ListOfBillingGroups, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Client Reference</label>
                        @Html.TextBoxFor(m => m.custrefnum, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.custrefnum)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Client Order Number</label>
                        @Html.TextBoxFor(m => m.custordnum, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.custordnum)
                    </div>
                    <div class="col-md-2">
                        <label><abbr title="S = Samples&#13;D = Dormant&#13;R = Returns&#13;C = Commercial&#13;">Order Type <i class="fa fa-fw fa-question-circle" rel="tooltip"></i></abbr></label>
                        @Html.DropDownListFor(m => m.ordertype, new SelectList(Enum.GetValues(typeof(OrderMasterFull.OrderTypeChoice))), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ordertype)
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Order Source</label>
                        @Html.DropDownListFor(m => m.source, new SelectList(Enum.GetValues(typeof(OrderMasterFull.OrderSourceChoice))), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.source)
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Client Source</label>
                        @Html.TextBoxFor(m => m.source, new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(m => m.source)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#shiptopan"><i class="fa fa-file-text-o fa-fw"></i> Ship To Details</h3>
            </div>
            <div id="shiptopan" class="panel-body collapse in">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Name</label>
                        @Html.TextBoxFor(m => m.company, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.company)
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.attention, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.attention, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.attention)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.email)
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(m => m.phone, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.phone)
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(m => m.fax, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.fax, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.fax)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Address 1</label>
                        @Html.TextBoxFor(m => m.street, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.street)
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Address 2</label>
                        @Html.TextBoxFor(m => m.street2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.street2)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Address 3</label>
                        @Html.TextBoxFor(m => m.street3, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.street3)
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(m => m.city, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.city, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.city)
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(m => m.Zip, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Zip, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Zip)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.state, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.state, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.state)
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.country, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.country, Model.ListOfCountries, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.country)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#requestorpan"><i class="fa fa-file-text-o fa-fw"></i> Requestor's Details</h3>
            </div>
            <div id="requestorpan" class="panel-body collapse in">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label">Requestor's Name</label>
                        @Html.TextBoxFor(m => m.req, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.req)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Requestor's Email</label>
                        @Html.TextBoxFor(m => m.reqemail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.reqemail)
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Requestor's Phone</label>
                        @Html.TextBoxFor(m => m.reqphone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.reqphone)
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Requestor's Fax</label>
                        @Html.TextBoxFor(m => m.reqfax, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.reqfax)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Sales Rep's Name</label>
                        @Html.TextBoxFor(m => m.salesrep, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.salesrep)
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Sales Rep's Email</label>
                        @Html.TextBoxFor(m => m.sales_email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.sales_email)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Sales Rep's Phone</label>
                        @Html.TextBoxFor(m => m.salesrepphone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.salesrepphone)
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Sales Rep's Territory</label>
                        @Html.TextBoxFor(m => m.salesrepterritory, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.salesrepterritory)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Marketing Rep's Name</label>
                        @Html.TextBoxFor(m => m.marketingrep, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.marketingrep)
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Marketing Rep's Email</label>
                        @Html.TextBoxFor(m => m.marketingrepemail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.marketingrepemail)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.distributor, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.distributor, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.distributor)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">End Use</label>
                        @Html.DropDownListFor(m => m.enduse, Model.ListOfEndUses, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.enduse)
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.approvalneeded, new { @class = "control-label" })
                        @Html.CheckBoxFor(m => m.approvalneeded, new { @class = "checkbox" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.approvaldate, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.approvaldate, "{0:dd-MMM-yyyy}", new { @class = "date-picker form-control" })
                        @Html.ValidationMessageFor(m => m.approvaldate)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#prodselectpan"><i class="fa fa-file-text-o fa-fw"></i> Order Items</h3>
            </div>
            <div id="prodselectpan" class="panel-body collapse in">
                <span id="dvAllocateResult" class="pull-right text-success"></span>
                <div id="dvItems">
                    @if (Model.orderid == -1)
                    {
                        <h5 class="alert alert-danger">Please save the order once before adding items</h5>
                    }
                    @if (Model.orderid > 1)
                    {
                        <div class="row">
                            <div class="col-md-4 form-group">
                                @Ajax.ActionLink("Add Order Item", "CreateItem", "Orders", new { id = Model.orderid }, new AjaxOptions
                                {
                                    UpdateTargetId = "dialogPlaceholder",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "GET",
                                    OnSuccess = "$('#dialogPlaceholderModal').modal('show');"
                                }, new { @class = "btn btn-primary btn-block" })
                            </div>
                        </div>

                        <div id="dvOrderItemsList">
                            @Html.Action("fnOrderItemsList", "Orders", new { id = Model.orderid })
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#translogpan"><i class="fa fa-file-text-o fa-fw"></i> Transaction Charges &amp; Log Notes</h3>
            </div>
            <div id="translogpan" class="panel-body collapse in">
                <div id="z_pc_dvOrderTrans">
                    @if (Model.orderid == -1)
                    {
                        <h5 class="alert alert-danger">Please save the order once before adding charges and notes</h5>
                    }
                    @if (Model.orderid > 1)
                    {
                        <div class="row">
                            <div class="col-md-4 form-group">
                                @Ajax.ActionLink("Add Order Transaction", "CreateTrans", "Orders", new { id = Model.orderid }, new AjaxOptions
                            {
                                UpdateTargetId = "dialogPlaceholder",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "GET",
                                OnSuccess = "$('#dialogPlaceholderModal').modal('show');"
                            }, new { @class = "btn btn-primary btn-block" })
                            </div>
                        </div>
                    }
                </div>
                <div class="clearfix"></div>
                <div id="dvOrderTransList">
                    @if (@Model.transcount > 0)
                    {
                        @Html.Action("fnOrderTransList", "Orders", new { id = Model.orderid })
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#shipmentspan"><i class="fa fa-file-text-o fa-fw"></i> Shipments</h3>
            </div>
            <div id="shipmentspan" class="panel-body collapse in">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label class="control-label">Ship Via</label>
                        @Html.DropDownListFor(m => m.shipvia, Model.ListOfShipVias, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.shipvia)
                    </div>
                    <div class="col-md-4 form-group">
                        <label class="control-label">Shipping Account</label>
                        @Html.TextBoxFor(m => m.shipacct, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.shipacct)
                    </div>
                    <div class="col-md-4 form-group">
                        <label class="control-label">Preferred Carrier</label>
                        @Html.TextBoxFor(m => m.preferredcarrier, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.preferredcarrier)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.timing, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.timing, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.timing)
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.spsfreightcost, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.spsfreightcost, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.spsfreightcost)
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.spsshippedwt, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.spsshippedwt, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.spsshippedwt)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#specialinstrpan"><i class="fa fa-file-text-o fa-fw"></i> Special Instructions</h3>
            </div>
            <div id="specialinstrpan" class="panel-body collapse in">
                <div class="row">
                    <div class="col-md-6">
                        <label>Special Instructions - Internal</label>
                        @Html.TextAreaFor(m => m.specialinternal, new { @class = "form-control", @rows = 10 })
                        @Html.ValidationMessageFor(m => m.specialinternal)
                    </div>
                    <div class="col-md-6">
                        <label>Special Instructions - External</label>
                        @Html.TextAreaFor(m => m.special, new { @class = "form-control", @rows = 10 })
                        @Html.ValidationMessageFor(m => m.special)
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class=" col-md-12">
                <input type="submit" value="Save Order" class="btn btn-success btn-block" />
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="col-lg-12">
                <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Orders", "Index")
                <span class="pull-right"><a href="#top">Back to Top</a> <i class="fa fa-arrow-circle-up"></i></span>
            </div>
        </div>
    }
</div>