@model MvcPhoenix.Models.OrderMasterFull
@{
    ViewBag.Title = "Order Entry:";
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}

<script type="text/javascript">
    window.onload = function () {
        $("#OrderBarcode").barcode(
            "@Model.OrderID ~ @Model.ClientId ~ @Model.ClientName",
            "datamatrix",
            { moduleSize: 2, showHRI: false });
    };
</script>

<div id="OrderBarcode"></div>

<img src="~/Client/LogoFile?id=@Model.ClientId" style="width: auto; height: 73px; float: right" alt="@Model.ClientName logo">
<h1 class="page-header">
    @ViewBag.Title <small> @Model.OrderID for @Model.ClientName</small>
</h1>

<div class="form-group">
    <table>
        <tr>
            <td width="25%">
                <label>Created On:</label><br />
                @Html.DisplayFor(m => m.OrderDate)
            </td>
            <td width="25%">
                <label>Created By:</label><br />
                @Html.DisplayFor(m => m.CreateUser)
            </td>
            <td width="25%">
                <label>Updated On:</label><br />
                @Html.DisplayFor(m => m.UpdateDate)
            </td>
            <td width="25%">
                <label>Updated By:</label><br />
                @Html.DisplayFor(m => m.UpdateUser)
            </td>
        </tr>
    </table>
</div>

<hr />

<div class="form-group">
    <h3>Client Order Information</h3>
    <table>
        <tr>
            <td width="25%"></td>
            <td width="25%"></td>
            <td width="25%"></td>
            <td width="25%"></td>
        </tr>
        <tr>
            <td colspan="3">
                <label class="control-label">Name</label><br />
                @Html.DisplayFor(m => m.ClientName)
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <label>Client Reference</label><br />
                @Html.DisplayFor(m => m.ClientRefNumber)
            </td>
            <td>
                <label>Client Order Number</label><br />
                @Html.DisplayFor(m => m.ClientOrderNumber)
            </td>
            <td>
                <label>Order Type</label><br />
                @Html.DisplayFor(m => m.OrderType)
            </td>
            <td>
                <label>Order Source</label><br />
                @Html.DisplayFor(m => m.Source)
            </td>
        </tr>
    </table>
</div>

<hr />

<div class="form-group">
    <h3>Ship To Details</h3>
    <table>
        <tr>
            <td width="25%"></td>
            <td width="25%"></td>
            <td width="25%"></td>
            <td width="25%"></td>
        </tr>
        <tr>
            <td colspan="2">
                <label>Name</label><br />
                @Html.DisplayFor(m => m.Company)
            </td>
            <td colspan="2">
                <label>Attention</label><br />
                @Html.DisplayFor(m => m.Attention)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label>Email</label><br />
                @Html.DisplayFor(m => m.Email)
            </td>
            <td>
                <label>Phone</label><br />
                @Html.DisplayFor(m => m.Phone)
            </td>
            <td>
                <label>Fax</label><br />
                @Html.DisplayFor(m => m.Fax)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label class="control-label">Address 1</label><br />
                @Html.DisplayFor(m => m.Street)
            </td>
            <td>
                <label class="control-label">Address 2</label><br />
                @Html.DisplayFor(m => m.Street2)
            </td>
            <td>
                <label class="control-label">Address 3</label><br />
                @Html.DisplayFor(m => m.Street3)
            </td>
        </tr>
        <tr>
            <td>
                <label>City</label><br />
                @Html.DisplayFor(m => m.City)
            </td>
            <td>
                <label>Zip</label><br />
                @Html.DisplayFor(m => m.Zip)
            </td>
            <td>
                <label>State</label><br />
                @Html.DisplayFor(m => m.State)
            </td>
            <td>
                <label>Country</label><br />
                @Html.DisplayFor(m => m.Country)
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <label>Customs Reference Number: </label>
                @Html.DisplayFor(m => m.CustomsRefNumber)
            </td>
        </tr>
    </table>
</div>

<hr />

<div class="form-group">
    <h3>Requestor's Details</h3>
    <table>
        <tr>
            <td width="25%">
                <label>Requestor's Name</label><br />
                @Html.DisplayFor(m => m.RequestorName)
            </td>
            <td width="25%">
                <label>Requestor's Email</label><br />
                @Html.DisplayFor(m => m.RequestorEmail)
            </td>
            <td width="25%">
                <label>Requestor's Phone</label><br />
                @Html.DisplayFor(m => m.RequestorPhone)
            </td>
            <td width="25%">
                <label>Requestor's Fax</label><br />
                @Html.DisplayFor(m => m.RequestorFax)
            </td>
        </tr>
        <tr>
            <td>
                <label>Sales Rep's Name</label><br />
                @Html.DisplayFor(m => m.SalesRepName)
            </td>
            <td>
                <label>Sales Rep's Email</label><br />
                @Html.DisplayFor(m => m.SalesRepEmail)
            </td>
            <td>
                <label>Sales Rep's Phone</label><br />
                @Html.DisplayFor(m => m.SalesRepPhone)
            </td>
            <td>
                <label>Sales Rep's Territory</label><br />
                @Html.DisplayFor(m => m.SalesRepTerritory)
            </td>
        </tr>
        <tr>
            <td>
                <label>Marketing Rep's Name</label><br />
                @Html.DisplayFor(m => m.MarketingRep)
            </td>
            <td>
                <label>Marketing Rep's Email</label><br />
                @Html.DisplayFor(m => m.MarketingRepEmail)
            </td>
            <td>
                <label>Distributor</label><br />
                @Html.DisplayFor(m => m.Distributor)
            </td>
            <td>
                <label>End Use</label><br />
                @Html.DisplayFor(m => m.EndUse)
            </td>
        </tr>
        <tr>
            <td>
                <label>Approval Needed</label><br />
                @Html.CheckBoxFor(m => m.ApprovalNeeded, new { @class = "checkbox" })
            </td>
            <td>
                <label>Approval Date</label><br />
                @Html.TextBoxFor(m => m.ApprovalDate, "{0:dd-MMM-yyyy}", new { @class = "form-control" })
            </td>
        </tr>
    </table>
</div>

<hr />

<div class="form-group">
    <h3>Order Items</h3>
    <div id="dvItems">
        @if (Model.OrderID > 1)
        {
            <div id="dvOrderItemsList">
                @Html.Action("fnOrderItemsList", "Orders", new { orderid = Model.OrderID })
            </div>
        }
    </div>
</div>

<hr />

<div class="form-group">
    <h3>Transaction Charges &amp; Log Notes</h3>
    <div id="dvOrderTransList">
        @if (@Model.TransCount > 0)
        {
            @Html.Action("fnOrderTransList", "Orders", new { orderid = Model.OrderID })
        }
    </div>
</div>

<hr />

<div class="form-group">
    <h3>Shipments</h3>
    <table>
        <tr>
            <td width="33.33%">
                <label>Ship Via</label><br />
                @Html.DisplayFor(m => m.ShipVia)
            </td>
            <td width="33.33%">
                <label>Shipping Account</label><br />
                @Html.DisplayFor(m => m.ShipAcct)
            </td>
            <td width="33.33%">
                <label>Preferred Carrier</label><br />
                @Html.DisplayFor(m => m.PreferredCarrier)
            </td>
        </tr>
        <tr>
            <td>
                <label>Timing</label><br />
                @Html.DisplayFor(m => m.Timing)
            </td>
            <td>
                @*<label>SPS Freight Cost</label><br />
                @Html.DisplayFor(m => m.spsfreightcost)*@
            </td>
            <td>
                @*<label>SPS Shipped Weight</label><br />
                @Html.DisplayFor(m => m.spsshippedwt)*@
            </td>
        </tr>
    </table>
</div>

<hr />

<div class="form-group">
    <h3>Special Instructions</h3>
    <table>
        <tr>
            <td width="50%">
                <label>Internal Notes</label><br />
                @Html.DisplayFor(m => m.SpecialInternal)
            </td>
            <td>
                <label>External Notes</label><br />
                @Html.DisplayFor(m => m.Special)
            </td>
        </tr>
    </table>
</div>