@model MvcPhoenix.Models.OrderMasterFull
@{
    ViewBag.Title = "Order Entry:";
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}

<img src="@Model.logofilename" style="width: auto; height: 73px; float: right" alt="@Model.clientname logo">
<h1 class="page-header">
    @ViewBag.Title <small> @Model.orderid</small>
</h1>

<div class="form-group">
    <h3>Client Order Information</h3>
    <table>
        <tr>
            <td width="25%">
                <label>Created On:</label><br />
                @Html.TextBoxFor(m => m.orderdate, new { @class = "form-control" })
            </td>
            <td width="25%">
                <label>Created By:</label><br />
                @Html.TextBoxFor(m => m.CreateUser, new { @class = "form-control" })
            </td>
            <td width="25%">
                <label>Updated On:</label><br />
                @Html.TextBoxFor(m => m.UpdateDate, new { @class = "form-control" })
            </td>
            <td width="25%">
                <label>Updated By:</label><br />
                @Html.TextBoxFor(m => m.UpdateUser, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>

            </td>
        </tr>
    </table>
</div>

<div class="form-group">
    <h3>Ship To Details</h3>
</div>

<div class="form-group">
    <h3>Requestor's Details</h3>
</div>

<div class="form-group">
    <h3>Order Items</h3>
</div>

<div class="form-group">
    <h3>Transaction Charges &amp; Log Notes</h3>
</div>

<div class="form-group">
    <h3>Shipments</h3>
</div>

<div class="form-group">
    <h3>Special Instructions</h3>
</div>