@model List<MvcPhoenix.Models.AccountRep>

@{
    ViewBag.Title = "Account Representatives";
    Layout = null;
}

@if (Model.Count > 0)
{
    <div id="accountRepsList">
        <ul class="list-unstyled list-2-col">
            @foreach (var item in Model)
            {
                <li>
                    @Ajax.ActionLink(" ", "DeleteAccountRep", new { accountrepemail = item.AccountRepEmail, clientid = item.ClientID }, new AjaxOptions
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "accountRepsList",
                        InsertionMode = InsertionMode.Replace
                    }, new { @class = "fa fa-fw fa-times-circle", @style = "color:red", @title = "Delete Account Representative", @id = "hideeditbutton" })
                    @item.AccountRepName - @item.AccountRepEmail
                </li>
            }
        </ul>
    </div>
}

<script>
    function addAccountRep(clientId) {
        var emailSelection = $("#AccountRepEmail").val();

        if (emailSelection.length > 1) {
            $.ajax({
                type: 'POST',
                url: '/Client/AddAccountRep',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ accountrepemail: emailSelection, clientid: clientId }),
                dataType: 'json'
            });
        }
        
        setTimeout(updateAccountRepList(), 500);
    }

    function updateAccountRepList() {
        $("#accountRepsList").load('@Url.Action("ListAccountReps", "Client", new { clientid = @ViewBag.ClientKey })');
        $("#AccountRepEmail").val("");
    }
</script>