@model MvcPhoenix.Models.Division

<div id="dialogPlaceholderModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("SaveDivision", "Client", new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "dialogResult",
                    OnSuccess = "UpdateDivisionList",
                    InsertionMode = InsertionMode.Replace

                }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit Division / Business Unit</h4>
                </div>

                <div id="dialogPlaceholderBody" class="modal-body">
                    @Html.HiddenFor(m => m.DivisionID)
                    @Html.HiddenFor(m => m.ClientID)

                    <div class="row form-group">
                        <div class="col-md-6 pull-left">
                            <strong><em>Division ID: @Html.ValueFor(m => m.DivisionID)</em></strong>
                        </div>
                        <div class="col-md-6">
                            <div class="checkbox-inline">
                                <label>Inactive</label>@Html.CheckBox("Inactive", Model.Inactive != null && (bool)Model.Inactive, new { @class = "checkbox", @type = "checkbox" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Division Name</label>
                            @Html.TextBoxFor(m => m.DivisionName, new { @class = "form-control", autofocus = "" })
                            @Html.ValidationMessageFor(m => m.DivisionName)
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Business Unit</label>
                            @Html.TextBoxFor(m => m.BusinessUnit, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.BusinessUnit)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Main Contact</label>
                            @Html.TextBoxFor(m => m.MainContactName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MainContactName)
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Main Phone</label>
                            @Html.TextBoxFor(m => m.MainContactNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MainContactNumber)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Label Contact</label>
                            @Html.TextBoxFor(m => m.ContactLabelName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ContactLabelName)
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Label Contact Phone</label>
                            @Html.TextBoxFor(m => m.ContactLabelPhone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ContactLabelPhone)
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 form-group">
                            <label>MSDS Contact</label>
                            @Html.TextBoxFor(m => m.ContactMSDSName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ContactMSDSName)
                        </div>
                        <div class="col-md-6 form-group">
                            <label>MSDS Contact Phone</label>
                            @Html.TextBoxFor(m => m.ContactMSDSPhone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ContactMSDSPhone)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Emergency Phone</label>
                            @Html.TextBoxFor(m => m.EmergencyNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EmergencyNumber)
                        </div>
                        <div class="col-md-4">
                            <label>Waste Rate - Off Spec</label>
                            @Html.TextBoxFor(m => m.WasteRateOffSpec, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.WasteRateOffSpec)
                        </div>
                        <div class="col-md-4">
                            <label>Waste Rate - Empty</label>
                            @Html.TextBoxFor(m => m.WasteRateEmpty, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.WasteRateEmpty)
                        </div>
                    </div>
                    @*<div class="row">

                            <div class="col-md-3 pull-right">
                                <input type="submit" class="btn btn-block btn-success" />
                            </div>
                        </div>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <span id="dialogResult" hidden></span>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function UpdateDivisionList() {
        // Update the list
        $("#dvDivisionList").load('@Url.Action("ListDivisions", "Client", new { id = @Model.ClientID })');

        // Activate to hide the modal after list update
        $("#dialogPlaceholderModal").modal('hide');
    }
</script>