@model List<MvcPhoenix.Models.Division>
@using MvcPhoenix.Extensions;

@{
    ViewBag.Title = "Divisions Listing";
    Layout = null;
}

<div id="dvDivisionList">
    <div class="form-group table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Division Name</th>
                    <th>Business Unit</th>
                    <th>Main Contact</th>
                    <th>Phone</th>
                    <th>Label Contact</th>
                    <th>Phone</th>
                    <th>MSDS Contact</th>
                    <th>Phone</th>
                    <th>Emergency</th>
                    <th id="hideeditbutton"></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DivisionID</td>
                    <td>@item.DivisionName</td>
                    <td>@item.BusinessUnit</td>
                    <td>@item.MainContactName</td>
                    <td>@item.MainContactNumber</td>
                    <td>@item.ContactLabelName</td>
                    <td>@item.ContactLabelPhone</td>
                    <td>@item.ContactMSDSName</td>
                    <td>@item.ContactMSDSPhone</td>
                    <td>@item.EmergencyNumber</td>
                    <td id="hideeditbutton" style="text-align:right">
                        @Ajax.ActionLink(" ", "EditDivision", "Client", new { id = @item.DivisionID }, new AjaxOptions
                   {
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "GET",
                       UpdateTargetId = "dialogPlaceholder",
                       OnSuccess = "$('#dialogPlaceholderModal').modal('show')"
                   }, new { @class = "btn btn-primary fa fa-pencil", @title = "Edit" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<script type="text/javascript">
    function UpdateDivisionList() {
        $("#dvDivisionList").load('@Url.Action("ListDivisions", "Client", new { id = @ViewBag.ClientId })');
    }
</script>