@model MvcPhoenix.Models.ServiceChargeRates
@using MvcPhoenix.Extensions;

@{
    ViewBag.Title = "Administrative Rates";
    Layout = null;
}

@using (Ajax.BeginForm("SaveServiceChargeRates", "Client", new { clientkey = ViewBag.ClientKey }, new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "saveadminrates",
        OnFailure = "$.alert('Something is wrong!')",
        InsertionMode = InsertionMode.Replace
    }))
{
    @Html.HiddenFor(m => m.RatesID)
    @Html.HiddenFor(m => m.ClientID)

    <div class="row">
        <div class="col-md-2 form-group">
            <label>Air Hazard Only</label>
            @Html.TextBoxFor(m => m.AirHazardOnly, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.AirHazardOnly)
        </div>
        <div class="col-md-2 form-group">
            <label>Cert. Of Origin</label>
            @Html.TextBoxFor(m => m.CertificateOfOrigin, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CertificateOfOrigin)
        </div>
        <div class="col-md-2 form-group">
            <label>CMC Pack</label>
            @Html.TextBoxFor(m => m.CMCPack, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CMCPack)
        </div>
        <div class="col-md-2 form-group">
            <label>Cool Pack</label>
            @Html.TextBoxFor(m => m.CoolPack, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CoolPack)
        </div>
        <div class="col-md-2 form-group">
            <label>Credit Card Fee</label>
            @Html.TextBoxFor(m => m.CreditCardFee, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CreditCardFee)
        </div>
        <div class="col-md-2 form-group">
            <label>Credit Card Order</label>
            @Html.TextBoxFor(m => m.CreditCardOrder, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CreditCardOrder)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 form-group">
            <label>Doc &amp; Handling</label>
            @Html.TextBoxFor(m => m.DocumentHandling, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DocumentHandling)
        </div>
        <div class="col-md-2 form-group">
            <label>Empty Packaging</label>
            @Html.TextBoxFor(m => m.EmptyPackaging, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmptyPackaging)
        </div>
        <div class="col-md-2 form-group">
            <label>External System</label>
            @Html.TextBoxFor(m => m.ExternalSystem, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ExternalSystem)
        </div>
        <div class="col-md-2 form-group">
            <label>Follow Up Order</label>
            @Html.TextBoxFor(m => m.FollowUpOrder, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FollowUpOrder)
        </div>
        <div class="col-md-2 form-group">
            <label>Freezer Pack</label>
            @Html.TextBoxFor(m => m.FreezerPack, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FreezerPack)
        </div>
        <div class="col-md-2 form-group">
            <label>GHS Labels</label>
            @Html.TextBoxFor(m => m.GHSLabels, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.GHSLabels)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 form-group">
            <label>Inactive Products</label>
            @Html.TextBoxFor(m => m.InactiveProducts, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.InactiveProducts)
        </div>
        <div class="col-md-2 form-group">
            <label>Isolation</label>
            @Html.TextBoxFor(m => m.Isolation, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Isolation)
        </div>
        <div class="col-md-2 form-group">
            <label>Isolation Box</label>
            @Html.TextBoxFor(m => m.IsolationBox, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.IsolationBox)
        </div>
        <div class="col-md-2 form-group">
            <label>IT Fee</label>
            @Html.TextBoxFor(m => m.ITFee, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ITFee)
        </div>
        <div class="col-md-2 form-group">
            <label>Label Maintainance</label>
            @Html.TextBoxFor(m => m.LabelMaintainance, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LabelMaintainance)
        </div>
        <div class="col-md-2 form-group">
            <label>Label Stock</label>
            @Html.TextBoxFor(m => m.LabelStock, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LabelStock)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 form-group">
            <label>Labels Printed</label>
            @Html.TextBoxFor(m => m.LabelsPrinted, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LabelsPrinted)
        </div>
        <div class="col-md-2 form-group">
            <label>Labor Relabel</label>
            @Html.TextBoxFor(m => m.LaborRelabel, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LaborRelabel)
        </div>
        <div class="col-md-2 form-group">
            <label>Literature Fee</label>
            @Html.TextBoxFor(m => m.LiteratureFee, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LiteratureFee)
        </div>
        <div class="col-md-2 form-group">
            <label>Limited Quantity</label>
            @Html.TextBoxFor(m => m.LimitedQuantity, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LimitedQuantity)
        </div>
        <div class="col-md-2 form-group">
            <label>Manual Handling</label>
            @Html.TextBoxFor(m => m.ManualHandling, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ManualHandling)
        </div>
        <div class="col-md-2 form-group">
            <label>MSDS Prints</label>
            @Html.TextBoxFor(m => m.MSDSPrints, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MSDSPrints)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 form-group">
            <label>New Label Setup</label>
            @Html.TextBoxFor(m => m.NewLabelSetup, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewLabelSetup)
        </div>
        <div class="col-md-2 form-group">
            <label>New Product Setup</label>
            @Html.TextBoxFor(m => m.NewProductSetup, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewProductSetup)
        </div>
        <div class="col-md-2 form-group">
            <label>Oberk Pack</label>
            @Html.TextBoxFor(m => m.OberkPack, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OberkPack)
        </div>
        <div class="col-md-2 form-group">
            <label>Order Entry</label>
            @Html.TextBoxFor(m => m.OrderEntry, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OrderEntry)
        </div>
        <div class="col-md-2 form-group">
            <label>Over Pack</label>
            @Html.TextBoxFor(m => m.OverPack, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OverPack)
        </div>
        <div class="col-md-2 form-group">
            <label>Pallet Return</label>
            @Html.TextBoxFor(m => m.PalletReturn, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PalletReturn)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 form-group">
            <label>Poison Pack</label>
            @Html.TextBoxFor(m => m.PoisonPack, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PoisonPack)
        </div>
        <div class="col-md-2 form-group">
            <label>Product Setup Chg</label>
            @Html.TextBoxFor(m => m.ProductSetupChanges, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ProductSetupChanges)
        </div>
        <div class="col-md-2 form-group">
            <label>QC Storage</label>
            @Html.TextBoxFor(m => m.QCStorage, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.QCStorage)
        </div>
        <div class="col-md-2 form-group">
            <label>R&amp;D Handling ADR</label>
            @Html.TextBoxFor(m => m.RDHandlingADR, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RDHandlingADR)
        </div>
        <div class="col-md-2 form-group">
            <label>R&amp;D Handling IATA</label>
            @Html.TextBoxFor(m => m.RDHandlingIATA, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RDHandlingIATA)
        </div>
        <div class="col-md-2 form-group">
            <label>R&amp;D Handling LQ</label>
            @Html.TextBoxFor(m => m.RDHandlingLQ, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RDHandlingLQ)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 form-group">
            <label>R&amp;D Hnd. Non Hzd</label>
            @Html.TextBoxFor(m => m.RDHandlingNonHazard, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RDHandlingNonHazard)
        </div>
        <div class="col-md-2 form-group">
            <label>Refrig. Storage</label>
            @Html.TextBoxFor(m => m.RefrigeratorStorage, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RefrigeratorStorage)
        </div>
        <div class="col-md-2 form-group">
            <label>Relabels</label>
            @Html.TextBoxFor(m => m.Relabels, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Relabels)
        </div>
        <div class="col-md-2 form-group">
            <label>Rush Shipment</label>
            @Html.TextBoxFor(m => m.RushShipment, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RushShipment)
        </div>
        <div class="col-md-2 form-group">
            <label>SPA 197 Applied</label>
            @Html.TextBoxFor(m => m.SPA197Applied, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SPA197Applied)
        </div>
        <div class="col-md-2 form-group">
            <label>SPS Paid Order</label>
            @Html.TextBoxFor(m => m.SPSPaidOrder, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SPSPaidOrder)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 form-group">
            <label>UN Box</label>
            @Html.TextBoxFor(m => m.UNBox, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UNBox)
        </div>
        <div class="col-md-2 form-group">
            <label>Warehouse Storage</label>
            @Html.TextBoxFor(m => m.WarehouseStorage, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.WarehouseStorage)
        </div>
        <div class="col-md-2 form-group">
            <label>WHMIS Labels</label>
            @Html.TextBoxFor(m => m.WHMISLabels, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.WHMISLabels)
        </div>
        <div id="hideeditbutton" class="col-md-3 pull-right form-group">
            <label class="invisible">.</label>
            <button type="submit" class="btn btn-block btn-success">
                Save Changes
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" id="saveadminrates">
            @ViewBag.Message
        </div>
    </div>
}