@model List<MvcPhoenix.Models.Supplier>
@using MvcPhoenix.Extensions;

@{
    ViewBag.Title = "Suppliers Listing";
    Layout = null;
}

<div id="dvSupplierList">
    <div class="form-group table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Address 1</th>
                    <th>Address 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Postal Code</th>
                    <th>Country</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Fax</th>
                    <th id="hideeditbutton"></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SupplierID</td>
                    <td>@item.SupplierCode</td>
                    <td>@item.SupplierName</td>
                    <td>@item.ContactName</td>
                    <td>@item.Address1</td>
                    <td>@item.Address2</td>
                    <td>@item.City</td>
                    <td>@item.State</td>
                    <td>@item.PostalCode</td>
                    <td>@item.Country</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                    <td>@item.Fax</td>
                    <td id="hideeditbutton" style="text-align:right">
                        @Ajax.ActionLink(" ", "EditSupplier", "Client", new { id = @item.SupplierID }, new AjaxOptions
                           {
                               InsertionMode = InsertionMode.Replace,
                               HttpMethod = "GET",
                               UpdateTargetId = "dialogPlaceholder",
                               OnSuccess = "$('#dialogPlaceholderModal').modal('show')"
                           }, new { @class = "btn btn-primary fa fa-pencil", @title = "Edit" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script type="text/javascript">
    function UpdateSupplierList() {
        $("#dvSupplierList").load('@Url.Action("ListSuppliers", "Client", new { id = @ViewBag.ClientId })');
    }
</script>