@model MvcPhoenix.Models.ClientProfile

@{
    ViewBag.Title = "Create";
}

@{
    ViewBag.Title = "Client Management";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
    </div>
    <!-- /.Page Heading -->
    <div class="row">
        <div class="form-group col-md-6">
            <div class="form-group">
                @using (Html.BeginForm("Index", "Client", FormMethod.Get))
                {
                    <label>Search Clients</label>
                    <div class="input-group">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search by Client or Location" })
                        <div class="input-group-btn">
                            <input type="submit" value="Search" class="btn btn-success" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="form-group col-md-2 pull-right">
            @Html.LabelFor(model => model.ActiveDate)
            @Html.TextBoxFor(model => model.ActiveDate, "{0:dd-MMM-yyyy}", new { @class = "date-picker form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.ActiveDate)
        </div>
        <div class="clearfix"></div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.ClientID)
        @Html.HiddenFor(m => m.LegacyID)
        @Html.HiddenFor(m => m.GlobalClientID)

        <!-- Client Information -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#clientinfopanel"><i class="fa fa-book fa-fw"></i> Client Information</h3>
            </div>
            <div id="clientinfopanel" class="panel-body collapse in">
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ClientName)
                        @Html.TextBoxFor(model => model.ClientName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientName)
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.ClientCode)
                        @Html.TextBoxFor(model => model.ClientCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientCode)
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.CMCLocation)
                        @Html.TextBoxFor(model => model.CMCLocation, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CMCLocation)
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.ClientCurrency)
                        @Html.TextBoxFor(model => model.ClientCurrency, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientCurrency)
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.ClientUM)
                        @Html.TextBoxFor(model => model.ClientUM, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientUM)
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Invoice Details</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <strong>@Html.LabelFor(model => model.InvoiceAddress)</strong>
                                        @Html.TextAreaFor(model => model.InvoiceAddress, new { @class = "form-control", @rows = "4" })
                                    </div>
                                    <div class="col-md-6">
                                        <strong>@Html.LabelFor(model => model.InvoiceEmailTo)</strong>
                                        @Html.TextAreaFor(model => model.InvoiceEmailTo, new { @class = "form-control", @rows = "4" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Quick Directory</strong>
                            </div>
                            <div class="panel-body">
                                @Html.LabelFor(m => m.KeyContactDir)
                                @Html.TextAreaFor(m => m.KeyContactDir, new { @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Client Account Details</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(model => model.ClientUrl)
                                        @Html.TextBoxFor(model => model.ClientUrl, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ClientUrl)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.SurveyUsed)
                                        @Html.CheckBoxFor(model => model.SurveyUsed, new { @class = "checkbox" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(model => model.ClientContact)
                                        @Html.TextAreaFor(model => model.ClientContact, new { @class = "form-control", @rows = "4" })
                                        @Html.ValidationMessageFor(model => model.ClientContact)
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(model => model.CMCContact)
                                        @Html.TextAreaFor(model => model.CMCContact, new { @class = "form-control", @rows = "4" })
                                        @Html.ValidationMessageFor(model => model.CMCContact)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => model.ProductSetupDetails)
                                        @Html.TextAreaFor(model => model.ProductSetupDetails, new { @class = "form-control", @rows = "4" })
                                    </div>

                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => model.InventoryReports)
                                        @Html.TextAreaFor(model => model.InventoryReports, new { @class = "form-control", @rows = "4" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => model.SDSUpdateMethod)
                                        @Html.TextAreaFor(model => model.SDSUpdateMethod, new { @class = "form-control", @rows = "4" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.SDSLanguage)
                                        @Html.TextBoxFor(model => model.SDSLanguage, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.LabelLanguage)
                                        @Html.TextBoxFor(model => model.LabelLanguage, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.SDSRequired)
                                            @Html.CheckBoxFor(model => model.SDSRequired, new { @class = "checkbox" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.COARequired)
                                            @Html.CheckBoxFor(model => model.COARequired, new { @class = "checkbox" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.TDSRequired)
                                            @Html.CheckBoxFor(model => model.TDSRequired, new { @class = "checkbox" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.CeaseShipPeriod)
                                        @Html.TextBoxFor(model => model.CeaseShipPeriod, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CeaseShipPeriod)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.ReplenishmentLeadDays)
                                        @Html.TextBoxFor(model => model.ReplenishmentLeadDays, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ReplenishmentLeadDays)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.StdCoverLetterRequired)
                                        @Html.TextBoxFor(model => model.StdCoverLetterRequired, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.ExpDateOnLabel)
                                        @Html.CheckBoxFor(model => model.ExpDateOnLabel, new { @class = "checkbox" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => model.ExpDateRules)
                                        @Html.TextBoxFor(model => model.ExpDateRules, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ExpDateRules)
                                    </div>
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => model.WasteProcedure)
                                        @Html.TextBoxFor(model => model.WasteProcedure, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.WasteProcedure)
                                    </div>
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => model.InventoryBusinessRules)
                                        @Html.TextBoxFor(model => model.InventoryBusinessRules, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.InventoryBusinessRules)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.SpecialReqAllowed)
                                        @Html.TextBoxFor(model => model.SpecialReqAllowed, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SpecialReqAllowed)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.CommercialInvoiceValue)
                                        @Html.TextBoxFor(model => model.CommercialInvoiceValue, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CommercialInvoiceValue)
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(model => model.FreezableProcedure)
                                        @Html.TextAreaFor(model => model.FreezableProcedure, new { @class = "form-control", @rows = "4" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(model => model.ShipConfirmEmail)
                                        @Html.TextBoxFor(model => model.ShipConfirmEmail, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ShipConfirmEmail)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.InvoiceSegregation)
                                        @Html.TextBoxFor(model => model.InvoiceSegregation, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.InvoiceSegregation)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.PartialDeliveryAllowed)
                                        @Html.TextBoxFor(model => model.PartialDeliveryAllowed, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PartialDeliveryAllowed)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.ClientStatus)
                                        @Html.TextBoxFor(model => model.ClientStatus, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ClientStatus)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        @Html.LabelFor(model => model.BOLComment)
                                        @Html.TextBoxFor(model => model.BOLComment, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.BOLComment)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>@Html.LabelFor(model => model.CSBusinessRules)</strong>
                            </div>
                            <div class="panel-body">
                                @Html.TextAreaFor(model => model.CSBusinessRules, new { @class = "form-control", @rows = "6" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>@Html.LabelFor(model => model.ShippingRules)</strong>
                            </div>
                            <div class="panel-body">
                                @Html.TextAreaFor(model => model.ShippingRules, new { @class = "form-control", @rows = "6" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Charge Rates</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.ChargesSummary)
                                        @Html.TextAreaFor(model => model.ChargesSummary, new { @class = "form-control", @rows = "24" })
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.SurchageHazard)
                                        @Html.TextBoxFor(model => model.SurchageHazard, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SurchageHazard)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.SurchargeFlammable)
                                        @Html.TextBoxFor(model => model.SurchargeFlammable, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SurchargeFlammable)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.SurchargeHeat)
                                        @Html.TextBoxFor(model => model.SurchargeHeat, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SurchargeHeat)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.SurchargeRefrigerate)
                                        @Html.TextBoxFor(model => model.SurchargeRefrigerate, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SurchargeRefrigerate)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.SurchargeFreeze)
                                        @Html.TextBoxFor(model => model.SurchargeFreeze, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SurchargeFreeze)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.SurchargeClean)
                                        @Html.TextBoxFor(model => model.SurchargeClean, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SurchargeClean)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.SurchargeNalgene)
                                        @Html.TextBoxFor(model => model.SurchargeNalgene, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SurchargeNalgene)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.SurchargeNitrogen)
                                        @Html.TextBoxFor(model => model.SurchargeNitrogen, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SurchargeNitrogen)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.SurchargeBiocide)
                                        @Html.TextBoxFor(model => model.SurchargeBiocide, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SurchargeBiocide)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.SurchargeBlend)
                                        @Html.TextBoxFor(model => model.SurchargeBlend, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SurchargeBlend)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.SurchargeKosher)
                                        @Html.TextBoxFor(model => model.SurchargeKosher, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SurchargeKosher)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.HazDHServLvl1)
                                        @Html.TextBoxFor(model => model.HazDHServLvl1, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.HazDHServLvl1)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.HazDHServLvl2)
                                        @Html.TextBoxFor(model => model.HazDHServLvl2, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.HazDHServLvl2)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.HazDHServLvl3)
                                        @Html.TextBoxFor(model => model.HazDHServLvl3, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.HazDHServLvl3)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.HazDHServLvl4)
                                        @Html.TextBoxFor(model => model.HazDHServLvl4, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.HazDHServLvl4)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.NonHazDHServLvl1)
                                        @Html.TextBoxFor(model => model.NonHazDHServLvl1, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NonHazDHServLvl1)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.NonHazDHServLvl2)
                                        @Html.TextBoxFor(model => model.NonHazDHServLvl2, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NonHazDHServLvl2)
                                    </div>
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.NonHazDHServLvl3)
                                        @Html.TextBoxFor(model => model.NonHazDHServLvl3, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NonHazDHServLvl3)
                                    </div>
                                    <div class="col-md-2">
                                        @Html.LabelFor(model => model.NonHazDHServLvl4)
                                        @Html.TextBoxFor(model => model.NonHazDHServLvl4, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NonHazDHServLvl4)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!-- Contacts Management -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#contactpanel"><i class="fa fa-book fa-fw"></i> Contacts</h3>
            </div>
            <div id="contactpanel" class="panel-body collapse in">
                <div class="row">
                    <div id="">
                        @Html.Partial("~/Views/Client/_Contacts.cshtml")
                    </div>
                </div>
            </div>
        </div>

            <!-- End Use Management -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#endusepanel"><i class="fa fa-book fa-fw"></i> End Use</h3>
            </div>
            <div id="endusepanel" class="panel-body collapse in">
                <div class="row">
                    <div id="">
                        @Html.Partial("~/Views/Client/_EndUse.cshtml")
                    </div>
                </div>
            </div>
        </div>

            <!-- Suppliers Information -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#supplierpanel"><i class="fa fa-book fa-fw"></i>Suppliers</h3>
            </div>
            <div id="supplierpanel" class="panel-body collapse in">
                <div class="row">
                    <div id="">
                        @Html.Partial("~/Views/Client/_Suppliers.cshtml")
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>