@model MvcPhoenix.Models.ClientProfile

@{
    ViewBag.Title = "Client Management:";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Client/LogoFile?id=@Model.ClientID" style="width: auto; height: 73px; float: right" alt="@Model.ClientName logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title <small>@Model.ClientName - @Model.CMCLocation</small>
            </h1>
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
    </div>
    <!-- /.Page Heading -->
    <div class="row">
        <div class="form-group col-md-6">
            @using (Html.BeginForm("Index", "Client", FormMethod.Get))
            {
                <label>Search Clients</label>
                <div class="input-group">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search by Client or Location" })
                    <div class="input-group-btn">
                        <input type="submit" value="Search" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Clients Index", "Index")
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <a href="@Url.Action("View", "Client", new { id = @Model.ClientID })"><i class="fa fa-eye fa-fw"></i> View Mode</a>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <div class="pull-left">
                <a href="#_" type="button" onclick="$('.panel-body').collapse('show');" value="open all"> Open All</a> |
                <a href="#__" type="button" onclick="$('.panel-body').collapse('hide');" value="close all"> Close All</a>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("SaveClientProfile", "Client", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.ClientID)
        @Html.HiddenFor(m => m.LegacyID)
        @Html.HiddenFor(m => m.GlobalClientID)

        @* Client Information *@
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-toggle="collapse" data-target="#clientinfopanel"><i class="fa fa-book fa-fw"></i> Client Information</h3>
            </div>
            <div id="clientinfopanel" class="panel-body collapse in">
                <div class="row">
                    <div class="col-md-2 form-group">
                        <label>Client ID</label>
                        @Html.TextBoxFor(model => model.ClientID, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Legacy ID</label>
                        @Html.TextBoxFor(model => model.LegacyID, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Global Client ID</label>
                        @Html.TextBoxFor(model => model.GlobalClientID, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label>CMC Location</label>
                        @Html.DropDownListFor(m => m.CMCLocation, new SelectList(Enum.GetValues(typeof(ApplicationService.CMCLocationChoice))), new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Active Profile</label>
                        @Html.CheckBox("ActiveProfile", Model.ActiveProfile != null && (bool)Model.ActiveProfile, new { @class = "checkbox" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Active Date</label>
                        @Html.TextBoxFor(model => model.ActiveDate, "{0:dd-MMM-yyyy}", new { @class = "date-picker form-control" })
                        @Html.ValidationMessageFor(model => model.ActiveDate)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Client Name</label>
                        @Html.TextBoxFor(model => model.ClientName, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Client Code</label>
                        @Html.TextBoxFor(model => model.ClientCode, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Client Entity Name</label>
                        @Html.TextBoxFor(model => model.ClientEntityName, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Client Reference</label>
                        @Html.TextBoxFor(model => model.ClientReference, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 form-group">
                        <label>Client Currency</label>
                        @Html.DropDownListFor(m => m.ClientCurrency, new SelectList(Enum.GetValues(typeof(ApplicationService.CurrencyChoice))), new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Client UM</label>
                        @Html.DropDownListFor(m => m.ClientUM, new SelectList(Enum.GetValues(typeof(ApplicationService.UMChoice))), new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Client Net Term</label>
                        @Html.TextBoxFor(model => model.ClientNetTerm, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Invoice Email</label>
                        <div style="border:solid 1px lightgrey;">
                            @Html.TextAreaFor(model => model.InvoiceEmailTo, new { @class = "form-control", @rows = "4" })
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Invoice Address</label>
                        <div style="border:solid 1px lightgrey;">
                            @Html.TextAreaFor(model => model.InvoiceAddress, new { @class = "form-control", @rows = "4" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Upload Logo</label>
                        <div class="input-group">
                            <span class="btn input-group-addon btn-file">
                                <i class="fa fa-folder-o"></i> Select File <input type="file" id="logoupload" name="logoupload" accept="image/*" style="" onchange="uploadvalidation()">
                            </span>
                            <input type="text" id="LogoUploadFileName" name="LogoUploadFileName" class="form-control" />
                        </div>
                        <div style="border:solid 1px lightgrey;">
                            <img src="~/Client/LogoFile?id=@Model.ClientID" alt="@Model.ClientName Logo" title="@Model.ClientName Logo">
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Key Contact Directory</label>
                        <div style="border:solid 1px lightgrey;">
                            @Html.TextAreaFor(m => m.KeyContactDir, new { @class = "form-control", @rows = "4" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    @* Add message returned from server here *@
                    <div class="col-md-3 col-md-offset-9">
                        <input type="submit" class="btn btn-success btn-block" value="Save Changes" />
                    </div>
                </div>
            </div>
        </div>
    }

    @* Divisions *@
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" data-toggle="collapse" data-target="#divisionpanel"><i class="fa fa-book fa-fw"></i> Divisions</h3>
        </div>
        <div id="divisionpanel" class="panel-body collapse in">
            <div class="row">
                <div class="col-md-3">
                    @Ajax.ActionLink("+ Add New Division", "CreateDivision", "Client", new { id = Model.ClientID }, new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET",
                            UpdateTargetId = "dialogPlaceholder",
                            OnSuccess = "$('#dialogPlaceholderModal').modal('show')"
                        }, new { @class = "btn btn-primary btn-block" })
                </div>
            </div>
            <div id="dvDivisionList">
                @Html.Action("ListDivisions", "Client", new { id = @Model.ClientID })
            </div>
        </div>
    </div>

    @* Suppliers *@
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" data-toggle="collapse" data-target="#supplierpanel"><i class="fa fa-book fa-fw"></i> Suppliers</h3>
        </div>
        <div id="supplierpanel" class="panel-body collapse in">
            <div class="row">
                <div class="col-md-3">
                    @Ajax.ActionLink("+ Add New Supplier", "CreateSupplier", "Client", new { id = Model.ClientID }, new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET",
                        UpdateTargetId = "dialogPlaceholder",
                        OnSuccess = "$('#dialogPlaceholderModal').modal('show')"
                    }, new { @class = "btn btn-primary btn-block" })
                </div>
            </div>
            <div id="dvSupplierList">
                @Html.Action("ListSuppliers", "Client", new { id = @Model.ClientID })
            </div>
        </div>
    </div>

    @* Contacts *@
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" data-toggle="collapse" data-target="#contactpanel"><i class="fa fa-book fa-fw"></i> Contacts</h3>
        </div>
        <div id="contactpanel" class="panel-body collapse in">
            <div class="row">
                <div class="col-md-3">
                    @Ajax.ActionLink("+ Add New Contact", "CreateContact", "Client", new { id = Model.ClientID }, new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET",
                        UpdateTargetId = "dialogPlaceholder",
                        OnSuccess = "$('#dialogPlaceholderModal').modal('show')"
                    }, new { @class = "btn btn-primary btn-block" })
                </div>
            </div>
            <div id="dvContactList">
                @Html.Action("ListContacts", "Client", new { id = @Model.ClientID })
            </div>
        </div>
    </div>

    @* Tiers *@
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" data-toggle="collapse" data-target="#tierpanel"><i class="fa fa-book fa-fw"></i> Tiers</h3>
        </div>
        <div id="tierpanel" class="panel-body collapse in">
            <div class="row">
                <div class="col-md-3">
                    @Ajax.ActionLink("+ Add New Tier", "CreateTier", "Client", new { id = Model.ClientID }, new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET",
                        UpdateTargetId = "dialogPlaceholder",
                        OnSuccess = "$('#dialogPlaceholderModal').modal('show')"
                    }, new { @class = "btn btn-primary btn-block" })
                </div>
            </div>
            <div id="dvTierList">
                @Html.Action("ListTiers", "Client", new { id = @Model.ClientID })
            </div>
        </div>
    </div>

    @* End Uses *@
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" data-toggle="collapse" data-target="#endusepanel"><i class="fa fa-book fa-fw"></i> End Uses</h3>
        </div>
        <div id="endusepanel" class="panel-body collapse in">
            <div class="row">
                <div class="form-group col-md-6">
                    @using (Ajax.BeginForm("AddEndUse", "Client", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "endUseList",
                        OnFailure = "$.alert('Something is wrong!')",
                        InsertionMode = InsertionMode.Replace
                    }))
                    {
                        <div class="input-group">
                            <input type="text" id="EndUseString" name="endusestring" class="form-control" placeholder="Add New End Use" required pattern=".*\S+.*" title="Type End Use" onfocus='javascript: this.value = ""' />
                            <input hidden value="@Model.ClientID" id="clientid" name="clientid" />
                            <div class="input-group-btn">
                                <input type="submit" value="+ Add" class="btn btn-success" />
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div id="endUseList">
                @Html.Action("ListEndUses", "Client", new { id = @Model.ClientID })
            </div>
        </div>
    </div>

    @* Surcharges *@
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" data-toggle="collapse" data-target="#surchargepanel"><i class="fa fa-book fa-fw"></i> Product Surcharges</h3>
        </div>
        <div id="surchargepanel" class="panel-body collapse in">
            @Html.Action("DisplaySurcharges", "Client", new { clientid = @Model.ClientID })
        </div>
    </div>

    @* Service Charge Rates *@
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" data-toggle="collapse" data-target="#servicechargeratespanel"><i class="fa fa-book fa-fw"></i> Service Charge Rates</h3>
        </div>
        <div id="servicechargeratespanel" class="panel-body collapse in">
            @Html.Action("DisplayServiceChargeRates", "Client", new { clientid = @Model.ClientID })
        </div>
    </div>

    @* Account Representative Assignment *@
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" data-toggle="collapse" data-target="#accountreppanel"><i class="fa fa-book fa-fw"></i> Account Representative Assignment</h3>
        </div>
        <div id="accountreppanel" class="panel-body collapse in">
            <div class="row">
                <div class="col-md-6 form-group">
                    <div class="input-group">
                        @Html.DropDownList("AccountRepEmail", ApplicationService.ddlUsers(), new { @class = "form-control" })
                        <input hidden value="@Model.ClientID" id="clientid" name="clientid" />
                        <div class="input-group-btn">
                            <input id="addaccountrep" type="submit" value="+ Add" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="accountRepsList">
                @Html.Action("ListAccountRReps", "Client", new { clientid = @Model.ClientID })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <span><i class="fa fa-arrow-circle-up"></i> <a href="#top">Back to Top</a></span>
            <span class="pull-right"><a href="#top">Back to Top</a> <i class="fa fa-arrow-circle-up"></i></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    CKEDITOR.inline('InvoiceAddress');
    CKEDITOR.inline('InvoiceEmailTo');
    CKEDITOR.inline('KeyContactDir');

    function uploadvalidation() {
        var fname = (document.getElementById('logoupload').value).substring(12);
        var fsize = document.getElementById('logoupload').files[0].size;
        var re = /(\.gif|.jpg|.jpeg)$/i;

        if (re.exec(fname)) {
            document.getElementById('LogoUploadFileName').value = (document.getElementById('logoupload').value).substring(12);

            if (fsize > 102400) {
                $.alert("The max size allowed is 100kb. Your file size in kb is ~" + (fsize / 1024).toFixed(2));
                document.getElementById('logoupload').value = "";
                return false;
            }
        }
        else {
            $.alert("File not supported! Only .gif and .jpg images are allowed.");
            document.getElementById('logoupload').value = "";
            return false;
        }
    }
</script>