@model List<MvcPhoenix.Models.Cas>

<div id="dvCasList">
    <div class="row form-group">
        <div class="col-md-3 pull-right">
            @Ajax.ActionLink("+ Add New Cas", "CreateCAS", "Products", new { id = ViewBag.ParentKey }, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            UpdateTargetId = "dialogPlaceholder",
            OnSuccess = "$('#dialogPlaceholderModal').modal('show')"
        }, new { @class = "btn btn-primary btn-block" })
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th id="noprint"></th>
                <th width="10%">CAS/EC Number</th>
                <th>Chemical Name</th>
                <th>Less Than</th>
                <th>Percentage</th>
                <th>Restricted Qty</th>
                <th>Restricted Amt</th>
                <th>Reportable Qty</th>
                <th>Exclude From Label</th>
                <th>Reportable Amt</th>
                <th id="noprint"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td id="noprint">
                        @Ajax.ActionLink(" ", "DeleteCAS", "Products", new { id = @item.casid },
                             new AjaxOptions
                             {
                                 Confirm = "Delete This Product Note?",
                                 HttpMethod = "GET",
                                 OnSuccess = "UpdateCasList"
                             }, new { @class = "fa fa-fw fa-minus-circle", @style = "color:red;text-decoration:none;" })
                    </td>
                    <td>@item.casnumber</td>
                    <td>@item.chemicalname</td>
                    <td><input type="checkbox" checked="@item.lessthan" disabled="disabled"></td>
                    <td>@item.percentage</td>
                    <td><input type="checkbox" checked="@item.restrictedqty" disabled="disabled"></td>
                    <td>@item.restrictedamount</td>
                    <td><input type="checkbox" checked="@item.reportableqty" disabled="disabled"></td>
                    <td><input type="checkbox" checked="@item.excludefromlabel" disabled="disabled"></td>
                    <td>@item.reportableamount</td>
                    <td id="noprint">
                        @Ajax.ActionLink("Edit", "EditCAS", "Products", new { id = @item.casid }, new AjaxOptions
                   {
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "GET",
                       UpdateTargetId = "dialogPlaceholder",
                       OnSuccess = "$('#dialogPlaceholderModal').modal('show')"
                   })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<script type="text/javascript">
    function UpdateCasList() {
        $("#dvCasList").load('@Url.Action("CasList", "Products", new { id = @ViewBag.ParentKey })');
    }
</script>
