@model MvcPhoenix.Models.GHSViewModel

@* Hide unwanted columns from ghs/detail/id *@
<style>
    .parent-hide {
        display: none;
    }
</style>

<div id="dvGHSInformationDisplay">
    <div class="row">
        <div class="col-md-3 pull-right form-group">
            @Html.ActionLink("Manage", "Index", "GHS", new { id = @ViewBag.ParentID }, new { @class = "btn btn-primary btn-block" })
        </div>
    </div>

    <div class="row form-group">
        <table>
            <tr>
                <td class="col-md-2">
                    <label>GHS Signal Word</label>
                    @Html.TextBoxFor(m => m.GHSSignalWord, new { @class = "form-control", @disabled = "disabled" })
                </td>
                <td class="col-md-2">
                    <label>GHS Symbol 1</label>
                    @Html.TextBoxFor(m => m.GHSSymbol1, new { @class = "form-control", @disabled = "disabled" })
                </td>
                <td class="col-md-2">
                    <label>GHS Symbol 2</label>
                    @Html.TextBoxFor(m => m.GHSSymbol2, new { @class = "form-control", @disabled = "disabled" })
                </td>
                <td class="col-md-2">
                    <label>GHS Symbol 3</label>
                    @Html.TextBoxFor(m => m.GHSSymbol3, new { @class = "form-control", @disabled = "disabled" })
                </td>
                <td class="col-md-2">
                    <label>GHS Symbol 4</label>
                    @Html.TextBoxFor(m => m.GHSSymbol4, new { @class = "form-control", @disabled = "disabled" })
                </td>
                <td class="col-md-2">
                    <label>GHS Symbol 5</label>
                    @Html.TextBoxFor(m => m.GHSSymbol5, new { @class = "form-control", @disabled = "disabled" })
                </td>
            </tr>
        </table>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
            <label>Other Label Information</label><br />
            @Html.DisplayFor(m => m.OtherLabelInfo, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>

    @Html.Action("Detail", "GHS", Model.ProductDetailID)
</div>
