@model List<MvcPhoenix.Models.ProductNote>
    @{
        // The target container that holds the modal CRUD has to be in the parent view not in this view
        // dvLogNotesModalBody is in Edit.cshtml
        // dvLogNotesEditModal is in Edit.cshtml
        
        AjaxOptions AjaxOptionsForDetail = new AjaxOptions()
        {
            HttpMethod = "GET",
            UpdateTargetId = "dvLogNotesModalBody",
            OnSuccess = "$('#dvLogNotesEditModal').modal('show')"
        };
           
    }

    <label>Notes | </label>
    @Ajax.ActionLink("+ Add New Note", "Create", "ProductNotes", new { id = -1 }, AjaxOptionsForDetail)
    <div class="form-group table-responsive">
        <table class="table table-striped">
            <tr>
                <th>&nbsp;</th><th>Date</th><th>Notes</th><th>Reason Code</th><th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td><i class="fa fa-minus-circle fa-fw" style="color: red"></i></td>
                    <td>@String.Format("{0:dd MMM yyy}", @item.notedate)</td>
                    <td>@item.notes</td>
                    <td>@item.reasoncode</td>
                    <td>
                        @Ajax.ActionLink("Edit", "Edit", "ProductNotes", new { id = @item.productnoteid }, AjaxOptionsForDetail)
                    </td>
                </tr>
            }
        </table>
    </div>


