@model MvcPhoenix.Models.ProductNote

<div id="dialogPlaceholderModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("SaveProductNote", "Products", new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "dialogResult",
                    OnSuccess = "UpdateProductNotesList",
                    InsertionMode = InsertionMode.Replace
                }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Product Log Note</h4>
                </div>

                <div id="dialogPlaceholderBody" class="modal-body">

                    @Html.HiddenFor(m => m.productnoteid)
                    @Html.HiddenFor(m => m.productdetailid)
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Date</label>
                            @Html.TextBoxFor(m => m.notedate, "{0:dd MMM yyy}", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Reason</label>
                            @Html.DropDownListFor(m => m.reasoncode, ApplicationService.ddlReasonCodes(), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Note</label>
                            @Html.TextAreaFor(m => m.notes, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <span id="dialogResult" hidden></span>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function UpdateProductNotesList() {
        // Update the list
        $("#dvLogNotes").load('@Url.Action("ProductLogList", "Products", new { id = @Model.productdetailid })');

        // Activate to hide the modal after list update
        $("#dialogPlaceholderModal").modal('hide');
    }
</script>