@model MvcPhoenix.Models.ProductProfileLanding
@{
    ViewBag.Title = "Product Profile Management";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="cmc logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
        </div>
    </div>
    <!-- /.Page Heading -->

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-suitcase fa-fw"></i> Create</h3>
        </div>
        <div class="panel-body" style="margin-bottom:-20px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-success">
                        <label>Create Original Product Profile</label>
                        <p>This will create a product with a mastercode type attribute</p><br />
                        @using (Html.BeginForm("Create", "Products"))
                        {
                            <div class="input-group">
                                @Html.DropDownList("clientid", ApplicationService.ddlClientIDs(), new { @class = "form-control", @required = "required" })
                                <span class="input-group-btn">
                                    <input type="submit" value="Create" class="btn btn-success" />
                                </span>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="alert alert-warning">
                        <label>Create Equivalent Product Profile</label>
                        @using (Html.BeginForm("Equivalent", "Products"))
                        {
                            <div class="form-group">
                                @Html.DropDownList("clientidEquivalent", ApplicationService.ddlClientIDs(), new { onchange = "OnChangeClientIdEquivalent()", @class = "form-control" })
                            </div>
                            <div class="input-group">
                                <div id="dvProductMasterIDs3">
                                    <select name="productdetailid" id='productdetailid' class='form-control' required>        
                                        @* Placeholder for option values *@                               
                                    </select>
                                </div>
                                <span class="input-group-btn">
                                    <input type="submit" id="btnEquiv" value="Create" class="btn btn-success" />
                                </span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-suitcase fa-fw"></i> Edit</h3>
                </div>
                <div class="panel-body">
                    <div class="row col-md-12">
                        <label>Edit Product Profile</label>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            @using (Ajax.BeginForm("Search", "Products", new AjaxOptions
                            {
                                UpdateTargetId = "dvSearchProduct",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "POST",
                            }))
                            {
                                <div class="form-group">
                                    @Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = "Enter Keywords...", @required = "required" })
                                </div>
                                <button type="submit" class="btn btn-primary form-control">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            }
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="vertical-line" style="height: 85px;">&nbsp;</div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            @using (Html.BeginForm("Edit", "Products"))
                            {
                                <div class="form-group">
                                    @Html.DropDownList("clientidEdit", ApplicationService.ddlClientIDs(), new { onchange = "OnChangeClientIdEdit()", @class = "form-control" })
                                </div>
                                <div class="input-group">
                                    <div id="dvPlaceholderProductDetail">
                                        <select name="productdetailidedit" id='productdetailidedit' class='form-control' required onchange="OnChangeEditProduct(this);">
                                            @* Placeholder for option values *@
                                        </select>
                                        <input type="hidden" id="productid" name="productid"/>
                                    </div>                                    
                                    <span class="input-group-btn">
                                        <input type="button" id="editProduct" value="Edit Product" class="btn btn-success" />
                                    </span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-wrench fa-fw"></i> Utility Box</h3>
                </div>
                <div class="panel-body">
                    @Html.ActionLink("Convert Equivalent to Product Master", "DetailToMaster", "ProductConversion", null, new { @class = "btn btn-block btn-primary", @target = "_blank" })
                    @Html.ActionLink("Set Client Product Cross-Reference", "XRefList", "Products", null, new { @class = "btn btn-block btn-primary", @target = "_blank" })
                    <button class="btn btn-block btn-primary">&nbsp;</button>
                </div>
            </div>
        </div>
    </div>

    <div id="dvSearchProduct"></div>
</div>

<script type="text/javascript">
    function OnChangeClientIdEdit() {
        var url = '@Url.Action("ProductCodesDropDown", "Products")';
        var data = $('#clientidEdit').val();
        $("#productdetailidedit").load(url, { clientid: data });
    }

    function OnChangeClientIdEquivalent() {
        var url = '@Url.Action("ProductCodesDropDown", "Products")';
        var data = $('#clientidEquivalent').val();
        $("#productdetailid").load(url, { clientid: data });
    }

    function OnChangeEditProduct(selectedProduct) {
        $("#productid").val(selectedProduct.value);
    }

    $('#editProduct').click(function () {
        var productid = $('#productid').val();

        if (productid > 1) {
            window.location = "/Products/Edit/" + productid;
        } else {
            $.alert("Please select a valid product from the drop down list.");
        }        
    });
</script>