@model MvcPhoenix.Models.ProductProfile
@{
    ViewBag.Title = "Product Profile:";
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}

<script type="text/javascript">
    window.onload = function () {
        $("#bcTarget").barcode(
            "@Model.productdetailid ~ @Model.productcode ~ @Model.productname",
            "datamatrix",
            { moduleSize: 2, showHRI: false });
    };
</script>

<div id="bcTarget"></div>

<img src="~/Content/images/logos/@Model.logofilename" style="width: auto; height: 73px; float: right" alt="@Model.clientname logo">
<h1 class="page-header">
    @ViewBag.Title <small>@Model.productcode - @Model.productname</small>
</h1>

<div class="form-group">
    <h3>Product Identification</h3>
    <table>
        <tr>
            <td width="25%">
                <label>Client:</label><br />
                @Html.DisplayFor(m => m.clientname, new { @class = "form-control" })
            </td>
            <td width="35%">
                <label>Division:</label><br />
                @Html.DisplayFor(m => m.divisionid, new { @class = "form-control" })
            </td>
            <td width="20%">
                <label>Business Unit:</label><br />
                <input type="text" class="form-control" placeholder="bound to division table" />
                @*@Html.TextBoxFor(m => m.busarea, new { @class = "form-control" })*@
            </td>
            <td width="20%">
                <label>Product ID:</label><br />
                @Html.DisplayFor(m => m.productdetailid, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label>Product Code:</label><br />
                @Html.DisplayFor(m => m.productcode, new { @class = "form-control" })
            </td>
            <td>
                <label>Product Name:</label><br />
                @Html.DisplayFor(m => m.productname, new { @class = "form-control" })
            </td>
            <td>
                <label>Profile Activation Date:</label><br />
                @Html.DisplayFor(m => m.activedate, "{0:dd-MMM-yyyy}", new { @class = "form-control" })
            </td>
            <td>
                <label>Profile Revision Date:</label><br />
                @Html.TextBoxFor(m => m.sgrevisiondate, "{0:dd-MMM-yyyy}", new { @class = "form-control" })
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td width="25%">
                <label>Equivalents</label><br />
                <textarea rows="3" class="form-control">
                    @for (int i = 0; i < Model.ListOfEquivalents.Count(); i++)
                    {
                    @Model.ListOfEquivalents[i];
                    }
                </textarea>
            </td>
            <td width="25%">
                <label>Cross Reference List</label><br />
                <textarea rows="3" class="form-control">
                    @for (int i = 0; i < Model.ListOfProductCodesXRefs.Count(); i++)
                    {
                    @Model.ListOfProductCodesXRefs[i];
                    }
                </textarea>
            </td>
            <td>
                Global @Html.CheckBox("globalproduct", Model.globalproduct != null && (bool)Model.globalproduct)
            </td>
            <td>
                Active @Html.CheckBox("active", Model.active != null && (bool)Model.active)
            </td>
            <td>
                Verified @Html.CheckBox("accuracyverified", Model.accuracyverified != null && (bool)Model.accuracyverified)
            </td>
            <td>
                Discontinued @Html.CheckBox("discontinued", Model.discontinued != null && (bool)Model.discontinued)
            </td>
        </tr>
    </table>

    @{Html.RenderAction("ShelfMasterList", "ShelfMaster", new { id = @Model.productdetailid });}
</div>

<hr />

<div class="form-group">
    <h3>Handling / Storage / Customs</h3>
    <table>
        <tr>
            <td width="25%">@Html.CheckBox("cleanroomgmp", Model.cleanroomgmp != null && (bool)Model.cleanroomgmp) Clean Room GMP</td>
            <td width="25%">@Html.CheckBox("nitrogenblanket", Model.nitrogenblanket != null && (bool)Model.nitrogenblanket) Nitrogen Blanket</td>
            <td width="25%">@Html.CheckBox("moisturesensitive", Model.moisturesensitive != null && (bool)Model.moisturesensitive) Moisture Sensitive</td>
            <td width="25%">@Html.CheckBox("donotpackabove60", Model.donotpackabove60 != null && (bool)Model.donotpackabove60) Don't Pack Above 60% RH</td>
        </tr>
        <tr>
            <td>@Html.CheckBox("specialblend", Model.specialblend != null && (bool)Model.specialblend) Special Blend</td>
            <td>@Html.CheckBox("freezerstorage", Model.freezerstorage != null && (bool)Model.freezerstorage) Freezer Storage</td>
            <td>@Html.CheckBox("refrigerate", Model.refrigerate != null && (bool)Model.refrigerate) Refrig Storage</td>
            <td>@Html.CheckBox("temperaturecontrolledstorage", Model.temperaturecontrolledstorage != null && (bool)Model.temperaturecontrolledstorage) Temp Controlled Storage</td>
        </tr>
        <tr>
            <td>@Html.CheckBox("freezablelist", Model.freezablelist != null && (bool)Model.freezablelist) Freezable List</td>
            <td>@Html.CheckBox("flammableground", Model.flammableground != null && (bool)Model.flammableground) Flammable Ground</td>
            <td>@Html.CheckBox("flammablestorageroom", Model.flammablestorageroom != null && (bool)Model.flammablestorageroom) Flammable Storage</td>
            <td>
                <label>Req By:</label>
                Client: @Html.CheckBox("clientreq", Model.clientreq != null && (bool)Model.clientreq)
                CMC: @Html.CheckBox("cmcreq", Model.cmcreq != null && (bool)Model.cmcreq)
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="33%"><label>Torque: </label> @Html.DisplayFor(m => m.torquerequirements)</td>
            <td width="33%"><label>Flash Point: </label> @Html.DisplayFor(m => m.flashpoint)</td>
            <td width="33%"><label>Other: </label> @Html.TextBoxFor(m => m.otherpkg, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>
                <label>Heat Prior to Filing </label> @Html.CheckBox("heatpriortofilling", Model.heatpriortofilling != null && (bool)Model.heatpriortofilling)<br />
                @Html.DisplayFor(m => m.heatinginstructions, new { @class = "form-control", @placeholder = "Heating Instructions" })
            </td>
            <td>
                <label>Mix Well</label> @Html.CheckBox("mixwell", Model.mixwell != null && (bool)Model.mixwell) <br />
                @Html.DisplayFor(m => m.mixinginstructions, new { @class = "form-control", @placeholder = "Mixing Instructions" })
            </td>
            <td>
                <label>Other Instructions</label><br/>
                @Html.DisplayFor(m => m.otherhandlinginstr, new { @class = "form-control" })
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <label>End Use</label><br />
                @Html.DisplayFor(m => m.enduse, new { @class = "form-control" })
            </td>
            <td>
                <label>Harmonized Code</label><br />
                @Html.TextBoxFor(m => m.harmonizedcode, new { @class = "form-control" })
            </td>

            <td>
                <label>Customs Value</label><br />
                @Html.DisplayFor(m => m.customsvalue) @Html.DisplayFor(m => m.customsvalueunit)
            </td>
        </tr>
        <tr>
            <td>
                <label>Shipping SOP</label><br />
                @Html.DisplayFor(m => m.shippingnotes, new { @class = "form-control" })
            </td>
            <td>
                <label>Country Of Origin</label><br />
                @Html.DisplayFor(m => m.countryoforigin, new { @class = "form-control" })
            </td>
            <td>
                <label>Cease Ship Days</label><br />
                @Html.TextBoxFor(m => m.ceaseshipdifferential, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label>Rejection Criterion:</label><br />
                @Html.DisplayFor(m => m.rejectioncriterion)
            </td>
            <td>
                <label>Plant Lead Time</label><br />
                @Html.DisplayFor(m => m.leadtime)
            </td>
        </tr>
    </table>
</div>

<hr />

<div class="form-group">
    <h3>Alert Notes</h3>
    <table>
        <tr>
            <td>
                <label>Sample Request Alert Note</label><br />
                @Html.DisplayFor(m => m.alertnotesorderentry, new { @class = "form-control" })
            </td>
            <td width="50%">
                <label>Receiving Alert Note</label><br />
                @Html.DisplayFor(m => m.alertnotesreceiving, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label>Shipping Alert Note</label><br />
                @Html.DisplayFor(m => m.alertnotesshipping, new { @class = "form-control" })
            </td>
            <td>
                <label>Packout Alert Note</label><br />
                @Html.DisplayFor(m => m.alertnotespackout, new { @class = "form-control" })
            </td>
        </tr>
    </table>
</div>

<hr />

<div class="form-group">
    <h3>SDS Document Information</h3>
    <table>
        <tr>
            <td>
                <label>SDS Revision Date</label><br />
                @Html.TextBoxFor(m => m.msdsrevisiondate, "{0:dd-MMM-yyyy}", new { @class = "form-control" })
            </td>
            <td>
                <label>SDS Rev. Number</label><br />
                @Html.TextBoxFor(m => m.msdsrevisionnumber, new { @class = "form-control" })
            </td>
            <td>
                <label>Other Number</label><br />
                @Html.TextBoxFor(m => m.msdsothernumber, new { @class = "form-control" })
            </td>
            <td>
                <label>China Test Cert. Date</label><br />
                @Html.TextBoxFor(m => m.chinacertificationdate, "{0:dd-MMM-yyyy}", new { @class = "form-control" })
            </td>
            <td>
                <label>Shelf Life</label><br />
                @Html.TextBoxFor(m => m.shlflife, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label>SDS Contact Name</label><br />
                @Html.TextBoxFor(m => m.sdscontactname, new { @class = "form-control" })
            </td>
            <td>
                <label>SDS Contact Phone</label><br />
                @Html.TextBoxFor(m => m.sdscontactphone, new { @class = "form-control" })
            </td>
            <td>
                <label>Label Contact Name</label><br />
                @Html.TextBoxFor(m => m.labelcontactname, new { @class = "form-control" })
            </td>
            <td>
                <label>Label Contact Phone</label><br />
                @Html.TextBoxFor(m => m.labelcontactphone, new { @class = "form-control" })
            </td>
            <td>
                <label>Tech Sheet Available</label><br />
                @Html.CheckBox("technicalsheet", Model.technicalsheet != null && (bool)Model.technicalsheet, new { @class = "form-control" })
            </td>
        </tr>
    </table>
</div>

<hr />

<div class="form-group">
    <h3>GHS Information</h3>
    @{Html.RenderAction("GHSDisplay", "GHS", new { id = @Model.productdetailid });}
</div>

<hr />

<div class="form-group">
    <h3> Health Hazard Information</h3>
    <table>
        <tr>
            <td width="25%">
                <label>Health Hazards</label>
                <p>@Html.CheckBox("toxic", Model.toxic != null && (bool)Model.toxic) Toxic</p>
                <p>@Html.CheckBox("highlytoxic", Model.highlytoxic != null && (bool)Model.highlytoxic) Highly Toxic</p>
                <p>@Html.CheckBox("reproductivetoxin", Model.reproductivetoxin != null && (bool)Model.reproductivetoxin) Reproductive Toxin</p>
                <p>@Html.CheckBox("corrosivehaz", Model.corrosivehaz != null && (bool)Model.corrosivehaz) Corrosive Hazard</p>
                <p>@Html.CheckBox("sensitizer", Model.sensitizer != null && (bool)Model.sensitizer) Sensitizer</p>
                <p>@Html.CheckBox("carcinogen", Model.carcinogen != null && (bool)Model.carcinogen) Carcinogen</p>
                <p>@Html.CheckBox("irritant", Model.irritant != null && (bool)Model.irritant) Irritant</p>
            </td>
            <td width="25%">
                <label>Routes of Entry</label>
                <p>@Html.CheckBox("ingestion", Model.ingestion != null && (bool)Model.ingestion) Ingestion</p>
                <p>@Html.CheckBox("inhalation", Model.inhalation != null && (bool)Model.inhalation) Inhalation</p>
                <p>@Html.CheckBox("skincontact", Model.skincontact != null && (bool)Model.skincontact) Skin Contact</p>
                <p>@Html.CheckBox("eyecontact", Model.eyecontact != null && (bool)Model.eyecontact) Eye Contact</p>
            </td>
            <td width="25%">
                <label>Physical Hazards</label>
                <p>@Html.CheckBox("combustible", Model.combustible != null && (bool)Model.combustible) Combustible</p>
                <p>@Html.CheckBox("corrosive", Model.corrosive != null && (bool)Model.corrosive) Corrosive</p>
                <p>@Html.CheckBox("flammable", Model.flammable != null && (bool)Model.flammable) Flammable</p>
                <p>@Html.CheckBox("oxidizer", Model.oxidizer != null && (bool)Model.oxidizer) Oxidizer</p>
                <p>@Html.CheckBox("reactive", Model.reactive != null && (bool)Model.reactive) Reactive</p>
                <p>@Html.CheckBox("physicaltoxic", Model.physicaltoxic != null && (bool)Model.physicaltoxic) Toxic</p>
                <p>@Html.CheckBox("peroxideformer", Model.peroxideformer != null && (bool)Model.peroxideformer) Peroxide Former</p>
                <p>@Html.CheckBox("polymerizationhazard", Model.polymerizationhazard != null && (bool)Model.polymerizationhazard) Polymerization Hazard</p>
            </td>
            <td width="25%">
                <table style="border:solid 1px">
                    <tr>
                        <th style="background-color: yellow">Right to Know</th>
                        <th style="text-align: center">@Html.CheckBox("righttoknow", Model.righttoknow != null && (bool)Model.righttoknow)</th>
                    </tr>
                    <tr>
                        <th style="background-color: yellow">Fire List</th>
                        <th style="text-align: center">@Html.CheckBox("firelist", Model.firelist != null && (bool)Model.firelist)</th>
                    </tr>
                    <tr>
                        <th style="background-color: yellow">SARA</th>
                        <th style="text-align: center">@Html.CheckBox("sara", Model.sara != null && (bool)Model.sara)</th>
                    </tr>
                    <tr>
                        <th style="background-color: green; color: white">SARA 313</th>
                        <th style="text-align: center">@Html.CheckBox("sara313", Model.sara313 != null && (bool)Model.sara313)</th>
                    </tr>
                    <tr>
                        <th style="background-color: purple; color: white">SARA 302</th>
                        <th style="text-align: center">@Html.CheckBox("sara302ehs", Model.sara302ehs != null && (bool)Model.sara302ehs)</th>
                    </tr>
                    <tr>
                        <th style="background-color: red; color: white">EPA Biocide</th>
                        <th style="text-align: center">@Html.CheckBox("epabiocide", Model.epabiocide != null && (bool)Model.epabiocide)</th>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<div class="form-group">
    <h3>Target Organ Effects</h3>
    <table>
        <tr>
            <td width="50%">
                <p>@Html.CheckBox("nephrotoxins", Model.nephrotoxins != null && (bool)Model.nephrotoxins) Nephrotoxins kidney damage - edema, proteinurea</p>
                <p>@Html.CheckBox("neurotoxins", Model.neurotoxins != null && (bool)Model.neurotoxins) Neurotoxins nervous system damage - narcosis, behaviour change, decrease in motor functions</p>
                <p>@Html.CheckBox("hepatopoetics", Model.hepatopoetics != null && (bool)Model.hepatopoetics) Hermatopoietics blood damage - cyanosis, unconsciousness</p>
                <p>@Html.CheckBox("reporductivetoxin", Model.reporductivetoxin != null && (bool)Model.reporductivetoxin) Reproductive toxin birth defects and sterility</p>
            </td>
            <td>
                <p>@Html.CheckBox("hepatotoxins", Model.hepatotoxins != null && (bool)Model.hepatotoxins) Hepatotoxins: Liver damage - jaundice, liver enlargement</p>
                <p>@Html.CheckBox("pulmonarydisfunction", Model.pulmonarydisfunction != null && (bool)Model.pulmonarydisfunction) Pulmonary disfunctions: Lung damage, shortness of breath, chest tightness, cough</p>
                <p>@Html.CheckBox("cutaneoushazards", Model.cutaneoushazards != null && (bool)Model.cutaneoushazards) Cutaneous hazards - skin damage, rashes, defatting of skin</p>
                <p>@Html.CheckBox("eyehazards", Model.eyehazards != null && (bool)Model.eyehazards) Eye hazards: Impaired vision, conjunctivitis, corneal damage</p>
            </td>
        </tr>
    </table>
</div>

@if (!String.IsNullOrEmpty(Model.health) || !String.IsNullOrEmpty(Model.flammability) || !String.IsNullOrEmpty(Model.reactivity))
{
    <div class="form-group">
        <h3>HMIS Ratings</h3>
        <table style="border:solid 1px; text-align:center">
            <tr>
                <th width="33.3%" style="background-color: blue; color: white">Health</th>
                <th width="33.3%" style="background-color: red; color: white">Flammability</th>
                <th width="33.3%" style="background-color: yellow; color: gray">Reactivity</th>
            </tr>
            <tr>
                <th style="text-align: center">@Html.TextBoxFor(m => m.health, new { @maxlength = "1", @style = "border: 0px solid transparent; width: 15px; font-weight: bold;" })</th>
                <th style="text-align: center">@Html.TextBoxFor(m => m.flammability, new { @maxlength = "1", @style = "border: 0px solid transparent; width: 15px; font-weight: bold;" })</th>
                <th style="text-align: center">@Html.TextBoxFor(m => m.reactivity, new { @maxlength = "1", @style = "border: 0px solid transparent; width: 15px; font-weight: bold;" })</th>
            </tr>
        </table>
    </div>
}

<hr />

<div class="form-group">
    <h3> Ingredients Information (CAS)</h3>
    @{Html.RenderAction("CasList", "Products", new { id = @Model.productdetailid });}
</div>

<hr />

<div class="form-group">
    <h3>Chemical Properties & Protection Gear</h3>
    <table>
        <tr>
            <td width="40%">
                <label>Normal Appearance</label><br />
                @Html.DisplayFor(m => m.normalappearence, new { @class = "form-control" })
            </td>
            <td width="15%">
                <label>S.G.</label><br />
                @Html.TextBoxFor(m => m.specificgravity, new { @class = "form-control" })
            </td>
            <td width="15%">
                <label>Density LBS/GAL</label><br />
                @Html.TextBoxFor(m => m.density, new { @class = "form-control" })
            </td>
            <td width="15%">
                <label>pH</label><br />
                @Html.TextBoxFor(m => m.phvalue, new { @class = "form-control" })
            </td>
            <td width="15%">
                <label>Restricted Qty (lbs)</label><br />
                @Html.TextBoxFor(m => m.restrictedtoamount, new { @class = "form-control" })
            </td>
        </tr>
    </table>
</div>

<hr />

<div class="form-group">
    <h3>Protective Equipment</h3>
    <table>
        <tr>
            <td width="35%">
                <p>@Html.CheckBox("hood", Model.hood != null && (bool)Model.hood) Hood</p>
                <p>@Html.CheckBox("safetyglasses", Model.safetyglasses != null && (bool)Model.safetyglasses) Safety Glasses</p>
                <p>@Html.CheckBox("apron", Model.apron != null && (bool)Model.apron) Apron</p>
                <p>@Html.CheckBox("armsleeves", Model.armsleeves != null && (bool)Model.armsleeves) Arm Sleeves</p>
                <p>@Html.CheckBox("halfmaskrespirator", Model.halfmaskrespirator != null && (bool)Model.halfmaskrespirator) Half Mask Resp</p>
            </td>
            <td width="35%">
                <p>@Html.CheckBox("fullfacerespirator", Model.fullfacerespirator != null && (bool)Model.fullfacerespirator) Full Face Resp</p>
                <p>@Html.CheckBox("fullsuit", Model.fullsuit != null && (bool)Model.fullsuit) Full Suit</p>
                <p>@Html.CheckBox("dustfilter", Model.dustfilter != null && (bool)Model.dustfilter) Dustfilter</p>
                <p>@Html.CheckBox("cleanroomequipment", Model.cleanroomequipment != null && (bool)Model.cleanroomequipment) Clean Room Equip</p>
            </td>
            <td width="30%">
                <p>
                    <label>Glove Type</label><br />
                    @Html.DropDownListFor(m => m.glovetype, Model.ListOfGloves, new { @class = "form-control" })
                </p>
                <p>
                    <label>Other Equipment</label><br />
                    @Html.TextBoxFor(m => m.otherequipmentdescription, new { @class = "form-control", @placeholder = "Other Equipment" })
                </p>
            </td>
        </tr>
    </table>
</div>

<hr />

<div class="form-group">
    <h3>Shipping Information</h3>
    <table>
        <tr>
            <td><label>Waste Code:</label> @Html.DisplayFor(m => m.wastecode, new { @class = "form-control" })</td>
            <td>@Html.CheckBox("epahazardouswaste", Model.epahazardouswaste != null && (bool)Model.epahazardouswaste) EPA Hazardous Waste</td>
            <td>@Html.CheckBox("nonrcrawaste", Model.nonrcrawaste != null && (bool)Model.nonrcrawaste) Non-RCRA Waste</td>
            <td><label>Waste Profile Number:</label> @Html.DisplayFor(m => m.wasteprofilenumber, new { @class = "form-control" })</td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="20%"><label>Shipping Description</label></td>
            <td width="20%"><label>Ground</label></td>
            <td width="20%"><label>Air</label></td>
            <td width="20%"><label>Sea</label></td>
            <td width="20%"><label>RCRA</label></td>
        </tr>
        <tr>
            <td>UN Number</td>
            <td>@Html.DisplayFor(m => m.grnunnumber, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.airunnumber, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.seaunnum, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.rcraunnumber, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Proper Shipping Name</td>
            <td>@Html.DisplayFor(m => m.grnshipname, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.airshipname, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.seashipname, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.rcrashipname, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>NOS Name</td>
            <td>@Html.DisplayFor(m => m.grnosname, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.airnosname, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.seanosname, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.rcranosname, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Hazard Class</td>
            <td>@Html.DisplayFor(m => m.grnhazcl, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.airhazcl, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.seahazcl, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.rcrahazcl, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Hazard Sub Class</td>
            <td>@Html.DisplayFor(m => m.grnhazsubcl, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.airhazsubcl, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.seahazsubcl, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.rcrahazsubcl, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Packing Group</td>
            <td>@Html.DisplayFor(m => m.grnpkgrp, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.airpkgrp, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.seapkgrp, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.rcrapkgrp, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Label Required</td>
            <td>@Html.DisplayFor(m => m.grnlabel, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.airlabel, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.sealabel, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.rcralabel, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Subsidiary Label Required</td>
            <td>@Html.DisplayFor(m => m.grnsublabel, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.airsublabel, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.seasublabel, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => m.rcrasublabel, new { @class = "form-control" })</td>
        </tr>
    </table>
</div>

<hr />

<div class="form-group">
    <h3>Product Log</h3>
    @{Html.RenderAction("ProductLogList", "Products", new { id = @Model.productdetailid });}
</div>

<script type="text/javascript">$("#bcTarget").barcode("", "");</script>