@model PagedList.IPagedList<MvcPhoenix.EF.tblProductDetail>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Product Search";
}

<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            @{
                if (Model.Count == 0 || @ViewBag.CurrentFilter == null)
                {
                    <div class="col-md-12">
                        <label class="lead">No products found. Try again.</label>
                    </div>
                }
                else
                {
                    <div class="col-md-12">
                        <label class="lead">Search Results For "@ViewBag.CurrentFilter"</label>
                    </div>
                    <div class="col-md-12 table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Client</th>
                                    <th>Product ID</th>
                                    <th>
                                        Product Code
                                        @*@Html.ActionLink("Product Code", "Search", new { sortOrder = ViewBag.CodeSortParm, currentFilter = ViewBag.CurrentFilter }) <i class="fa fa-sort"></i>*@
                                    </th>
                                    <th>
                                        Product Name
                                        @*@Html.ActionLink("Product Name", "Search", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }) <i class="fa fa-sort"></i>*@
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td data-label="Client">
                                        @Html.DisplayFor(modelItem => item.Company_MDB)
                                    </td>
                                    <td data-label="Product ID">
                                        @Html.DisplayFor(modelItem => item.ProductDetailID)
                                    </td>
                                    <td data-label="Product Code">
                                        @Html.DisplayFor(modelItem => item.ProductCode)
                                    </td>
                                    <td data-label="Product Name">
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </td>
                                    <td data-label="">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductDetailID })
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="col-md-12 text-center">
                        <label>@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</label>
                        @*@Html.PagedListPager(Model, page => Url.Action("Search", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@

                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Search", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.ClassicPlusFirstAndLast,
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "Get",
                                    UpdateTargetId = "dvSearchProduct"
                                }))
                    </div>
                }
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <i class="fa fa-arrow-circle-up"></i> <a href="#top">Back to Top</a>
        <span class="pull-right"><a href="#top">Back to Top</a> <i class="fa fa-arrow-circle-up"></i></span>
    </div>
</div>