@model MvcPhoenix.Models.BulkContainerViewModel
@{
    ViewBag.Title = "Create Packout";

        


}

<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/images/logos/@Model.logofilename" style="width: auto; height: 73px; float: right" alt="@Model.clientname logo">
    </div>
    <div class="col-lg-12">
        <h4 class="page-header">@ViewBag.Title</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Inventory", "Edit", "Inventory", new { id = @TempData["productdetailid"] }, null)
    </div>
</div>


@using (Html.BeginForm("CreateNewPackout", "PackOut", FormMethod.Post))
{

    @Html.HiddenFor(m => m.bulkid)
    <input type="hidden" id="productdetailid" name="productdetailid" value="@TempData["productdetailid"]" />

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i> Packout Parameters</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>Bulk ID</label>
                        </div>
                        <div class="form-group col-md-10">
                            @Html.TextBoxFor(m => m.bulkid, null, new { @class = "form-control", disabled = "disabled", @style = "width:25%;" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>Master Code</label>
                        </div>
                        <div class="form-group col-md-10">
                            @Html.TextBoxFor(m => m.MasterCode, null, new { @class = "form-control", disabled = "disabled", @style = "width:50%;" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>Master Name</label>

                        </div>
                        <div class="form-group col-md-10">
                            
                            @Html.TextBoxFor(m => m.MasterName, null, new { @class = "form-control", disabled = "disabled", @style = "width:50%;" })
                    </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>Bulk Status</label>
                        </div>
                        <div class="form-group col-md-10">
                            @Html.TextBoxFor(m => m.bulkstatus, null, new { @class = "form-control", disabled = "disabled", @style = "width:25%;" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>CMCBE.MDB</label>
                        </div>
                        <div class="form-group col-md-10">
                            @Html.DropDownList("CMCMDB", (List<SelectListItem>)ViewBag.ListOfMDBS, new { @class = "form-control" })
                            @*@Html.TextBox("CMCMDB", (string)@ViewBag.MdbPath, new { @class = "form-control", @style = "width:50%;" })*@
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>&nbsp;</label>
                        </div>
                        <div class="col-md-10">
                            @Html.RadioButton("priority", 1) <span style="color:red;"><label>Priority Red</label></span>
                            <br />
                            @Html.RadioButton("priority", 8) <label>
                                Packout to Stock
                            </label>
                            <br />
                            @Html.RadioButton("priority", 0) <label>Today's Color</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>&nbsp;</label>
                        </div>
                        <div class="col-md-10">
                            <br />
                            @if(Model.bulkstatus == "AVAIL")
                            { 
                                <input type="submit" value="Create PackOut Order" class="btn btn-primary" />
                            }
                            else
                            {
                                <span class="alert-danger"><strong>Current bulk status does not allow creation of a Pack Out Order</strong></span>
                            }

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>&nbsp;</label>
                        </div>
                        <div class="col-md-10">
                            <br />
                            <span class="alert-danger"><strong>@TempData["ResultMessage"]</strong></span>
                        </div>
                    </div>




                </div>


            </div>
        </div>
    </div>

}


