@model MvcPhoenix.Models.BulkOrderItem

@*@using (Ajax.BeginForm("ProcessBulkOrderItemUpdate", "BulkOrders", new AjaxOptions*@
@using (Ajax.BeginForm("ProcessBulkOrderItemUpdate", "Replenishments", new AjaxOptions
{
    UpdateTargetId = "dvOrderSaveResultItem",
    LoadingElementId = "dvspinnerdetail",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "RefreshItemsGrid"
}))
{

    <!-- DO NOT REMOVE -->
    <input type="hidden" id="bulkorderitemid" name="bulkorderitemid" value="@Model.bulkorderitemid" />
    <input type="hidden" id="bulkorderid" name="bulkorderid" value="@Model.bulkorderid" />

    <div class="row">
        <div class="col-md-12">
            <h4>Replenishment Item Edit</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            @Html.LabelFor(m => m.productmasterid)
            @Html.DropDownListFor(m => m.productmasterid, Model.ListOfProductMasters, new { @class = "form-control" })
            @Html.ValidationMessageFor(m=>m.productmasterid)
        </div>
        <div class="col-md-3 form-group">
            @Html.LabelFor(m => m.weight)
            @Html.TextBoxFor(m => m.weight, new { type = "number", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.weight)
        </div>
        <div class="col-md-3 form-group">
            @Html.LabelFor(m => m.itemstatus)
            @Html.DropDownListFor(m => m.itemstatus, Model.ListOfItemStatusIDs, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.itemstatus)
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            @Html.LabelFor(m => m.eta)
            @Html.TextBoxFor(m => m.eta, new { type = "date", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.eta)
        </div>
        <div class="col-md-6 form-group">
            @Html.LabelFor(m => m.datereceived)
            @Html.TextBoxFor(m => m.datereceived, new { @readonly = "readonly", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.datereceived)
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            @Html.LabelFor(m => m.itemnotes)
            @Html.TextAreaFor(m => m.itemnotes, new { maxlength = 150, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.itemnotes)
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <input type="submit" value="Save" class="btn btn-success btn-block form-control" />
            <span id="dvspinnerdetail" style="display:none;">Saving Item</span>
            <span id="dvOrderSaveResultItem"><!-- placeholder for save results from controller --></span>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-danger btn-block form-control" data-dismiss="modal" onclick="RefreshItemsGrid()">Close</button>
        </div>
    </div>

}
<script type="text/javascript">
    function RefreshItemsGrid() {
        // need to pass the BulkOrderID so the partial obj can be rebuilt
        @*url = '@Url.Action("RefreshItemsGrid/" + @Model.bulkorderid, "BulkOrders")';*@
        url = '@Url.Action("RefreshItemsGrid/" + @Model.bulkorderid, "Replenishments")';
        $("#thisgrid").load(url);
    }
</script>