@model List<MvcPhoenix.Models.BulkOrder>

@if (Model.Count < 1)
{
    <div class="panel panel-primary">
        <div class="panel-body">
            <label class="lead">Nothing Found. Try Again.</label>
        </div>
    </div>
}

@if (Model.Count > 0)
{
    <div class="panel panel-primary">
        <div class="panel-body">
            <label class="lead">Showing @Model.Count Results</label>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Client</th>
                            <th>Order ID</th>
                            <th>Supply ID</th>
                            <th>Order Date</th>
                            <th class="text-center">Item Cnt</th>
                            <th class="text-center">Open Cnt</th>
                            <th>Comments</th>
                            <th>Email Sent</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model)
                        {
                            <!-- hightlight todays orders-->
                            var myclass = (item.orderdate.Value.Date == DateTime.Now.Date) ? "text text-success" : "";
                            <tr class="@myclass">
                                <td>@item.clientname</td>
                                <td>@item.bulkorderid.ToString()</td>
                                <td>@item.supplyid</td>
                                <td>@String.Format("{0:dd MMM yyyy}", @item.orderdate)</td>
                                <td class="text-center">@item.itemcount</td>
                                <td class="text-center">@item.opencount</td>
                                <td>@item.ordercomment</td>
                                <td>@item.emailsent</td>
                                <td style="text-align:right">
                                    @Html.ActionLink(" ", "Edit", new { id = @item.bulkorderid }, new { @class = "btn btn-primary fa fa-pencil", @title = "Edit" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span><i class="fa fa-arrow-circle-up"></i> <a href="#top">Back to Top</a></span>
            <span class="pull-right"><a href="#top">Back to Top</a> <i class="fa fa-arrow-circle-up"></i></span>
        </div>
    </div>
}