@model List<MvcPhoenix.Models.BulkOrder>

<div class="col-md-12" style="margin-top:-10px;">
    <label>@Model.Count results</label>
</div>

<div class="table-responsive col-md-12">
    <table class="table table-hover table-striped">
        <tr>
            <th>Client</th>
            <th>Order ID</th>
            <th>SupplyID</th>
            <th>Order Date</th>
            <th class="text-center">Item Cnt</th>
            <th class="text-center">Open Cnt</th>
            <th>Comments</th>
            <th>Email Sent</th>
            <th><i class="fa fa-fw fa-pencil-square-o"></i></th>
        </tr>

        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.clientname</td>
                <td>@item.bulkorderid.ToString()</td>
                <td>@item.supplyid</td>
                <td>@String.Format("{0:dd MMM yyyy}", @item.orderdate)</td>
                <td class="text-center">@item.itemcount</td>
                <td class="text-center">@item.opencount</td>
                <td>@item.ordercomment</td>
                <td>@item.emailsent</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = @item.bulkorderid })</td>
            </tr>
        }
    </table>
</div>