@model List<MvcPhoenix.Models.SuggestedBulkOrderItem>

<div id="dvItemsList">
    <label>Suggested Items | </label>
    @Ajax.ActionLink("+ Add Item", "CreateSuggestedItem", "Replenishments", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        UpdateTargetId = "dialogPlaceholder",
        OnSuccess = "$('#dialogPlaceholderModal').modal('show')"
    })

    <div class="table-responsive">
        <table class="table table-striped table-condensed" style="font-size:.85em;">
            <tr>
                <th class="text-center"><i class="fa fa-fw fa-trash-o"></i></th>
                <th>#</th>
                <th>Mastercode</th>
                <th>Division</th>
                <th>Name</th>
                <th>SupplyID</th>
                <th>Bulk Shipped<br />Per Day</th>
                <th>Shelf Shipped<br />Per Day</th>
                <th>Days<br />Til Expiry</th>
                <th>Lead<br />Time</th>
                <th>Reorder<br />Weight</th>
                <th>Notes</th>
                <th><i class="fa fa-fw fa-pencil-square-o"></i></th>
            </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Ajax.ActionLink(" ", "DeleteSuggestedItem", "Replenishments", new { id = @item.id },
                                new AjaxOptions { UpdateTargetId="dvItemsList", Confirm = "Delete Item?",
                                                    HttpMethod = "GET",
                                                  OnSuccess = "updateItemsList"
                                                }, new { @class = "fa fa-fw fa-minus-circle", @style = "color:red;text-decoration:none;" })
                        </td>
                        <td>@(Model.IndexOf(item) + 1)</td>
                        <td>@item.mastercode</td>
                        <td>@item.division</td>
                        <td>@item.mastername</td>
                        <td>@item.supplyid</td>
                        <td>@item.bulkshippedperday</td>
                        <td>@item.shelfshippedperday</td>
                        <td>@item.usethisdaystilexpiration</td>
                        <td>@item.averageleadtime</td>
                        <td>@item.reorderweight</td>
                        <td>@item.reordernotes</td>
                        <td>
                         @Ajax.ActionLink("Edit", "EditSuggestedItem", "Replenishments", new { id = @item.id },
                                new AjaxOptions { UpdateTargetId = "dialogPlaceholder",
                                                    InsertionMode = InsertionMode.Replace, 
                                                    OnSuccess = "$('#dialogPlaceholderModal').modal('show')" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    <!-- conditionally show this -->
    <div class="row">
        <div class="col-md-12">
        @if (Model.Count == 0)
        {
            <label>No Order Recommendations at @System.DateTime.Now.ToString()</label>        
        }
        @if (Model.Count > 0)
        {
            <br />
            @Html.ActionLink("Create Replenishment Orders(s)", "CreateBulkOrders", "Replenishments", null,
                new { @class = "btn btn-sm btn-primary", onclick = "return confirm('Create Order(s)?')" })
        }
        </div>
    </div>
</div>

<script type="text/javascript">
    function updateItemsList()
    {
        $("#dvItemsList").load('@Url.Action("SuggestedItemsList", "Replenishments")');
    }
</script>