@model MvcPhoenix.Models.SuggestedBulkOrderItem

<div id="dialogPlaceholderModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suggested Replenishment Order Item</h5>
            </div>

            <div id="dialogPlaceholderBody" class="modal-body">
                @using (Ajax.BeginForm("SaveSuggestedItem", "Replenishments", new AjaxOptions {
                    UpdateTargetId = "dvupdateresult",
                    InsertionMode = InsertionMode.Replace,
                }))
                {
                <!-- do not remove -->
                    @Html.HiddenFor(m => m.id)
                    @Html.HiddenFor(m => m.clientid)
                    @*@Html.HiddenFor(m => m.username)*@

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Master Code</label>
                            @Html.DropDownListFor(m => m.productmasterid, Model.ListOfProductMasters, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Re-Order Weight</label>
                            @Html.TextBoxFor(m => m.reorderweight, new { @class = "form-control"})
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Item Notes</label>
                            @Html.TextAreaFor(m => m.reordernotes, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-md-6 form-group">
                            <input id="savebutton" type="submit" value="Save Changes" class="btn btn-block btn-success" />
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="button" value="Close" onclick="CloseForm()" class="btn btn-primary" />
                        </div>
                    </div>
                    <div id="dvupdateresult">
                        <!-- Place holder for controller Save result -->
                    </div>
                }
                </div>
            </div>
    </div>
</div>

<script type="text/javascript">

    @*function RefreshItemsGrid() {
        url = '@Url.Action("SuggestedItemsList", "Replenishments")';
        $("#dvGridPlaceHolder").load(url);
        $("#savebutton").prop('disabled', true);
    }*@

    function CloseForm() {
        // Update the partial, hide the modal
        //$("#savebutton").prop('disabled', true);
        // Hide the modal
        url = '@Url.Action("SuggestedItemsList", "Replenishments")';
        $("#dvGridPlaceHolder").load(url);
        $('#dialogPlaceholderModal').modal('hide')
    }
</script>