@model MvcPhoenix.Models.SuggestedBulkOrderItem
@*@using (Ajax.BeginForm("SaveSuggItem", "BulkOrders",*@


@using (Ajax.BeginForm("SaveSuggItem", "Replenishments",
    new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dvupdateresult"
    }))
{
    <!-- do not remove -->
    @Html.HiddenFor(m => m.id)
    @Html.HiddenFor(m => m.clientid)

    <div class="row">
        <div class="col-md-6 form-group">
            <label>Master Code</label>
            @Html.DropDownListFor(m => m.productmasterid, Model.ListOfProductMasters, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.productmasterid)
        </div>
        <div class="col-md-6 form-group">
            <label>Re-Order Weight</label>
            @Html.TextBoxFor(m => m.reorderweight, new { @class = "form-control", type = "number", min = "0", max = "999" })
            @Html.ValidationMessageFor(m => m.reorderweight)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label>Item Notes</label>
            @Html.TextAreaFor(m => m.notes, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.notes)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <input type="submit" value="Save Changes" class="btn btn-block btn-success" />
        </div>
        <div class="col-md-6 form-group">
            <input type="button" value="Close" class="btn btn-block btn-danger" onclick="UpdateGrid()" />
        </div>
    </div>
    <div id="dvupdateresult">
        <!-- Place holder for string returned from controller from Save operation -->
    </div>
}

<script type="text/javascript">
    function UpdateGrid() {
        // The target div is NOT in this View, its in the parent (I dont like this)
        // no good IIS var URL = "/BulkOrders/UpdateGrid";
        @*var URL = '@Url.Action("UpdateGrid", "BulkOrders")';*@
        var URL = '@Url.Action("UpdateGrid", "Replenishments")';
        $('#dvGridPlaceHolder').load(URL);
        $('#modalouter').modal('hide')
    }
</script>