@model MvcPhoenix.Models.SuggestedBulkOrder
@{
    ViewBag.Title = "Create Replenishment Order";
}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="cmc logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Replenishments Main", "Index")
        </div>
    </div>

    @*@using (Ajax.BeginForm("CreateSuggestedOrder", "BulkOrders",*@
    @using (Ajax.BeginForm("CreateSuggestedOrder", "Replenishments", new AjaxOptions
    {
        UpdateTargetId = "dvGridPlaceHolder",
        LoadingElementId = "dvspinner",
        OnBegin = "ClearGridAndAddButton()",
        OnSuccess = "ShowAddButton()"
    }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i>Generate Suggested Replenishment Order</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Client</label>
                                @Html.DropDownListFor(m => m.clientid, Model.ListOfClients, new { onchange = "GetDivisions()", id = "ClientID", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.clientid)
                            </div>
                            <div class="form-group col-md-6">
                                <label class="invisible">.</label>
                                <div id="dvDivisions">
                                    <select name="DivisionID" id='DivisionID' class='form-control'>
                                        <option>Division</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="invisible">.</label>
                                <input id="btnsubmit" type="submit" value="Create" class="btn btn-success btn-block form-control" style="display:none;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 text-center" id="dvspinner" style="display:none; font-size:large">
            <i class="fa fa-circle-o-notch fa-5x fa-spin"></i> Processing...
        </div>
    }

    <!-- set intial display:none and change in ajax event (move to partial?) -->
    <div class="row">
        <div id="dvAddButton" style="display:none" class="col-md-3 form-group">
            <button class="btn btn-primary btn-block" onclick="SetupAddMode()">Add Product to Order</button>
        </div>
        <div class="clearfix"></div>
    </div>
    

    <div id="dvGridPlaceHolder" class="row">
        <!-- Placeholder for _SuggestedItems.cshtml -->
    </div>

    <!-- this div is a bootstrap modal (ajax content MUST be pushed into the inner div) -->
    <div class="modal" id="modalouter" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="modalinner" style="background-color:white;">
                        <!-- Placeholder for _SuggestedItemEdit.cshtml -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        function GetDivisions() {
            // temporarily hide the add button
            $('#dvAddButton').css({ 'display': 'none' });

            // empty the placeholder (visual only)
            document.getElementById("dvGridPlaceHolder").innerHTML = "";

            // if client is selected do the work
            if ($("#ClientID").val() > 0) {
                // show the button
                $('#btnsubmit').css({ 'display': 'inline-block' })
                // go get the data

                //  will not work in IIS var URL = "/BulkOrders/BuildDivisionDropDown/" + $("#ClientID").val();
                @*var URL = '@Url.Action("BuildDivisionDropDown", "BulkOrders", new { id = "-1" })';*@
                var URL = '@Url.Action("BuildDivisionDropDown", "Replenishments", new { id = "-1" })';
                URL = URL.replace('-1', $('#ClientID').val());

                $('#dvDivisions').load(URL);
            }
        }

        function ShowAddButton() {
            $('#dvAddButton').css({ 'display': 'inline-block' });
        }

        function ClearGridAndAddButton() {
            $('#dvAddButton').css({ 'display': 'none' });
            document.getElementById("dvGridPlaceHolder").innerHTML = "";
        }

        function SetupAddMode() {
            // build a new obj and show modal (have to replace cause action params are static)
            @*var URL = '@Url.Action("SetupNewItem", "BulkOrders", new { clientid = "-1" })';*@
            var URL = '@Url.Action("SetupNewItem", "Replenishments", new { clientid = "-1" })';
            URL = URL.replace('-1', $('#ClientID').val());
            $('#modalinner').load(URL);
            $('#modalouter').modal('show')
        }
    </script>
}