@model MvcPhoenix.Models.BulkOrder
@{
    ViewBag.Title = "Replenishment Order";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/@Model.logofilename" style="width: auto; height: 73px; float: right" alt="@Model.clientname logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title: @Model.bulkorderid.ToString()
            </h1>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12 row">
            <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Replenishments Main", "Index")
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i>Order Header</h3>
                </div>
                <div class="panel-body" style="margin-bottom:-20px;">
                    @using (Html.BeginForm("Save", "Replenishments"))
                    {
                        <!-- DO NOT REMOVE -->
                        <input type="hidden" id="clientid" name="clientid" value="@Model.clientid" />
                        <input type="hidden" id="bulkorderid" name="bulkorderid" value="@Model.bulkorderid" />
                        <input type="hidden" id="orderdate" name="orderdate" value="@Model.orderdate" />

                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Order Date</label>
                                <label class="form-control">@String.Format("{0:dd MMM yyyy}", @Model.orderdate)</label>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Supplier</label>
                                @Html.DropDownListFor(m => m.supplyid, Model.ListOfSupplyIDs, new { onchange = "GetSupplyIDEmail()", @class = "form-control" })
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Supplier Email</label>
                                @Html.TextBoxFor(m => m.bulksupplieremail, new { @class = "form-control" })
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Last Email Sent Date</label>
                                @Html.TextBoxFor(m => m.emailsent, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Order Comments</label>
                                @Html.TextAreaFor(m => m.ordercomment, new { rows = "4", maxlength = 1000, @class = "form-control", placeholder = "Enter any order level comments here; 1000 chars max" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <input id="btnSave" name="btnSave" type="submit" value="Save Changes" class="btn btn-success btn-block" />
                            </div>
                            <div class="col-md-4">
                                <input id="btnSaveAndEmail" name="btnSave" type="submit" value="Send Email" class="btn btn-info btn-block" />
                            </div>
                            <div class="col-md-4">
                                @Html.ActionLink("Cancel", "Index", "Replenishments", null, new { @class = "btn btn-danger btn-block", onclick = "return confirm('Cancel?')" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12 text-center" id="dvspinner" style="display:none; font-size:large">
                            <i class="fa fa-circle-o-notch fa-5x fa-spin"></i> Saving...
                        </div>
                        <div class="col-md-12 text-center form-group">
                            <strong>
                                <span id="dvOrderSaveResult">
                                    @TempData["SaveResult"]
                                </span>
                            </strong>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    @{Html.RenderAction("BulkItemsList", "Replenishments", new { id = @Model.bulkorderid });}
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    function GetSupplyIDEmail() {
        var myurl = '@Url.Action("GetSupplyIDEmail", "Replenishments")';

        $.get(myurl,
            { clientid: $("#clientid").val(), supplyid: $("#supplyid").val() },
            function (result) {
            $("#bulksupplieremail").val(result)
        });
    }
</script>