@model MvcPhoenix.Models.BulkOrderEmailViewModel

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Send Replenishment Email</h1>
        </div>
    </div>

    @using (Html.BeginForm("Email", "Replenishments"))
    {
        @Html.HiddenFor(m => m.bulkorderid)

        <div class="row">
            <div class="col-md-6 form-group">
                <label>From:</label>
                @Html.TextBoxFor(m => m.FromAddress, new { @class = "form-control", @type = "email", @required = "required" })
                @Html.ValidationMessageFor(m => m.FromAddress)
            </div>
            <div class="col-md-6 form-group">
                <label>To:</label>
                @Html.TextBoxFor(m => m.ToAddress, new { @class = "form-control", @type = "email", @required = "required" })
                @Html.ValidationMessageFor(m => m.ToAddress)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label>Subject:</label>
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(m => m.Subject)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        @Html.Raw(@Model.MessageBody)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <input id="btnSend" name="btnSend" type="submit" value="Send Email" class="btn btn-success btn-block" onclick="$('#loadingspinner').show();" />
            </div>
            <div class="col-md-6">
                <input type="button" class="btn btn-danger btn-block" onclick="location.href = 'javascript:history.back()'; return confirm('Cancel?')" value="Cancel Email" />
            </div>
        </div>
    }
</div>