@{
    ViewBag.Title = "Replenishments";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="acme logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            @Html.ActionLink("New Replenishment Order(s)", "Create", "Replenishments", null, new { @class = "btn btn-success btn-block form-control" })
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i>Quick Search</h3>
                </div>
                <div class="panel-body">
                    @using (Ajax.BeginForm("SearchResultsUserCriteria", "Replenishments", new {mode="User"},
                    new AjaxOptions
                    {
                        UpdateTargetId = "dvGridPlaceHolder",
                        InsertionMode = InsertionMode.Replace,
                        OnBegin = "$('dvGridPlaceHolder').empty()",
                        LoadingElementId = "dvspinner",
                     HttpMethod="POST"
                     }))
                    {
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Client</label>
                                @Html.DropDownList("clientid", (List<SelectListItem>)ViewBag.ListOfClients, new { onchange = "$('#dvGridPlaceHolder').html('')", @class = "form-control" })
                            </div>
                            <div class="form-group col-md-3">
                                <label>Rows</label>
                                <input type="number" id="ordercount" name="ordercount" value="10" class="form-control" />
                            </div>
                            <div class="form-group col-md-3">
                                <label class="invisible">.</label>
                                <input id="btnsubmit" type="submit" value="Search" class="btn btn-success form-control" />
                            </div>
                        </div>
                        
        }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i>Filter Search</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="invisible">.</label>
                            @Ajax.ActionLink("Last 10 Orders", "SearchResults", "Replenishments",new { mode="LastTen" }, new AjaxOptions
                             {
                                 UpdateTargetId = "dvGridPlaceHolder",
                                 LoadingElementId = "dvspinner",
                                 InsertionMode = InsertionMode.Replace,
                                 OnBegin = "$('#dvGridPlaceHolder').empty()",
                                 HttpMethod = "GET",
                             }, new { @class = "btn btn-info form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="invisible">.</label>
                            @Ajax.ActionLink("Un-Confirmed", "SearchResults", "Replenishments", new { mode = "UnConfirmed" }, new AjaxOptions
                             {
                                 UpdateTargetId = "dvGridPlaceHolder",
                                 LoadingElementId = "dvspinner",
                                 InsertionMode = InsertionMode.Replace,
                                 OnBegin = "$('#dvGridPlaceHolder').empty()",
                                 HttpMethod = "GET",
                             }, new { @class = "btn btn-info form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="invisible">.</label>
                            @Ajax.ActionLink("Open Items", "SearchResults", "Replenishments", new { mode = "OpenOnly" }, new AjaxOptions
                             {
                                 UpdateTargetId = "dvGridPlaceHolder",
                                 LoadingElementId = "dvspinner",
                                 InsertionMode = InsertionMode.Replace,
                                 OnBegin = "$('#dvGridPlaceHolder').empty()",
                                 HttpMethod = "GET",
                             }, new { @class = "btn btn-info form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 text-center" id="dvspinner" style="display:none;">
        <i class="fa fa-circle-o-notch fa-1x fa-spin"></i> Processing...
    </div>

    <div id="dvGridPlaceHolder" class="row">
        @Html.Action("SearchResults", "Replenishments", new { mode = "Initial" })
    </div>
</div>