@model List<MvcPhoenix.Models.Cas>

<div id="dvCasList">
    <div class="row">
        <div class="col-md-3 pull-right">
            @Ajax.ActionLink("+ Add New Cas", "CreateCAS", "Product", new { id = ViewBag.ParentKey }, new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                    UpdateTargetId = "dialogPlaceholder",
                    OnSuccess = "$('#dialogPlaceholderModal').modal('show')"
                }, new { @class = "btn btn-primary btn-block" })
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th id="noprint"></th>
                    <th width="10%">CAS/EC Number</th>
                    <th>Chemical<br />Name</th>
                    <th id="noprint">Label<br />Exclude</th>
                    <th>Less<br />Than</th>
                    <th>Percentage</th>
                    <th>Reportable<br />Qty</th>
                    <th>Reportable<br />Amt</th>
                    <th>Restricted<br />Qty</th>
                    <th>Restricted<br />Amt</th>
                    <th id="noprint"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td id="noprint">
                            @Ajax.ActionLink(" ", "DeleteCAS", "Product", new { id = @item.casid },
                             new AjaxOptions
                             {
                                 Confirm = "Delete This CAS/EC Entry?",
                                 HttpMethod = "GET",
                                 OnSuccess = "UpdateCasList"
                             }, new { @class = "fa fa-fw fa-minus-circle", @style = "color:red;text-decoration:none;", @title = "Delete" })
                        </td>
                        <td>@item.casnumber</td>
                        <td>@item.chemicalname</td>
                        <td id="noprint"><input type="checkbox" checked="@item.excludefromlabel" disabled="disabled"></td>
                        <td><input type="checkbox" checked="@item.lessthan" disabled="disabled"></td>
                        <td>@item.percentage</td>
                        <td><input type="checkbox" checked="@item.reportableqty" disabled="disabled"></td>
                        <td>@item.reportableamount</td>
                        <td><input type="checkbox" checked="@item.restrictedqty" disabled="disabled"></td>
                        <td>@item.restrictedamount</td>
                        <td id="noprint" style="text-align:right">
                            @Ajax.ActionLink(" ", "EditCAS", "Product", new { id = @item.casid }, new AjaxOptions
                               {
                                   InsertionMode = InsertionMode.Replace,
                                   HttpMethod = "GET",
                                   UpdateTargetId = "dialogPlaceholder",
                                   OnSuccess = "$('#dialogPlaceholderModal').modal('show')"
                               }, new { @class = "btn btn-primary fa fa-pencil", @title = "Edit" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function UpdateCasList() {
        $("#dvCasList").load('@Url.Action("CasList", "Product", new { id = @ViewBag.ParentKey })');
    }
</script>