@model MvcPhoenix.Models.Cas

<div id="dialogPlaceholderModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("SaveCAS", "Product", new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "dialogResult",
                    OnSuccess = "UpdateCasList",
                    InsertionMode = InsertionMode.Replace

                }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">CAS / EC Entry</h4>
                </div>
                <div id="dialogPlaceholderBody" class="modal-body">

                    @Html.HiddenFor(m => m.casid)
                    @Html.HiddenFor(m => m.productdetailid)

                    <div class="row">
                        <div class="col-md-9 form-group">
                            <label>CAS / EC Number</label>
                            @Html.TextBoxFor(m => m.casnumber, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Excl From Label</label>
                            @Html.CheckBox("excludefromlabel", Model.excludefromlabel != null && (bool)Model.excludefromlabel)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Chemical Name</label>
                            @Html.TextBoxFor(m => m.chemicalname, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Less Than</label>
                                    @Html.CheckBox("lessthan", Model.lessthan != null && (bool)Model.lessthan, new { @class = "checkbox" })
                                </div>
                                <div class="col-md-12">
                                    <label>Percentage</label>
                                    @Html.TextBoxFor(m => m.percentage, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Reportable Qty</label>
                                    @Html.CheckBox("reportableqty", Model.reportableqty != null && (bool)Model.reportableqty, new { @class = "checkbox" })
                                </div>
                                <div class="col-md-12">
                                    <label>Reportable Amt</label>
                                    @Html.TextBoxFor(m => m.reportableamount, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Restricted Qty</label>
                                    @Html.CheckBox("restrictedqty", Model.restrictedqty != null && (bool)Model.restrictedqty, new { @class = "checkbox" })
                                </div>
                                <div class="col-md-12">
                                    <label>Restricted Amt</label>
                                    @Html.TextBoxFor(m => m.restrictedamount, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <span id="dialogResult" hidden></span>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function UpdateCasList() {
        // Update the list
        $("#dvCasList").load('@Url.Action("CasList", "Product",new{id=@Model.productdetailid})');

        // Activate to hide the modal after list update
        $("#dialogPlaceholderModal").modal('hide');
    }
</script>