@model PagedList.IPagedList<MvcPhoenix.Models.ClientProductXRef>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Product Cross Reference";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="cmc logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 form-group">
            <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Products Index", "Index")
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            @using (Html.BeginForm("XRefList", "Product", FormMethod.Get))
            {
                <div class="input-group">
                    @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search Client, Product Code or Name" })
                    <div class="input-group-btn">
                        <input type="submit" value="Search" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
        <div class="col-md-3 pull-right form-group">
            @Ajax.ActionLink("+ Add Product XRef", "CreateXref", "Product", null, new AjaxOptions
                                    {
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "GET",
                                        UpdateTargetId = "dialogPlaceholder",
                                        OnSuccess = "$('#dialogPlaceholderModal').modal('show')"
                                    }, new { @class = "btn btn-primary btn-block", @title = "Add Product Cross Reference" })
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th id="noprint"></th>
                            <th>ID</th>
                            <th>Client ID</th>
                            <th>Client Name</th>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Product Code</th>
                            <th>Size</th>
                            <th>Client Product Code</th>
                            <th>Client Product Name</th>
                            <th>Client Size</th>
                            <th id="noprint"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td id="noprint">
                                    @Ajax.ActionLink(" ", "DeleteXRef", "Product", new { id = @item.ProductXRefID },
                                     new AjaxOptions
                                     {
                                         Confirm = "Delete This XRef Entry?",
                                         HttpMethod = "GET",
                                         OnSuccess = "UpdateXRefList"
                                     }, new { @class = "fa fa-fw fa-minus-circle", @style = "color:red;text-decoration:none;", @title = "Delete" })
                                </td>
                                <td>@item.ProductXRefID</td>
                                <td>@item.ClientID</td>
                                <td>@item.ClientName</td>
                                <td>@item.ProductID</td>
                                <td>@item.ProductName</td>
                                <td>@item.CMCProductCode</td>
                                <td>@item.CMCSize</td>
                                <td>@item.ClientProductCode</td>
                                <td>@item.ClientProductName</td>
                                <td>@item.ClientSize</td>
                                <td id="noprint" style="text-align:right">
                                    @Ajax.ActionLink(" ", "EditXref", "Product", new { id = @item.ProductXRefID }, new AjaxOptions
                                    {
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "GET",
                                        UpdateTargetId = "dialogPlaceholder",
                                        OnSuccess = "$('#dialogPlaceholderModal').modal('show')"
                                    }, new { @class = "btn btn-primary fa fa-pencil", @title = "Edit" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="text-center">
        <label>@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</label>
        @Html.PagedListPager(Model, page => Url.Action("XRefList", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>

<script type="text/javascript">
    function UpdateXRefList() {
        window.location.reload();
    }
</script>